/**
 * Pre-Orders
 *
 * @category:    Aitoc
 * @package:     Aitoc_Aitpreorder
 * @version      1.2.11
 * @license:     n/a
 * @copyright:   Copyright (c) 2015 AITOC, Inc. (http://www.aitoc.com)
 */
.product-options p.required {
    margin-bottom: 0;
    padding: 15px 0 0;
    position: static
}
.products-grid .price-box .pre-order, .quick-product .price-box .pre-order, .catalog-product-view .price-box .pre-order{
    display: none;
}
.catalog-product-view .price-box .pre-order{
    position: absolute;
    left: -122px;
    top: -5px;
    font-size:0.0001em!important;
    background: url("../images/pre-order-label.png") no-repeat center;
    width: 100px;
    height: 100px;
}
.product-page-pre-order-label{
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 999;
}
.quickview-pre-order-label{
    position: absolute;
    right: 24px;
    top: 14px;
}
.catalog-product-view .product-buttons .pre-order-button{
    width: 175px;
}
.quick-product .product-right .product-buttons .pre-order-button{
    width: 232px;
}
.cart-pre-order-mgs{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
