@media (min-width: 992px) {
    .show-sticky-logo{
        margin: 0 40px 0 20px;
    }
    .sticky .main-navigation {
        margin-top: -3px;
    }
    .subfooter-container .seals{
        border-right: 1px solid #ccc;
        max-width: 245px;
        margin-right: 5px;
    }
    .cms-contact-us .account-forms1{
        margin-right: 20px;
    }
    .cms-contact-us .account-forms2{
        margin-left: 20px;
    }
    .cms-return-policy .cms-contents{
        margin: 20px 117px;
    }
    .top-category-image-description{
        margin-bottom: 30px;
    }
}
@media (min-width: 1200px) {
    .cms-about-us .col-main .std p:nth-child(2){
        width: 70%;
        margin: 20px auto 0;
    }
    .cms-about-us .col-main .std p:nth-child(3){
        margin: 0 200px;
        padding: 0 30px 50px!important;
    }
    .top-category-image-description .brand-image{
        min-height: 638px;
    }
    #category-img-width{
        opacity: 0.5;
    }
}
@media (min-width: 991px) and (max-width: 1199px){
    .giftcard-fieldset select {
        width: 250px;
    }
    .giftcard-fieldset textarea,
    .giftcard-fieldset .input-text {
        width: 250px;
    }
    .top-category-image-description-content .col-xxs-12.col-sm-8{
        margin: 0;
    }
    .top-category-image-description-content .category-image{
        padding: 0 20px 0 40px;

    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .what-s-hot{
        width: 75%;
    }
    .sticky .main-navigation #nav .level0 a.level-top{
        display: block;
        font-size: 13px;
    }
    #nav > li .level0{
        top: 48px;
    }
    .show-sticky-logo{
        margin-right: 20px;
    }
    .sticky .main-navigation {
        margin-top: -2px;
    }

}
@media (min-width: 481px)  and (max-width: 999px){
    .gessato-tabs ul.tabs li{
        width: 50%;
        float: left;
    }
    .gessato-tabs ul.tabs li:nth-child(3) a{
        padding-left: 0;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .quick-add-buttons{
        margin-top: 0;
        padding-top: 0;
    }
    .quick-add-buttons .super-button{
        padding: 8px 20px;
    }
    .sunflower-subscribe form input{
        width: 260px;
    }
    .sunflower-subscribe{
        width: 440px;
    }
}
@media (min-width: 768px) {
    .sticky-logo {
        display: none;
    }
     .sticky-logo > img {
        width: 100px;
    }

    .nav-container #search_mini_form i.fa.fa-search{
        padding: 0!important;
    }
    .product-description{
        padding: 15px 30px 0;
    }
    .shad-sub-category{
        position: absolute;
        top: 0;
        left: 0;
        height: 10px;
        width: 100%;
        background: url(../images/big_shadow.png) no-repeat top center;
        z-index: 99;
    }
    .sticky #nav > li{
        padding: 18px 10px;
    }
    .sticky #nav > li .level0{
        top: 49px;
    }
    .sticky{
        padding: 8px 0 0;
    }
    .header-wrapper .shad-fixed{
        top: 57px!important;
    }
    .cart-empty{
        min-height: 450px!important;
    }
}
@media (max-width: 1199px) {
    .related-product-slider-header .related-title{
        margin: 0 40px;
    }
}
@media (max-width: 991px){
    .top-link-container .links li:first-child{
        display: none;
    }
    .sticky-logo .logo a.logo img{
        width: 100px;
    }
    a.quick-view{
        display: none!important;
    }
    a.quick-view-nav{
        display: none!important;
    }
    #magestore-popup{
        top: 20px!important;
        position: absolute!important;
    }
    .subfooter-container .payment-verify-logo, .subfooter-container .payment-footer-logo, .subfooter-container .subfooter{
        text-align: center;
    }
    .subfooter-container .payment-footer-logo img{
        margin: auto;
    }
    .products-gift-list-content a img{
        display: block;
        width: 100%;
        height: auto;
    }
    .prod-shop-gift-cards{
        text-align: left;
    }
    .cart-page-content {
        margin: 0;
    }
    .catalog-category-view .brand-image{
        display: none;
    }
    .catalog-category-view .top-category-image-description-content{
        position: static;
    }
    .catalog-category-view .top-category-image-description-content .category-name{
        display: none;
    }
    .top-category-image-description-content .category-description {
        background: #efeff0 none repeat scroll 0 0;
        float: left;
        font-family: "Open Sans",sans-serif;
        line-height: 1.5;
        padding: 15px;
        text-align: justify;
        font-size: 14px;
        color: #888;
        margin: 0;
    }
    .top-category-image-description-content .category-image{
        padding: 0;
    }
}
@media (max-width: 767px){
    .nav-wrapper.container{
        padding: 0;
    }
    .nav-container .row{
        margin-left: 0;
        margin-right: 0;
    }
    .header .sticky-logo{
        padding-left: 10px;
    }
    .header-wrapper .shad-fixed {
        top: 45px!important;

    }
    .payment-verify-logo, .subfooter{
        text-align: center;
    }
    .header-container{
        padding: 0;
    }
    .nav-container .search_mini_form .form-search button{
        padding: 0;
    }
    .search_mini_form {
        margin: 0;
    }
    .search_mini_form .form-search input {
        top: 7px;
        z-index: 999;
    }
    .nav-container .cart-box {
        top: 45px;
        right: 0px;
        left: 0;
    }
    .cart-box .block-cart .arrow-cart{
        display: none;
    }
    .mobile-cart-top #cartboxUpdate .block-cart{
        width: 100%!important;
    }
    .sunflower-subscribe .subscribe-left{
        text-align: center;
        margin-bottom: 20px;
    }
    .sunflower-subscribe .subscribe-right{
        text-align: center;
    }
    .sunflower-subscribe .subscribe-left .input-box{
        float: none!important;
    }
    .sunflower-subscribe .subscribe-right .actions{
        float: none!important;
    }
    .quick-add{
        margin-top: 10px;
        padding-bottom: 0;
    }
    .checkout-cart-index .cart #cart-table thead tr:first-child th{
        display: block;
        text-align: left;
        width: 100%;
    }
    .checkout-cart-index .cart #cart-table thead tr:first-child th:nth-child(2){
        display: none;
    }
    .checkout-cart-index .cart #cart-table thead tr:first-child th span{
        width: 100%;
    }
    .checkout-cart-index .cart #cart-table tbody .row-with-image td{
        display: block;
        width: 100%;
    }
    .quick-add h1{
        max-width: 300px;
    }
    .checkout-cart-index .cart #cart-table tbody .row-with-image .table-image .product-image{
        margin: 0 auto;
    }
    .checkout-cart-index .cart #cart-table tbody .row-with-image .large{
        text-align: center;
    }
    .checkout-cart-index .cart #cart-table tbody .row-with-image .table-image{
        max-width: 100%;
    }
    .row-with-image td + td {
        padding: 10px 15px !important;
    }
    .checkout-cart-index .cart .cc-list{
        float: right;
        clear: both;
        margin: 0 0 20px;
    }
    .gessato-tabs .tab-content{
        margin-bottom: 20px;
    }
    .my-account #my-orders-table colgroup{
        display: none;
    }
    .my-account #my-orders-table thead tr th{
        display: block;
        margin: 0;
    }
    .my-account #my-orders-table tbody tr td{
        display: block;
        width: 100%;
    }
    .my-account #wishlist-table thead{
        display: none;
    }
    .my-account #wishlist-table tbody tr td{
        display: block;
        width: 100%;
    }
    .my-account #wishlist-table tbody tr td.wishlist-buttons{
        text-align: left!important;
    }
    .thank-you p, .thank-you h2{
        padding: 0;
    }
    div.affiliates-cont {
        margin: 0 10px;
    }
    .products-gift-list .item{
        margin-bottom: 20px;
    }
    .gift-print .comic, .gift-email .comic{
        display: none;
    }
    .category-gift-cards .freq-questions{
        padding: 0!important;
    }
    .category-gift-cards .products-gift-list{
        padding-bottom: 0;
    }
    .prod-shop-gift-cards .giftcard-info label{
        float: none;
        text-align: left;
        padding: 0;
        margin-right: 0;
    }
    .prod-shop-gift-cards .add-to-cart label{
        text-align: left;
        width: 50px;
    }
    .prod-gift .input-text.qty{
        margin: 0 10px;
    }
    .product-view-gift .prod-img-gift-cards{
        padding: 0!important;
    }
    .product-view-gift .product-image-big img{
        margin: 30px 0 0 15px;

    }
    .product-view-gift .account-forms.prod-gift{
        margin: 20px 0!important;
    }
    .giftcard-fieldset .preview-gift{
        text-align: left;
        margin-left: 5px;
    }
    .related-product-slider-header .related-title{
        margin: 0 10px;
    }
    .related-product-slider-wrapper .bx-wrapper{
        padding: 30px 0;
    }
    .top-category-image-description-content .col-xxs-12.col-sm-8{
        margin: 0;
    }
    .brand-related-product{
        padding: 0;
    }
}
@media (max-width: 480px){
    .header .container:nth-child(2){
        padding-left: 0;
        padding-right: 0;
    }
    .header .container:nth-child(2) .row{
        margin-left: 0;
        margin-right: 0;
    }
    .header .container:nth-child(2) .row .col-xxs-12{
        padding-left: 0;
        padding-right: 0;
    }
    .main.container{
        margin-bottom: 20px;
    }
    .sunflower-subscribe form input{
        width: 260px!important;
    }
    .quick-add h1{
        font-size: 18px;
    }
    .quick-add-buttons{
        float: none;
        margin-top: 0;
        padding-top: 0;
    }
    .quick-add-buttons .super-button{
        padding: 8px 10px;
    }
    .checkout-cart-index .cart .cc-list{
        float: none;
        padding: 10px;
    }
    .checkout-cart-index .cart .cc-list img{
        float: none;
        clear: both;
        margin: 0;
    }
    .gessato-tabs ul.tabs li{
        width: 100%;
        float: left;
    }
    .gessato-tabs ul.tabs li a{
        padding-left: 0;
    }
    .sunflower-subscribe #SignUp{
        text-align: center;
    }
    .sunflower-subscribe #SignUp .input-box{
        float: none;
    }
    .sunflower-subscribe #SignUp .actions{
        float: none;
        margin-top: 15px;
    }
    .sunflower-subscribe{
        margin: 20px auto 0;
        width: auto;
        padding: 15px;
    }
    #have-a-question-form label, .col-main label{
        text-align: left;
        padding-left: 0;
        margin-bottom: 10px;
    }
    .account-forms{
        padding: 20px 10px 80px;
    }
    .new-users .content, .registered-users .content{
        min-height: 340px;
    }
    .account-title-container .inverse{
        margin-left: 0;
        margin-right: 0;
        padding: 12px 10px;
    }
    .sidebar .block-account{
        padding-left: 0;
        padding-right: 0;
    }
    .account-create .form-validate label{
        width: 160px;
    }
    .account-forms .buttons-set{
        margin-top: 0;
    }
    #search_new_form input {
        width: 100%;
        margin-bottom: 15px;
    }
    div.note-msg{
        background: #f6f6f6;
        max-height: 350px;
    }
    #search_new_form{
        margin-top: 20px;
    }
    .bx-wrapper .bx-controls-direction a{
        display: none;
    }
    .related-product-slider-wrapper .bx-wrapper .bx-controls-direction a{
        display: block;
        margin-top: -16px;
        width: 20px;
    }
    .related-product-slider-wrapper .bx-wrapper .bx-prev, .related-product-slider-wrapper .bx-wrapper .bx-next{
        background-size: 20px 36px;
    }
    .product-view-gift .product-image-big{
        margin: 15px;

    }
    .product-view-gift .product-image-big img, .product-view-gift .prod-img-gift-cards img{
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
    }
    .prod-shop-gift-cards{
        padding: 0 10px 10px;
    }
    .giftcard-fieldset select{
        width: 100%;
    }
    .giftcard-fieldset textarea, .giftcard-fieldset .input-text{
        width: 100%;
    }
    .giftcard-fieldset input#mail_delivery_date{
        width: 87%;
    }
    .prod-shop-gift-cards .add-to-cart label{
        width: 20px;
    }
    .catalog-product-view .product-view-bottom{
        padding-bottom: 0;
    }
    .related-product-slider-wrapper .related-title h2{
        padding: 10px;
    }
}
@media (max-width: 320px){
    .header-box-sticky .mobile-cart-top{
        margin-right: 5px!important;
    }
    .sunflower-subscribe form input{
        width: 250px!important;
    }
    .quick-add h1{
        max-width: 200px;
    }
}
