#esns_background_layer {
    position: absolute;
    z-index: 9998;
    background: url(../images/newssubscribers/esns_dark2.png);
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    text-align: center;
    top: 0;
    left: 0;
    display: none;
}

#esns_box_layer {
    z-index: 9999;
    background: transparent url("../images/newsletter-modal_bg.png") no-repeat center;
    width: 582px;
    height: 372px;
    overflow: hidden;
    top: 0;
    text-align: center;
    display: inline-block;
    /*padding: 10px;*/
    font-family: 'dincond-lightregular';
    font-weight: normal;
    font-size: 14px;
}
#esns_background_layer #esns_box_layer.after-sub{
   width: 514px;
   height: 320px;
   background: #fff;
    border-top: 6px solid #51c6f4;
}
#esns_background_layer #esns_box_layer.after-sub .content-popup-ns{
    margin: 38px;
}
#esns_box_layer .content-popup-ns{
    margin: 70px 0 0 80px;
    position: relative;
}
#esns_box_title {
    /*width: 440px;*/
    height: auto;
    overflow: hidden;
    margin-left: 170px;
    margin-right: 30px;
    /*background: url(../images/newssubscribers/esns_box_block1.png) no-repeat right top;*/
}
#esns_background_layer #esns_box_layer.after-sub #esns_box_title{
    margin: 0;
}
#esns_box_block_1 {
    color: #000;
    font-size: 56px;
    text-align: left;
    text-transform: uppercase;
    margin: 10px 0
}

#esns_box_block_2 {
    color: #aaa;
    font-size: 32px;
    height: auto;
    text-align: left;
}

#esns_box_block_3 {
    font-family: 'din_lightregular';
    color: #888;
    font-size: 11px;
    height: auto;
    margin: 0 60px 0 40px;
    text-align: left;
    line-height: 14px;
}

#esns_box_close {
    height: 17px;
    width: 17px;
    background: url(../images/newssubscribers/close_sub.png) no-repeat;
    cursor: pointer;
    /*float: right;*/
    position: absolute;
    right: 10px;
    top: -10px;
}
#esns_background_layer #esns_box_layer.after-sub #esns_box_close{
    right: -25px;
    top: -30px;
}
#esns_box_subscribe {
    height: auto;
    overflow: hidden;
    margin: 0 61px 0 37px;
    padding: 30px 0;
    position: relative;
}

#esns_box_subscribe_input {
    /*width: 340px;*/
    float: left;
    clear: both;
}

#esns_box_subscribe_input input {
    font-family: "dincond-lightregular";
    font-size: 26px;
    width: 220px;
    /*margin: 0 5px 10px 20px;*/
    border: 1px solid #ccc;
    /*padding: 8px;*/
    color: #888;
    height: 48px;
    letter-spacing: -1px;
}

#esns_box_subscribe_submit {
    float: left;
}

#esns_box_subscribe_submit a {
    font-family: "dinregular";
    background: none repeat scroll 0 0 #51c6f4;
    color: #fff;
    display: block;
    font-size: 20px;
    margin-left: 15px;
    padding: 0 15px;
    height: 48px;
    text-transform: uppercase;
    border: 1px solid #3cf;
    line-height: 48px;
    font-weight: normal;

}

#esns_box_subscribe_response {
    text-align: left;
    margin: 10px 0 0 30px;
    height: 15px;
}

#esns_box_subscribe_response_success {
    display: none;
}

#esns_box_subscribe_response_error {
    color: #ea6868;
    text-align: left;
    margin: 10px 0;
    height: auto;
    overflow: hidden;
    display: none;
    position: absolute;
    top: 0;
}

#esns_box_subscribe_response_success {
    color: #35ea49;
    /*font: 20px/34px "CenturyGothicRegular",Century Gothic,Verdana,sans-serif;*/
}

.esns-box-block-welldone {
    color: #000;
    font-family: "dincond-lightregular";
    font-size: 56px;
    text-align: center;
    text-transform: uppercase;
}

.esns-box-block-welldone-msg {
    font-family: "dincond-lightregular";
    color: #aaa;
    font-size: 32px;
    height: auto;
    text-align: center;
    line-height: 30px;
    margin: 30px 60px;
}

.esns-box-block-welldone-button-click {
    background: none repeat scroll 0 0 #51c6f4;
    border: 1px solid #3cf;
    color: #fff;
    display: block;
    font-family: 'dinregular';
    font-size: 20px;
    line-height: normal;
    margin: 20px auto;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 207px;
    left: 0;
    right: 0;
}

.esns-box-block-welldone-button-click:hover, #esns_box_subscribe_submit a:hover{
    background-color: transparent;
    border: 1px solid #bbb;
    color: #777;
}
@media (min-width: 481px) and (max-width: 767px) {
    #esns_background_layer #esns_box_layer.after-sub{
        width: 370px;
        height: auto;
    }
    #esns_background_layer #esns_box_layer.after-sub .content-popup-ns{
        margin: 30px;
    }
    .esns-box-block-welldone-msg{
        margin: 30px 20px;
    }
    #esns_background_layer #esns_box_layer {
        background: #fff;
        border-top: 6px solid #51c6f4;
        width: 370px;
        height: auto;
        text-align: center;
    }
    #esns_background_layer #esns_box_layer #esns_box_block_1{
        text-align: center;
    }
    #esns_background_layer #esns_box_layer #esns_box_block_2{
        text-align: center;
    }
    #esns_background_layer #esns_box_layer #esns_box_block_3{
        margin: 0 10px;
        text-align: center;
    }
    #esns_background_layer #esns_box_layer #esns_box_title{
        margin: 0;
    }
    #esns_background_layer #esns_box_layer #esns_box_subscribe_input{
        float: none;
        margin: auto;
    }
    #esns_background_layer #esns_box_layer #esns_box_subscribe_submit{
        float: none;
        margin: 15px auto 0;
        width: 190px;
        text-align: center;
    }
    #esns_background_layer #esns_box_layer .content-popup-ns{
        margin: 20px 20px 30px 20px;
    }
    #esns_box_close {
        right: -6px;
        top: -10px;
    }
}
@media(max-width: 480px){
    #esns_background_layer #esns_box_layer.after-sub{
        width: 300px;
        height: auto;
    }
    #esns_background_layer #esns_box_layer.after-sub .content-popup-ns{
        margin: 10px;
    }
    #esns_background_layer #esns_box_layer {
        background: #fff;
        border-top: 6px solid #51c6f4;
        width: 300px;
        height: auto;
        text-align: center;
    }
    #esns_background_layer #esns_box_layer  #esns_box_subscribe{
        margin: 0;
    }
    #esns_background_layer #esns_box_layer #esns_box_block_1{
        text-align: center;
        font-size: 46px;
    }
    #esns_background_layer #esns_box_layer #esns_box_block_2{
        text-align: center;
        font-size: 26px;
    }
    #esns_background_layer #esns_box_layer #esns_box_block_3{
        margin: 0 10px;
        text-align: center;
    }
    #esns_background_layer #esns_box_layer #esns_box_title{
        margin: 0;
    }
    #esns_background_layer #esns_box_layer #esns_box_subscribe_input{
        float: none;
        margin: auto;
        width: 270px;
    }
    #esns_background_layer #esns_box_layer #esns_box_subscribe_input input{
        height: 38px;
    }
    #esns_background_layer #esns_box_layer #esns_box_subscribe_submit{
        float: none;
        margin: 15px auto 0;
        width: 190px;
        text-align: center;
    }
    #esns_background_layer #esns_box_layer #esns_box_subscribe_submit a{
        height: 38px;
        line-height: 38px;
    }
    #esns_background_layer #esns_box_layer .content-popup-ns{
        margin: 15px 15px 25px;
    }
    #esns_box_layer .esns-box-block-welldone{
        font-size: 40px;
        margin: 15px;
    }
    #esns_box_layer .esns-box-block-welldone-msg{
        font-size: 25px;
        margin: 0 15px;
    }
    #esns_box_layer #esns_box_subscribe_response_error{
        padding: 10px 0;
    }
    #esns_box_close {
        right: -3px;
        top: -5px;
    }
}