/*Mobile header*/
.nav-container i.fa.fa-bars, .nav-container i.fa.fa-cog{
    font-size: 20px;
    text-align: center;
    color: #666;
    padding: 12px 10px;
}
.nav-container .search_mini_form i.fa.fa-search{
    font-size: 18px;
    text-align: center;
    color: #666;
    padding: 13px 10px 10px;
}
.mobile-menu-content {
    display: none;
}
.mobile-menu-content {
    background: #2AC5F4;
    position: absolute;
    padding: 0;
    width: 100%;
    z-index: 999999;
    top: 45px;
    left: 0;
    right: 0;
}

.mobile-menu-content li {
    position: relative;
    font-size: 13px;
    font-family: 'Open sans', sans-serif;
}

.mobile-menu-content > li {
}

.mobile-menu-content > li > a {
    display: block;
}

.mobile-menu-content li a {
    display: block;
    padding: 10px 20px;
    /*border-bottom: 1px solid #4b4b4b;*/
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
}

.mobile-menu-content li a:hover {
    background: #fff;
    color: #666;
}
.mobile-menu-content li a:hover ~ strong{
    background: url(../images/plus-and-minus.png) center no-repeat;
    background-position: 1px 2px;
}
.mobile-menu-content li a:hover ~ strong.opened{
    background: url(../images/plus-and-minus.png) center no-repeat;
    background-position: 1px -30px;
}
/*.mobile-menu-content li a:hover + */
.mobile-menu-content li li {
    font-size: 13px;
    padding: 0;
}

.mobile-menu-content li li.last {
    padding-bottom: 0 !important;
}

.mobile-menu-content li strong {
    position: absolute;
    display: block;
    background: url(../images/toogle-button2.png) center -54px no-repeat;
    top: 4px;
    right: 0;
    height: 24px;
    width: 24px;
}
.mobile-menu-content > li > strong {
    top: 5px;
    right: 10px;
}

.mobile-menu-content li strong:hover {
    cursor: pointer;
    background: url(../images/plus-and-minus.png) center no-repeat;
    background-position: 1px 2px;

}

.mobile-menu-content li strong.opened {
    background-position: center 7px;
}
.mobile-menu-content li strong.opened:hover{
    cursor: pointer;
    background: url(../images/plus-and-minus.png) center no-repeat;
    background-position: 1px -30px;
}

/* dropdown */
.mobile-menu-content ul {
    width: auto;
    padding: 0 20px 10px 20px;
    display: none;
}

.mobile-menu-content > li.active > a > span {
    color: inherit;
    padding-bottom: 1px;
    border-bottom: 1px solid #fff;
}

/*
.mobile-menu-content li li.active > a,
.mobile-menu-content li li a:hover {
    color: #666;
}*/

#mobile-menu-icon {
    float: right;
    cursor: pointer;
}
.top-link-content{
    display: none;
}
.mobile-top-link #top-link-icon{
    float: right;
    text-align: center;
    cursor: pointer;
}
.header-box-sticky .mobile-cart-top{
    float: right;
    height: auto;
    margin: 0 25px 6px 0;
    padding: 10px;
    position: static;
    width: auto;
}
.header-box-sticky .mobile-cart-top .mobile-cart-count{
    display: block;
    font-size: 14px;
    margin-top: 4px;
    text-transform: uppercase;
    z-index: 99;
}
.header-box-sticky .mobile-cart-top .mobile-cart-count:after{
    content: "\f0dd";
    font-family: fontawesome;
    padding-left: 10px;
    position: relative;
    top: -3px;
}
.header-wrapper .shad-fixed {
    position: fixed;
    top: 64px;
    left: 0;
    height: 10px;
    width: 100%;
    background: url(../images/big_shadow.png) no-repeat top center;
    z-index: 999;
}
/*Top link mobile*/
.mobile-top-link{
    position: static;
}
.mobile-top-link .top-link-content{
    background: #fff;
    position: absolute;
    top: 45px;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 30px 10px;
}
.mobile-top-link .top-link-content .links li{
    clear: both;
    float: left;
    display: block;
    padding: 8px;
    text-align: left;
    width: 100%;
}
.mobile-top-link .top-link-content .links li a:before{
    font-family: fontawesome;
    content: "\f0da";
    padding-right: 10px;
}
/*End Top Link Moblie*/
