.wantButton0 .default.wb.medium{
    height: 20px!important;
    margin: 2px!important;
    padding: 0 4px!important;
    color: #7B7C7F!important;
    background: none!important;
}
.wantButton0 .default.wb.medium .icn{
    background : url("../images/want-button.png") no-repeat!important; ;
}