<div class="brand-container row">
<div class="brand-head">
    <h2><?php echo $this->__('Our Brands') ?><a href="<?php echo $this->getUrl('brands')?>"> See All</a></h2>
</div>
<div id="brand-list">
    <?php
    //gets all sub categories of parent category 'Brands'
    $cats = Mage::getModel('catalog/category')->load(304)->getChildren();
    $catIds = explode(',',$cats);

    $categories = array();
    foreach($catIds as $catId) {
        $category = Mage::getModel('catalog/category')->load($catId); 
        $categories[$category->getName()] = array(
            'url' => $category->getUrl(),
            'img' => $category->getImageUrl()
        );
    }

    ksort($categories, SORT_STRING);
	?>
    <?php foreach($categories as $name => $data): ?>
	    <?php if(Mage::getSingleton('cms/page')->getIdentifier() == 'home'  && Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms') : ?>
        <div class="item">
		    <?php else: ?>
	        <div class="item col-xxs-12 col-xs-6 col-sm-6 col-md-3">
	               <?php endif; ?>
            <a href="<?php echo $data['url']; ?>" title="<?php echo $name; ?>">
                <img class="cat-image img-responsive" src="<?php echo $data['img']; ?>" />
            </a>
        </div>   
    <?php endforeach; ?>
</div>
</div>