<?php
//$category = Mage::getSingleton('catalog/layer')->getCurrentCategory();
$category   = $this->getCurrentCategory();
$categories = $category->getCollection()
                       ->addAttributeToSelect( array( 'name', 'thumbnail', 'is_custom_sub' ) )
                       ->addAttributeToFilter( 'is_active', 1 )
                       ->addIdFilter( $category->getChildren() );

?>
<div class="subcategories row">
	<?php foreach ( $categories as $category ): ?>

		<?php
		if ( $category->getIsCustomSub() ):?>
			<div class="col-xxs-12 col-sm-6 col-md-4">
				<div class="item-subcategories">
					<div class="image-wrapper">
						<a href="<?php echo $category->getUrl() ?>"><img class="img-responsive hvr-bounce-in" src="<?php echo Mage::getBaseUrl( 'media' ) . 'catalog' . DS . 'category' . DS . $category->getThumbnail() ?>" alt="<?php echo $this->htmlEscape( $category->getName() ) ?>"/></a>
					</div>
					<div class="boris-product-vars">
						<h2 class="product-name"><a href="<?php echo $category->getUrl() ?>">
								<?php echo $category->getName() ?></a></h2>

					</div>

				</div>
			</div>
		<?php endif; ?>
	<?php endforeach; ?>
</div>