.onestepcheckout-index-index #billing_address #billing_address_list li:nth-child(7){
    margin-top: 20px;
    margin-bottom: 10px;
}
.onestepcheckout-index-index #onestepcheckout-form .radio, .onestepcheckout-index-index #onestepcheckout-form .checkbox{
    display: inline;
}
.clearfix {
    display: block;
    content: ".";
    clear: both;
    overflow: hidden;
}

ol.checkout-agreements {
    margin-top: 10px;
}

.onestepcheckout-extraproducts {
    margin-top: 10px;
    margin-bottom: 10px;
}

.onestepcheckout-extraproducts span {
    font-weight: bold;
}

.onestepcheckout-extraproducts li {
    padding: 2px 0;
}

/* Button CSS */
.onestepcheckout-button, .onestepcheckout-button:visited {
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #3cf;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "dinregular";
    font-size: 16px;
}

.onestepcheckout-button:hover {
    background-color: #111;
    color: #fff;
}

.onestepcheckout-button:active {
    top: 1px;
}

.small.onestepcheckout-button, .small.onestepcheckout-button:visited {
    font-size: 11px;
}

.onestepcheckout-button, .onestepcheckout-button:visited,
.medium.onestepcheckout-button, .medium.onestepcheckout-button:visited {
    font-size: 16px;
    line-height: 1;
}

.large.onestepcheckout-button, .large.onestepcheckout-button:visited {
    font-size: 16px;
    padding: 12px 47px;
}

.green.onestepcheckout-button, .green.onestepcheckout-button:visited {
    background-color: #91bd09;
}

.green.onestepcheckout-button:hover {
    background-color: #749a02;
}

.blue.onestepcheckout-button, .blue.onestepcheckout-button:visited {
    background-color: #2daebf;
}

.blue.onestepcheckout-button:hover {
    background-color: #007d9a;
}

.red.onestepcheckout-button, .red.onestepcheckout-button:visited {
    background-color: #e33100;
}

.red.onestepcheckout-button:hover {
    background-color: #872300;
}

.magenta.onestepcheckout-button, .magenta.onestepcheckout-button:visited {
    background-color: #a9014b;
}

.magenta.onestepcheckout-button:hover {
    background-color: #630030;
}

.orange.onestepcheckout-button, .orange.onestepcheckout-button:visited {
    background-color: #3cf;
}

.orange.onestepcheckout-button:hover, .onestepcheckout-coupons .button:hover {
    background-color: white;
    border: 1px solid #bbb;
    color: #777;
}

.yellow.onestepcheckout-button, .yellow.onestepcheckout-button:visited {
    background-color: #ffb515;
}

.yellow.onestepcheckout-button:hover {
    background-color: #fc9200;
}

.grey.onestepcheckout-button, .grey.onestepcheckout-button:visited {
    background-color: #cccccc;
}

.grey.onestepcheckout-button:hover {
    background-color: #cccccc;
}

.onestepcheckout-place-order-loading {
    text-align: right;
    margin-top: 10px;
    padding-left: 20px;
    font-style: italic;
    background: url("images/ajax-loader.gif") no-repeat;
    display: inline-block;
}

select.address-select {
    margin: 3px 0 3px 0;
    width: 94% !important;
}

.onestepcheckout-enterprise span.validation-error, .onestepcheckout-enterprise div.validation-error {
    padding-right: 0;
}

ul.onestepcheckout-custom-options {
    margin: 0 0 0 20px;
    padding: 0;
    list-style-type: disc;
}
.onestepcheckout-giftcards input#id_giftcardcode {
    margin-bottom: 5px;
    width: 200px;
}

#onestepcheckout-form label {
    font-weight: normal !important;
    text-align: left !important;
    height: auto;
    display: inline;
    float: none;
    margin-left: 10px;
}

.onestepcheckout-summary, .onestepcheckout-totals {
    border-collapse: collapse;
}

.onestepcheckout-totals {

}

.onestepcheckout-summary th, .onestepcheckout-summary, .onestepcheckout-summary td, .onestepcheckout-totals td {
    padding: 3px 0;
}
.onestepcheckout-summary table:first-child td {
    border-bottom: 1px solid #ccc;
}

h1.onestepcheckout-title {
    background: none repeat scroll 0 0 #3cf;
    color: #fff;
    font-family: "dinregular";
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 0;
    margin: 0 0 30px 0;
    max-width: 460px;
    padding: 12px 25px;
    text-transform: uppercase;
}

p.onestepcheckout-description {
    font-size: 18px;
}

#onestepcheckout-form .group-select {
    padding: 20px !important;
}

div.onestepcheckout-threecolumns {
    margin-top: 10px;
}

div.onestepcheckout-threecolumns h1 {
    font-family: Arial, serif;
    font-size: 18px;
    font-weight: bold;
}

div.onestepcheckout-threecolumns div.onestepcheckout-column-left {
    width: 33%;
    float: left;
    margin-right: 15px;
    padding-top: 15px;
}

div.onestepcheckout-threecolumns div.onestepcheckout-column-left select, input {
    padding: 5px 14px;
}

div.onestepcheckout-threecolumns div.onestepcheckout-column-left .input-box input.onestepcheckout-address-line {
    margin-left: 0;

}

div.onestepcheckout-threecolumns div.onestepcheckout-column-middle {
    width: 29%;
    float: left;
    margin-right: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

div.onestepcheckout-threecolumns div.onestepcheckout-column-right {
    width: 32%;
    float: left;
    padding-top: 15px;
}

p.onestepcheckout-login-link {
    text-align: right;
}

p.onestepcheckout-login-link a {
    color: #ccc;
    font-family: "dinregular";
    font-size: 11px;
    font-weight: bold;
    margin-right: 19px;
    text-decoration: none;
    text-transform: uppercase;
}

#onestepcheckout-email-error {
    width: 245px;
    clear: both;
    padding-top: 3px;
}

div.onestepcheckout-error {
    color: #DF280A;
    border: 1px solid #DF280A;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    background: #FAEBE7 url(images/onestepcheckout-error.jpg) no-repeat 5px 5px;
}

.onestepcheckout-column-left .onestepcheckout-error {
    width: 85% !important;
}

div.onestepcheckout-enable-newsletter {
    margin-bottom: 10px;
}

div.onestepcheckout-enable-newsletter-bottom {
    margin-top: 20px;
    text-align: right;
}

div.onestepcheckout-enable-terms {
    margin-top: 10px;
}

table.onestepcheckout-summary {
    width: 100%;
}

table.onestepcheckout-summary td.name {
    width: 55%;
}

table.onestepcheckout-summary td.qty, table.onestepcheckout-summary th.qty {
    width: 10%;
    text-align: center;
}

table.onestepcheckout-summary td.total, table.onestepcheckout-summary th.total {
    width: 35%;
    text-align: right;
}

table.onestepcheckout-totals {
    width: 100%;
    margin: 20px 0;
}

table.onestepcheckout-totals tr.grand-total td {
    font-family: "dincond-boldbold";
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    font-weight: normal;
}

table.onestepcheckout-totals td.title {
    width: 65%;
    text-align: left;
}

table.onestepcheckout-totals td.value {
    width: 35%;
    text-align: right;
}

div.onestepcheckout-place-order-wrapper {
    text-align: right;
    margin-top: 40px;
}

.onestepcheckout-totals tbody tr td {
    padding: 7px 0;
    font-family: "dincond-regularregular";
    font-size: 20px;
    text-transform: uppercase;
    color: #888;

}

div.checkoutcontainer {
    min-height: 33em;
    overflow: hidden;
}

div.checkoutcontainer .checkout-error-message {
    font-size: 14px;
    margin-left: 10px;
    color: #ff0000;
}

div.checkoutcontainer .payment-methods .form-list label {
    text-align: left !important;
}

div.checkoutcontainer div.input-error label {
    color: #ff0000 !important;
}

div.checkoutcontainer div.input-error input, div.checkoutcontainer div.input-error select {
    border: 1px solid #ff0000 !important;
}
div.checkoutcontainer div.input-address-short, div.checkoutcontainer div.input-firstname, div.checkoutcontainer div.input-lastname, div.checkoutcontainer div.input-email, div.checkoutcontainer div.input-telephone, div.checkoutcontainer div.input-company, div.checkoutcontainer div.input-fax, div.checkoutcontainer div.input-password, div.checkoutcontainer div.input-country {
    width: 49%;
    float: left;
    height: 44px;
}

div.checkoutcontainer li.taxvat .input-text {
    width: 83% !important;
}

div.checkoutcontainer div.input-address-short .input-text, div.checkoutcontainer div.input-firstname .input-text, div.checkoutcontainer div.input-lastname .input-text, div.checkoutcontainer div.input-email .input-text, div.checkoutcontainer div.input-telephone .input-text, div.checkoutcontainer div.input-company .input-text, div.checkoutcontainer div.input-fax .input-text, div.checkoutcontainer div.input-password .input-text {
    width: 94%;
}

div.checkoutcontainer div.input-address, div.checkoutcontainer div.input-city, div.checkoutcontainer li.taxvat div.input-box {
    width: 98% !important;
}

div.checkoutcontainer div.input-address .input-text, div.checkoutcontainer div.input-city .input-text {
    width: 97%;
}

div.checkoutcontainer div.input-postcode {
    width: 49%;
    float: left;
}

div.checkoutcontainer div.input-postcode .input-text {
    width: 94%;
}

div.checkoutcontainer div.input-region{
    width: 49%;
    float: left;
}

div.checkoutcontainer div.input-region .input-text {
    width: 70%;
}

div.checkoutcontainer div.input-country {
    width: 100%;
    margin-top: 3px;
}

div.checkoutcontainer div.input-country select {
    width: 74%;
    margin-top: 12px;
}

div.checkoutcontainer div.input-region select {
    width: 94% !important;
}

fieldset.group-select {
    padding: 10px 10px;
}

.group-select li {
    /*padding: 4px 0;*/
}

.shipment-methods dd {
    font-weight: bold;
    margin: 0 !important;
    display: none;
}

p.checkout-choose-payment-method, p.checkout-choose-shipping-method {
    margin-top: 1em;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

p.checkout-choose-payment-method {
    margin-top: 2em !important;
}

.payment-methods dd {
    padding: 0 0 0 20px;
}

.payment-methods dd li {
    padding: 0;
}

div.onestepcheckout-shipping-method {
    margin-bottom: 20px;
}

div.onestepcheckout-shipping-method label {
    padding: 0;
    font-family: "dincond-boldbold";
    text-transform: none;
    color: #000;
    font-size: 20px;
    position: relative;
    line-height: 13px;
}

div.onestepcheckout-shipping-method label span.price {
    font-family: "dincond-regularregular";
    font-size: 20px;
    font-weight: normal;
    color: #888;
    margin-left: 20px;
}

.onestepcheckout-shipping-method-block, .onestepcheckout-column-middle .payment-methods {
    margin: 30px 0;
}
.onestepcheckout-column-middle .payment-methods label {
    color: #000;
    font-family: "dincond-boldbold";
    font-size: 20px;
    padding: 0;
    text-transform: none;
    line-height: 13px;
}

.onestepcheckout-column-middle .payment-methods label span {
    font-family: "museo300";
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

.onestepcheckout-column-middle .payment-methods dt {
    margin-bottom: 30px;
}

div.loading-ajax, div.loading-ajax-login {
    height: 50px;
    text-align: center;
    background: url(images/ajax-loader.gif) no-repeat center center;
}

p.onestepcheckout-numbers {
    font-family: "dincond-boldbold";
    background-repeat: no-repeat;
    height: 35px;
    color: #404040;
    text-transform: uppercase;
    padding-top: 3px;
    padding-left: 60px;
    font-size: 22px;
}

p.onestepcheckout-numbers-1 {
    background-image: url(images/step1-bg.png);
    height: 50px;
}

p.onestepcheckout-numbers-2 {
    background-image: url(images/step2-bg.png);
    height: 50px;
}

p.onestepcheckout-numbers-3 {
    background-image: url(images/step3-bg.png);
    height: 50px;
}

p.onestepcheckout-numbers-4 {
    background-image: url(images/step4-bg.png);
    height: 50px;
}

div.onestepcheckout-skin-magento .onestepcheckout-numbers {
    padding-top: 0;
    padding-left: 28px !important;
    height: 25px !important;
    text-transform: capitalize !important;
    color: #F18200 !important;
    font-size: 13px !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-1 {
    background-image: url(images/skin-magento/onestepcheckout-numbers-1.png) !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-2 {
    background-image: url(images/skin-magento/onestepcheckout-numbers-2.png) !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-3 {
    background-image: url(images/skin-magento/onestepcheckout-numbers-3.png) !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-4 {
    background-image: url(images/skin-magento/onestepcheckout-numbers-4.png) !important;
}

/* Popup CSS */
#onestepcheckout_popup_overlay_iframe {
    z-index: 100000;
    background-color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
}

#onestepcheckout_popup_overlay {
    z-index: 1000000;
    background-color: #000000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    cursor: pointer;
}

#onestepcheckout-toc-popup {
    width: 482px;
    height: 530px;
    position: absolute;
    z-index: 1000001;
}

#onestepcheckout-toc-popup .onestepcheckout-popup-wrapper {
    height: 515px !important;
}

#onestepcheckout-toc-popup div.onestepcheckout-popup-contents {
    overflow: auto;
    height: 450px;
}

#onestepcheckout-toc-popup h1 {
    margin-left: 20px;
}

#onestepcheckout-toc-popup .onestepcheckout-toc-terms {
    margin: 0 20px 20px;
    height: 440px !important;
    overflow: auto;
    padding-right: 10px;
}

#onestepcheckout-login-popup, #onestepcheckout-toc-popup {
    text-align: left !important;
}

.onestepcheckout-popup-footer {
    background: url(images/onestepcheckout-popup-footer.png) no-repeat;
    height: 13px;
}

.onestepcheckout-popup-wrapper {
    *background-image: url(images/onestepcheckout-popup-header.png) !important;
    background: url(images/onestepcheckout-popup-header.png) no-repeat;
}

.onestepcheckout-popup-wrapper h1 {
    font-size: 18px !important;
    padding-bottom: 10px !important;
    padding-top: 15px !important;
}

.onestepcheckout-popup-contents {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    padding-bottom: 1px;
}

.onestepcheckout-popup-wrapper label {
    font-weight: normal;
}

.onestepcheckout-popup-wrapper .input-text {
    width: 190px !important;
}

#onestepcheckout-forgot-table td {
    vertical-align: middle !important;
}

/* Popup CSS (login link) */
#onestepcheckout-login-popup {
    width: 482px;
    position: absolute;
    z-index: 1000001;
    /*position: fixed;*/
}

#onestepcheckout-login-popup table {
    width: 99%;
}

#onestepcheckout-login-popup table td {
    padding-top: 3px;
    padding-bottom: 3px;
}

#onestepcheckout-login-popup button {
    padding: 3px 10px;
}

#onestepcheckout-login-popup div.onestepcheckout-popup-contents {

}

#onestepcheckout-login-popup p.close, #onestepcheckout-toc-popup p.close {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    right: 10px;
    bottom: -5px;
}

#onestepcheckout-login-popup p.close a, #onestepcheckout-login-popup p.close a:link, #onestepcheckout-login-popup p.close a:visited, #onestepcheckout-toc-popup p.close a, #onestepcheckout-toc-popup p.close a:link, #onestepcheckout-toc-popup p.close a:visited {
    text-decoration: none;
    color: #000000;
}

#onestepcheckout-login-popup p.close a:hover, #onestepcheckout-toc-popup p.close a:hover {
    text-decoration: underline;
}

#onestepcheckout-login-error, #onestepcheckout-forgot-error {
    color: #ff0000;
    margin-bottom: 10px;
}

div.onestepcheckout-comments {
    margin-top: 5px;
    margin-bottom: 20px;
}

div.onestepcheckout-comments textarea {
    margin-top: 5px;
    width: 95%;
}

/* onestepcheckout-twocolumns */
.onestepcheckout-two-columns .onestepcheckout-column-left {
    width: 47%;
    float: left;
    margin-right: 30px;
    background: transparent url(images/line-gradient.gif) no-repeat scroll right top;
}

.onestepcheckout-two-columns .onestepcheckout-column-right {
    width: 43%;
    float: left;
}

.onestepcheckout-two-columns p.onestepcheckout-numbers {
    margin-top: 20px !important;
}

.onestepcheckout-two-columns div.onestepcheckout-enable-terms {
    text-align: center !important;
}

.onestepcheckout-two-columns div.onestepcheckout-place-order-wrapper {
    text-align: center !important;
    margin-top: 10px !important;
}

.onestepcheckout-two-columns div.onestepcheckout-enable-newsletter {
    text-align: center !important;
}

.checkoutcontainer .payment-methods .input-box {
    width: 100% !important;
}

.checkoutcontainer .payment-methods .input-box .input-text, .checkoutcontainer .payment-methods .input-box textarea, .checkoutcontainer .payment-methods .input-box select {
    width: 95% !important;
}

.checkoutcontainer .payment-methods .input-box select.year, .checkoutcontainer .payment-methods .input-box select#protxDirect_expiration_yr, .checkoutcontainer .payment-methods .input-box select#protxDirect_start_yr {
    width: 75px !important;
}

.checkoutcontainer .payment-methods .input-box select.month, .checkoutcontainer .payment-methods .input-box select#protxDirect_start, .checkoutcontainer .payment-methods .input-box select#protxDirect_expiration {
    width: 137px !important;
}

.checkoutcontainer li.shipping-address-title {
    color: #404040;
    font-family: "dincond-boldbold";
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}

.onestepcheckout-giftmessagecontainer {
    margin-bottom: 10px;
}

.onestepcheckout-giftmessagecontainer .input-checkbox {
    /*text-align: right;*/

}

#onestepcheckout-giftmessages .onestepcheckout-giftmessages fieldset.group-select {
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
}

.onestepcheckout-giftmessages .group-select li .input-box-last {
    margin-right: 0 !important;
}

.onestepcheckout-giftmessages .group-select li .input-box {
    width: 125px;
    margin-right: 20px;
}

.onestepcheckout-giftmessages .group-select li .input-box .input-text {
    width: 120px;
}

.onestepcheckout-giftmessages .group-select li textarea {
    width: 267px;
}

.onestepcheckout-address-line {
    /*margin-bottom: 10px;*/
}

.onestepcheckout-column-left div.input-box, .onestepcheckout-coupons div.input-box {
    position: relative;
}

.onestepcheckout-column-left div.input-box label, .onestepcheckout-coupons div.input-box label{
    font-family: "dincond-boldbold";
    font-size: 14px;
}

.label-custom {
    position: absolute;
    top: 16px;
    left: 0
}

.label-custom-a2 {
    position: absolute;
    top: 60px;
    left: 0
}

.onestepcheckout-column-left .customer-dob .dob-month, .onestepcheckout-column-left .customer-dob .dob-day, .onestepcheckout-column-left .customer-dob .dob-year {
    float: left;
}

.onestepcheckout-column-left .customer-dob input.input-text {
    display: block;
    width: 74px;
}

.onestepcheckout-column-left .customer-dob label {
    font-size: 10px;
    font-weight: normal;
    color: #888;
}

.onestepcheckout-column-left .customer-dob .dob-day, .onestepcheckout-column-left .customer-dob .dob-month {
    width: 60px;
}

.onestepcheckout-column-left .customer-dob .dob-day input.input-text, .onestepcheckout-column-left .customer-dob .dob-month input.input-text {
    width: 46px;
}

.onestepcheckout-column-left .customer-dob .dob-year {
    width: 110px;
}

.onestepcheckout-column-left .customer-dob .dob-year input.input-text {
    width: 115px;
}

.onestepcheckout-feedback, .onestepcheckout-feedback-freetext {
    padding-top: 10px;
}

.onestepcheckout-feedback select {
    width: 95%;
}

.onestepcheckout-feedback-freetext textarea {
    width: 95%;
}

.onestepcheckout-coupon-code-notice {
}

#control_overlay {
    background-color: #000;
}

.oscmodal {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #333;
}

#addressreview {
    width: 750px;
    min-height: 430px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #E9EAEE;
    border: 2px solid white;
    padding: 15px 40px 20px 40px;
    margin: 0 auto;
    text-align: left;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    position: relative;
}

#addressreview .leftcol {
    float: left;
    width: 200px;
}

#addressreview .rightcol {
    float: left;
    width: 540px;
}

#addressreview h4 {
    padding-top: 15px;
    padding-bottom: 3px;
    font-size: 16px;
}

#addressreview #buttons {
    position: absolute;
    right: 40px;
    bottom: 20px;
}

#addressreview #buttons div {
    float: left;
    zoom: 1;
    margin: 0 10px 0 10px;
}

#addressreview_summary div.data {
    height: 375px;
    overflow-y: auto;
    padding-right: 2px;
}

.checkout-agreements li {
    margin: 0;
}

.checkout-agreements .agree {
    margin: 0;
    padding: 0;
}

.agreement-content {
    overflow: auto;
    text-align: left;
}

label.required:after, span.required:after {
    content: '' !important;
}

span.required {
    color: #F00;
}

label.custom-country {
    width: 70px;
    margin-top: 14px;
}
label[for="billing:use_for_shipping_yes"], label[for="billing:save_in_address_book"], label[for="shipping:save_in_address_book"]{
    float: none;
    padding: 0;
    font-family: "dincond-boldbold";
    font-size: 14px;
    display: inline;
}
.onestepcheckout-column-left .input-different-shipping input {
    margin-top: 1px;
}

#onestepcheckout-li-password .input-password {
    margin-bottom: 20px;
}

/*custom payment method*/
#container_payment_method_affirm #payment_form_affirm li {
    margin: 0 0 20px 3px;

}

#container_payment_method_affirm #payment_form_affirm li div {
    font-family: "museo300";
}

#container_payment_method_paypal_standard #payment_form_paypal_standard {
    margin: 10px 0 20px 3px !important
}

#payment_form_authorizenet li label, #payment_form_purchaseorder li label {
    color: #888;
    display: block;
    float: left;
    font-family: "dincond-boldbold";
    font-size: 14px;
    height: 16px;
    text-align: right;
    text-transform: uppercase;
}

.onestepcheckout-column-middle .payment-methods label span.required {
    color: #f00;
    font-family: "dincond-boldbold";
    font-size: 14px;
}

.onestepcheckout-column-middle .payment-methods #container_payment_method_authorizenet, .onestepcheckout-column-middle .payment-methods #container_payment_method_purchaseorder {
    padding: 0;
}

.onestepcheckout-column-middle .payment-methods #container_payment_method_authorizenet .input-box, .onestepcheckout-column-middle .payment-methods #container_payment_method_purchaseorder .input-box {
    margin: 10px 0;
}

.onestepcheckout-column-middle .payment-methods #container_payment_method_authorizenet .input-box input, .onestepcheckout-column-middle .payment-methods #container_payment_method_authorizenet .input-box select {

    margin-top: 5px;
}

.onestepcheckout-column-middle .payment-methods #container_payment_method_authorizenet .input-box input, .onestepcheckout-column-middle .payment-methods #container_payment_method_purchaseorder .input-box input {
    width: 81% !important;
}

#onestepcheckout-li-password {
    display: inline-block;
}

/*Review order custom style*/
.onestepcheckout-summary thead tr {
    background: #eaeaea;
    text-align: left;
    font-family: "dincond-regularregular";
    color: #888;
    text-transform: uppercase;

}

.onestepcheckout-summary thead tr:first-child th:first-child {
    padding-left: 10px;
}

.onestepcheckout-summary thead tr:first-child th:last-child {
    padding-right: 10px;
}

.onestepcheckout-summary thead tr:first-child th {
    padding: 5px 0;
}

table.onestepcheckout-summary tbody tr td {
    padding: 20px 0;
    color: #000;
    font-family: "dincond-boldbold";
    font-size: 18px;
}

table.onestepcheckout-summary tbody tr td:first-child {
    padding-left: 10px;
    font-size: 15px
}

table.onestepcheckout-totals tbody tr td:first-child {
    padding-left: 80px;
}

.onestepcheckout-column-left .validation-advice {
    right: -6px;
    z-index: 999;
    top: 20px;
}

.onestepcheckout-column-middle .payment-methods .validation-advice {
    top: 27px;
}
label[for="billing-address-select"],label[for="shipping-address-select"]{
    width: 250px;
    padding-left: 0;
}
#billing_address_list .control, #shipping_address_list .control{
    margin-top: 10px;

}
.onepage-terms-and-conditions{
    float: right;
    padding: 0 10px;
}
#authorizenet_cc_type_cvv_div .input-box div.v-fix input.validate-cc-cvn{
    width: 50px!important;
    padding: 5px 10px!important;
}
.onestepcheckout-column-middle a.cvv-what-is-this{
    float: left;
    position: absolute;
    top: 26px;
    left: 85px;
    text-indent: -9999px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/question.png) no-repeat;
}
.onestepcheckout-column-middle .tool-tip{
    width: 550px;
}
.onestepcheckout-column-middle .tool-tip img{
    display: block;
    margin: 20px auto;
}
.onestepcheckout-column-middle .tool-tip .btn-close a{
    text-indent: -9999px;
    background: url(../images/colorbox/controls.png) no-repeat -50px -25px;;
    height: 20px;
    width: 20px;
    opacity: 0.3;
    float: right;
    margin-right: 30px;
}
.onestepcheckout-coupons div.input-box{
    display: inline-block;
    width: 79%;
}
.onestepcheckout-coupons div.input-box input{
    width: 94%;
}
.onestepcheckout-coupons label{
    width: 180px;
}
.onestepcheckout-coupons .buttons-set{
    display: inline-block;
}
.onestepcheckout-coupons .discount-form .buttons-set button{
    padding: 5px 15px;
}
.onestepcheckout-coupons .button{
    border: 1px solid #3cf;
    text-transform: uppercase;
    width: 69px;
}
.discount-form .onepage-giftcard-msg1, .discount-form .onepage-giftcard-msg2 {
    font-family: "museo300";
}
.discount-form .onepage-giftcard-msg1{
    margin-top: 10px;
}
label[for="p_method_paypal_standard"]{
    background: url(images/paypal-label.png) no-repeat  left bottom;
    height: 30px!important;
    display: inline-block!important;
}
label[for="p_method_authorizenet"]{
    background: url(images/cd-bg-label.png) no-repeat  left bottom;
    height: 30px!important;
    display: inline-block!important;
}
#authorizenet_cc_type_exp_div div.input-box div.v-fix{
    display: inline;
}
/* Responsive styles */

@media only screen and (min-width: 916px) and (max-width: 1199px) {
    div.checkoutcontainer div.input-country select { width: 91%!important; }
    .onestepcheckout-threecolumns div.onestepcheckout-column-middle { margin: 21px 0px 0px 0px !important; padding: 0px !important;}
    div.checkoutcontainer div.input-region { width: 55.8%!important; }
    div.checkoutcontainer div.input-address-short .input-text,
    div.checkoutcontainer div.input-firstname .input-text,
    div.checkoutcontainer div.input-lastname .input-text,
    div.checkoutcontainer div.input-email .input-text,
    div.checkoutcontainer div.input-telephone .input-text,
    div.checkoutcontainer div.input-company .input-text,
    div.checkoutcontainer div.input-fax .input-text,
    div.checkoutcontainer div.input-password .input-text { width: 85%!important; }
    div.checkoutcontainer div.input-address .input-text, div.checkoutcontainer div.input-city .input-text {
        width: 91%;
    }
    div.checkoutcontainer div.input-region .input-text {
        width: 93%;
    }
    .v-fix { margin-right: 5%; }
    .onestepcheckout-coupons div.input-box{
        width: 74%;
    }
}
@media only screen and (max-width: 991px) {
    .onestepcheckout-coupons div.input-box{
        width: 100%;
    }
    .onestepcheckout-coupons div.input-box input{
        width: 100%;
    }
    .onestepcheckout-coupons .buttons-set{
        margin-top: 10px;
    }
    div.checkoutcontainer div.input-country{
        height: 60px;
    }
}
@media only screen and (min-width: 651px) and (max-width: 915px) {
    div.checkoutcontainer div.input-address-short .input-text,
    div.checkoutcontainer div.input-firstname .input-text,
    div.checkoutcontainer div.input-lastname .input-text,
    div.checkoutcontainer div.input-email .input-text,
    div.checkoutcontainer div.input-telephone .input-text,
    div.checkoutcontainer div.input-company .input-text,
    div.checkoutcontainer div.input-fax .input-text,
    div.checkoutcontainer div.input-password .input-text ,
    div.checkoutcontainer div.input-company .input-text { width: 85%!important; }
    div.wrapper {min-width: 581px}
    div.onestepcheckout-enable-newsletter { width: 60%!important; }
{ width: 77%!important; }
    div.checkoutcontainer div.input-address .input-text, div.checkoutcontainer div.input-city .input-text, div.checkoutcontainer div.input-country select { width: 91%;}
    .onestepcheckout-threecolumns div.onestepcheckout-column-left { width: 45%!important; background: none!important; margin-bottom: 18px;}
    .onestepcheckout-threecolumns div.onestepcheckout-column-middle { width: 45%!important; background: none!important; float: right;
        background: transparent url(images/line-gradient.gif) no-repeat scroll right top;
        padding: 21px 0 0 0 !important;
        margin: 0!important;
    }
    .onestepcheckout-threecolumns div.onestepcheckout-column-right { width: 100%!important; border-top: 1px solid #D8D2C7}
    div.checkoutcontainer li.taxvat div.input-box { width: 42%!important;}
    div.checkoutcontainer div.input-region .input-text {
        width: 86%;
    }
    div.wrapper {min-width: 500px}
    div.main {width: auto; max-width : 915px}
    div.checkoutcontainer div.input-country{
        margin-top: 10px;
        min-height: 60px;
        width: 98%;
    }
}

@media only screen and (max-width: 650px) {
    div.checkoutcontainer { border-top: none; }
    .onestepcheckout-threecolumns div.onestepcheckout-column-left { width: 95%!important; background: none!important;}
    .onestepcheckout-threecolumns div.onestepcheckout-column-middle { width: 95%!important; background: none!important;}
    .onestepcheckout-threecolumns div.onestepcheckout-column-right { width: 95%!important; float: left !important; }
    div.checkoutcontainer div.input-box, div.checkoutcontainer .input-text , div.checkoutcontainer select {
        width: 100% !important;
        float: none !important;
    }
    .payment-methods {
        margin-bottom: 5px;
    }
    table.onestepcheckout-summary { width: 100%!important;}
    table.onestepcheckout-totals { width: 100%!important;}
    .onestepcheckout-coupons input#id_couponcode, .onestepcheckout-coupons input#giftcard_code {width: 100%!important; margin-bottom: 5px;}
    div.checkoutcontainer div.onestepcheckout-summary,
    div.checkoutcontainer div.onestepcheckout-coupons,
    div.checkoutcontainer div.onestepcheckout-place-order-wrapper { margin-left: 0;}
    #onestepcheckout-place-order { width: 90%!important; }
    #addressreview {width: 85%!important; padding: 10px 10px 10px 10px !important;}
    #addressreview_summary div.data {height: 275px;}
    #addressreview .leftcol{width: 100%!important;}
    #addressreview .rightcol{width: 100%!important;}
    .large.onestepcheckout-button{margin-top: 8px;}
    div.wrapper {min-width: 320px}
    div.main {width: auto; max-width : 499px}
    div.checkoutcontainer div.input-region select {
        width: 100% !important;
    }
    div.checkoutcontainer div.input-country{
        margin-top: 10px;
        min-height: 60px;
        width: 98%;
    }
}

/* End of responsive design */
