<div>
    <h2>Send Form : {{var customerName}}</h2>
    <h2>Email: {{var customerEmail}} </h2>
    <h1>Subject: {{var questionSubject}}</h1>
    <p>
    <h2>Question : </h2>
    {{var customerQuestion}}
    </p>
</div>