<?php
if ($this->isActivePopUp()):
    ?>
    <script type="text/javascript">
        <?php if (is_numeric($this->getCookieLifeTime())): ?>
        EsNewsSubscribers.setCookieLiveTime(<?php echo $this->getCookieLifeTime(); ?>);
        <?php endif; ?>
        <?php if ($this->getCookieName()): ?>
        EsNewsSubscribers.setCookieName('<?php echo $this->getCookieName(); ?>');
        <?php endif; ?>
        EsNewsSubscribers.setBaseUrl('<?php echo $this->getBaseUrl()?>');
    </script>
    <div id="esns_background_layer">
            <div id="esns_box_layer">
                <div class="content-popup-ns">
                    <div id="esns_box_close"></div>
                    <div id="esns_box_title">
                        <?php if ($this->getFirstTitle()): ?>
                            <div id="esns_box_block_1">
                                <?php echo $this->getFirstTitle() ?>
                            </div>
                        <?php endif; ?>
                        <?php if ($this->getSecondTitle()): ?>
                            <div id="esns_box_block_2">
                                <?php echo $this->getSecondTitle() ?>
                            </div>
                        <?php endif; ?>
                    </div>
                    <!--                <div class="esns_box_lines"></div>-->
                    <div id="esns_box_subscribe">
                        <div id="esns_box_subscribe_response_error"></div>
                        <div id="esns_box_subscribe_response_success"></div>
                        <div id="esns_box_subscribe_form">
                            <div id="esns_box_subscribe_input"><input
                                    onclick="if(this.value=='<?php echo $this->__('Your email'); ?>') this.value=''"
                                    onblur="if(this.value=='') this.value='<?php echo $this->__('Your email'); ?>'"
                                    id="esns_email" name="subscribe_email" value="<?php echo $this->__('Your email'); ?>"
                                    type="text"></div>
                            <div id="esns_box_subscribe_submit"><a href="javascript:void(0)"
                                                                   id="esns_submit"><?php echo $this->__('Get Discount'); ?></a>
                            </div>
                        </div>
                    </div>
                    <?php if ($this->getText()): ?>
                        <div id="esns_box_block_3">
                            <?php echo $this->getText() ?>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
    </div>
<?php endif; ?>