/*custom style*/
.catalog-category-view .main {
    background: #fff;
    padding-top: 80px;
}

.catalog-category-view #search_mini_form .form-search {
    top: -45px;
}

.catalog-category-view .breadcrumbs {
    display: none;
}
.custom-category-filters {
    background: #F6F8F8;
    display: block;
    float: left;
    position: relative;
    width: 100%;
}

.tool-category-filters {
    background: url("../../images/big_shadow.png") no-repeat scroll center top #f7f8f8;
    font-size: 14px;
    margin: auto;
    overflow: visible;
    position: absolute;
    width: 100%;
    z-index: 99;
    box-shadow: 1px 1px 0px #ccc;
}

#catalog-filters {
    display: block;
    position: relative;
    width: 960px;
    margin: auto;
}

.toolbar-bottom .sort-by {
    display: none;
}

.toolbar-bottom .toolbar .pager {
    float: none;
    text-align: center;
}

.btn-remove {
    background: url("../../images/btn_remove.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    font-size: 0;
    height: 11px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 11px;
}

.close-tool-filer {
    cursor: pointer;
    margin-top: 23px;
}
.close-tool-filer a {
    color: #666666;
    display: block;
    height: 35px;
    line-height: 1;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 86px;
}

.close-tool-filer .label {
    display: block;
    font-size: 12px;
    position: relative;
    text-transform: uppercase;
    top: 3px;
    font-family: 'dinregular';
    color: #f36;
}

.close-tool-filer .filter-arrow-up {
    top: 8px;
    position: relative;
    color: #f36;
}

.tool-content-filter {
    position: relative;
}
.close-tool-filer .close-tool{
    background: url("../../images/FME/filter-close.png") no-repeat scroll
}
/*End custom style*/
div.block-layered-nav {
    text-align: center;
    padding-bottom: 0;
}

span.filter-title:hover ,span.filter-title:hover:after{
    color: #f36!important;
}
div.block-layered-nav .click-show-hide-filter{
    color: #666;
}
div.block-layered-nav .click-show-hide-filter .filter-title {
    color: #666;
    border: none;
    cursor: pointer;
    font-size: 15px;
    text-shadow: 1px 1px 0 #fff;
    text-transform: uppercase;
    font-weight: normal;
}
div.block-layered-nav .click-show-hide-filter .filter-title:after{
    content: "\f0dd";
    font-family: 'FontAwesome';
    margin-left: 5px;
    position: relative;
    top: -4px;
}
div.block-layered-nav .filter-title-custom-show .filter-title:after{
    content: "\f0de";
    color: #f36;
    margin-left: 5px;
    position: relative;
    top: 3px;
}
div.block-layered-nav .filter-title-custom-show .filter-title{
    color: #f36;
}


div.fme-filter dd a {
    border: 1px solid #ccc;
    display: block;
    float: left;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 7px 10px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
}

/*categories*/
div.fme-filter a.adj-nav-category-current {
    background: none repeat scroll 0 0 #3cf;
    color: #fff;
    border: 1px solid #3cf;
    padding: 7px 10px;
}

div.fme-filter a.adj-nav-category-current:hover {
    background: none repeat scroll 0 0 #f7f8f8;
    color: #666;
    border: 1px solid #ccc;
}

#fme_layered_cat a.fme_layered_category:hover {
    background: #3cf;
    color: #fff;
    border: 1px solid #3cf;
}

div.fme-filter a.adj-nav-pad2 {
    padding-left: 5px
}

div.fme-filter a.adj-nav-pad3 {
    padding-left: 10px
}

/*price ranges*/
#fme_layered_price {
    display: block;
    width: 400px;
    margin: 20px auto 0;
}

#fme_layered_price .range_from {
    float: left;
    text-align: right;
    width: 100px;
}

#fme_layered_price .range_to {
    float: left;
    text-align: left;
    width: 100px;
}

div.fme-filter a.adj-nav-price {
}

div.fme-filter a.adj-nav-price-selected {
    font-weight: bold
}

/*attributes*/
div.fme-filter a.fme_layered_attribute {
    padding-left: 25px;
    background: transparent url(../../images/FME/Check-Box.png) no-repeat scroll 0px 3px;
}

div.fme-filter a.fme_layered_attribute_selected {
    padding-left: 25px; /*border:dotted;*/
    background-position: 0px -16px;
    font-weight: bold;
    overflow: hidden;
}

div.fme-filter a.fme_layered_swatches {
    padding: 0px 0px 5px 0px;
}

div.fme-filter a.fme_layered_swatches_selected {
    opacity: 0.5
}

div.fme-filter a.fme_layered_disabled {
    color: gray;
    cursor: wait
}

div.fme-filter input.fme_layered_disabled {
    background-color: gray;
    border: 1px solid gray;
    cursor: wait
}

div.fme-filter a.fme_layered_clear {
    float: right;
    cursor: pointer;
    margin: 3px 0 0;
}
.price_slider_title {
    padding-top: 5px;
}
div.price_slider {
    float: left;
    position: relative;
    z-index: 9;
    height: 19px;
    margin: 9px auto 5px;
    cursor: pointer;
    width: 195px;
    border-top: 2px solid #ccc;
}

div.price_slider div.handle {
    top: -6px;
    width: 8px;
    height: 10px;
    background: transparent url(../../images/FME/slider_button.png) no-repeat;
    cursor: move;
    position: absolute;
}
div.price_slider div.handle:hover{
    background: transparent url(../../images/FME/slider_button_hover.png) no-repeat;
}
.range_from span{
    padding-right: 10px;
}
.range_to span {
    padding-left: 10px;
}
#adj-nav-container, div.adj-nav {
    position: relative
}

.fme_loading_filters {
    width: 100%;
    height: 1000%;
    background-color: #fff;
    z-index: 500;
    opacity: 0.4;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    position: fixed;
    top: 0;
    left: 0;
}

.fme_loading_filters img {
    left: 49%;
    top: 45%;
    display: block;
    position: fixed;
    z-index: 900;
}

.fme_layered_clearall {
    font-size: 11px;
    text-transform: uppercase;
    display: block;
    position: absolute;
    right: 15px;
    top: -33px;
    width: 100px;
}

.layered-nav div.fme_layered_clear_all {
    margin: 0;
    border: 1px solid #b9ccdd;
    border-left: 0;
    border-right: 0;
    padding: 3px 10px;
    color: #1f5070;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

/*.fme-filter dt {
    cursor: pointer;
}*/
.fme-filter dt {
    cursor: pointer;
    width: 100px;
    margin: auto;
}

.fme_layered_dt {
    display: none;
    text-align: center;
    cursor: pointer;
    color: #666;
    font-size: 16px;
    text-shadow: 1px 1px 0 #fff;
    text-transform: uppercase;
    font-weight: normal;
}

.fme-filter dt.fme_layered_dt_selected {
}

#fme_layered_cat {
    text-align: center;
}

#fme_layered_cat li {
    display: inline-block;
    margin: 2px;
}

div.fme-filter dd li {
    overflow: hidden;
}

.color {
    width: 150px;
    clear: both;
    margin: 6px 0 6px 0;
}

.color .color_box {
    width: 17px;
    height: 17px;
    float: left;
    display: block;
    margin-right: 4px;
}

.color a {
    font-family: Arial;
    font-size: 12px;
    color: #333;
    text-decoration: none;
}

.color a:hover {
    color: #09F;
    text-decoration: none;
}

.color span {
    font-family: Arial;
    font-size: 11px;
    color: #999;
}

#fme_layered_price li{
    padding: 0;
}
