.magestore-popup_social {
    max-width: 565px !important;
}

.clear {
    width: 100%;
    height: 0px;
    clear: both;
    font-size: 0px;
    line-height: 0px;
}

#sociallogin_button {
    /*margin-top: 10px;*/
}
#sociallogin_button ul li.button{
    background: none;
    padding: 5px 0px;
}
#sociallogin_button ul li.button button{
    padding: 0;
}
#sociallogin_button button span {
    box-sizing: border-box;
}

#sociallogin_button #bt-loginfb span, #bt-loginfb-popup span {
    height: 35px;
    background: url("sociallogin/fb.png") no-repeat;
    display: block;
    float: left;
}

#sociallogin_button #bt-loginfb span span, #bt-loginfb-popup span span {
    background: none repeat scroll 0 0 #2d78bd;
}

#sociallogin_button #bt-loginamazon span, #bt-loginamazon-popup span {
    height: 35px;
    background: url("sociallogin/bt_amazon.png") no-repeat;
    display: block;
    float: left;
}

#sociallogin_button #bt-loginamazon span span, #bt-loginamazon-popup span span {
    background: none repeat scroll 0 0 #fe9900;
}

#sociallogin_button #bt-loginins span, #bt-loginins-popup span {
    height: 35px;
    background: url("sociallogin/bt_intagram.png") no-repeat;
    display: block;
    float: left;
}

#sociallogin_button #bt-loginins span span, #bt-loginins-popup span span {
    background: none repeat scroll 0 0 #42729a;
}

#sociallogin_button #bt-logingo span, #bt-logingo-popup span {
    height: 35px;
    background: url("sociallogin/google.png") no-repeat;
    display: block;
    float: left;
}

#sociallogin_button #bt-logingo span span, #bt-logingo-popup span span {
    background: none repeat scroll 0 0 #dd4b39;
}
#magestore-popup{
    z-index: 999999999;
}
#magestore-popup .input-box {
    width: 100%;
}

#sociallogin_button #bt-loginvk span, #bt-loginvk-popup span {
    height: 35px;
    background: url("sociallogin/vk.png") no-repeat;
    display: block;
    float: left;
}

#sociallogin_button #bt-loginvk span span, #bt-loginvk-popup span span {
    background: none repeat scroll 0 0 #44678d;
}

#sociallogin_button #bt-loginper span, #bt-loginper-popup span {
    height: 35px;
    background: url("sociallogin/persional.png") no-repeat;
    display: block;
    float: left;
}

#sociallogin_button #bt-loginper span span, #bt-loginper-popup span span {
    background: none repeat scroll 0 0 #ffc823;
}

#bt-logintw-popup span {
    height: 35px;
    background: url("sociallogin/twit.png") no-repeat;
    display: block;
    float: left;
}

#sociallogin_button #bt-loginse span, #bt-loginse-popup span {
    height: 35px;
    background: url("sociallogin/stack.png") no-repeat;
    display: block;
    float: left;
}

#sociallogin_button #bt-loginse span span, #bt-loginse-popup span span {
    background: none repeat scroll 0 0 #3170c3;
}

#sociallogin_button #bt-logintw span, #bt-loginaol-popup span {
    height: 35px;
    background: url("sociallogin/twit.png") no-repeat;
    display: block;
    float: left;
}

#sociallogin_button #bt-logintw span span, #bt-loginaol-popup span span {
    background: none repeat scroll 0 0 #28bceb;
}

#sociallogin_button #bt-loginwp span, #bt-loginwp-popup span {
    background: url("sociallogin/wpress.png") no-repeat;
}

#sociallogin_button #bt-loginwp span span, #bt-loginwp-popup span span {
    background: none repeat scroll 0 0 #555555;
}

#sociallogin_button #bt-loginya span, #bt-loginya-popup span {
    height: 35px;
    background: url("sociallogin/yh.png") no-repeat;
    display: block;
    float: left;
}

#sociallogin_button #bt-loginya span span, #bt-loginya-popup span span {
    background: none repeat scroll 0 0 #6f2b90;
}

/* by Hai Ta */
#sociallogin_button #bt-loginaol span, #bt-loginaol-popup span {
    background: url("sociallogin/aol.png") no-repeat;
}

#sociallogin_button #bt-loginaol span span, #bt-loginaol-popup span span {
    background: none repeat scroll 0 0 #ffc923;
}

#sociallogin_button #bt-loginwp span, #bt-loginwp-popup span {
    background: url("sociallogin/wpress.png") no-repeat;
}

#sociallogin_button #bt-loginwp span span, #bt-loginwp-popup span span {
    background: none repeat scroll 0 0 #555555;
}

#sociallogin_button #bt-logincal span, #bt-logincal-popup span {
    background: url("sociallogin/clavid.png") no-repeat;
}

#sociallogin_button #bt-logincal span span, #bt-logincal-popup span span {
    background: none repeat scroll 0 0 #12396b;
}

#sociallogin_button #bt-loginorg span, #bt-loginorg-popup span {
    background: url("sociallogin/orange.png") no-repeat;
}

#sociallogin_button #bt-loginorg span span, #bt-loginorg-popup span span {
    background: none repeat scroll 0 0 #ff6501;
}

#sociallogin_button #bt-loginmp span, #bt-loginmp-popup span {
    background: url("sociallogin/mysp.png") no-repeat;
}

#sociallogin_button #bt-loginmp span span, #bt-loginmp-popup span span {
    background: none repeat scroll 0 0 #ff6501;
}

#sociallogin_button #bt-loginlive span, #bt-loginlive-popup span {
    background: url("sociallogin/live.png") no-repeat;
}

#sociallogin_button #bt-loginlive span span, #bt-loginlive-popup span span {
    background: none repeat scroll 0 0 #30a8e4;
}

#sociallogin_button #bt-loginfq span, #bt-loginfq-popup span {
    background: url("sociallogin/fq.png") no-repeat;
}

#sociallogin_button #bt-loginfq span span, #bt-loginfq-popup span span {
    background: none repeat scroll 0 0 #099eba;
}

#sociallogin_button #bt-loginlinked span, #bt-loginlinked-popup span {
    background: url("sociallogin/linked.png") no-repeat;
}

#sociallogin_button #bt-loginlinked span span, #bt-loginlinked-popup span span {
    background: none repeat scroll 0 0 #017fb2;
}

#sociallogin_button #bt-loginopen span, #bt-loginopen-popup span {
    background: url("sociallogin/myop.png") no-repeat;
}

#sociallogin_button #bt-loginopen span span, #bt-loginopen-popup span span {
    background: none repeat scroll 0 0 #74bc52;
}

#sociallogin_button #bt-loginlj span, #bt-loginlj-popup span {
    background: url("sociallogin/liveJ.png") no-repeat;
}

#sociallogin_button #bt-loginlj span span, #bt-loginlj-popup span span {
    background: none repeat scroll 0 0 #143ea9;
}

#sociallogin-other-div {
    display: block;
    float: right;
}

#sociallogin-other-a {
    width: 91px;
    display: block;
}

.sociallogin-other {
    display: block;
    float: right;
    width: 100%;
}

.sociallogin-other-span {
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
}

.sociallogin-other-span-img-popup {
    float: right;
    width: 26px;
    height: 16px;
    cursor: pointer;
    background: url("sociallogin/add.png") no-repeat right;
}

.other-button {
    /* margin: 7px 3px 5px 4px; */
}

.sociallogin-other-button {
    width: auto;
    max-width: 375px;
}

button.bt-login-social {
    background: none;
    border: none;
    cursor: pointer;
}

button.bt-login-social:hover {
    opacity: 0.9;
}

button.bt-login-social span {
    height: 35px;
    line-height: 35px;
    color: #fff;
    padding: 0 0 0 35px;
    float: left;
}

#sociallogin_button .sociallogin-other #other_sociallogin_label {
    font-family: "museo300";
}

button.bt-login-social span span {
    background-position: 100% 0 !important;
    /* padding-right:10px !important; */
    padding-left: 10px !important;
    text-align: left;
    color: #fff;
    min-width: 143px;
    text-transform: none;
    text-transform: uppercase;
}
/* change poppup */
#magestore-popup {
    padding: 10px;
    position: fixed;
    width: 800px;
    z-index: 9990;
    background: #fff;
    border: 2px;
    min-width: 200px;
    /* border-radius: 7px; */
}

#magestore-login-social {
    float: right;
    background: none repeat scroll 0 0 #f6f6f6;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px 20px 29px;
    text-align: center;
}
.magestore-login-social{
    margin-top: 10px;
}
#bg_fade {
    background-color: #000000;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1000;
    opacity: 0.3;
}

#sociallogin-close {
    cursor: pointer;
    height: 33px;
    position: absolute;
    right: -20px;
    top: -16px;
    z-index: 9999;
    right: -12px;
    top: -15px;
    height: 34px;
    width: 33px;
    background: url("sociallogin/close.png") no-repeat;
}

#sociallogin-close:hover {
    text-decoration: underline;
}

#magestore-login-form, #magestore-create-user {
    margin: 10px;
    padding: 20px;
    background: none repeat scroll 0 0 #f6f6f6;
    border: 1px solid #ccc;
    position: relative;
}

.magestore-loign-h2 {
    padding: 0;
}

#magestore-login-form p {
    font-size: 14px;
}

.magestore-login-input-box {
    margin: 5px 0;
    display: inline-block;
}

.magestore-login-form-popup {
    margin-bottom: 10px;
    margin-top: 15px;
}

.login-label, .sociallogin-field label {
    color: #888;
    display: block;
    float: left;
    font-family: "dincond-regularregular";
    font-size: 16px;
    padding: 6px;
    text-align: right;
    text-transform: uppercase;
    width: 120px;
    padding-right: 20px;
}

.login-label em {
    color: red;
}

.sociallogin-input-box {
    float: right;
}

.sociallogin-input-box .input-text {
    font-size: 100%;
}

.magestore-login-popup-button, .magestore-create-popup-button {
    margin: 35px 26px 5px;
    text-align: center;
    float: right;
}

#magestore-forgot-password, #magestore-forgot-back {
    font-size: 14px;
    float: left;
    width: 100%;
}
.magestore-login-input-box .login-label em {
    color: #888;
    font-family: "dincond-regularregular";
    font-size: 16px;
    text-align: right;
    text-transform: uppercase
}

.ajax-login-image {
    background: url("sociallogin/loader.gif") no-repeat scroll 0 0 transparent;
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 105px;
    left: 200px;
}
.ajax-forgot-image{
    bottom: 90px;
}
.ajax-create-image{
    bottom: 92px;
}
.sociallogin-input-box .validation-advice{
    right: 6px;
    top: 99px;
}
#magestore-sociallogin-form-forgot .sociallogin-input-box .validation-advice{
    right: 6px;
    top: 155px;
}
.magestore-invalid-email {
    margin-left: 152px;
    color: red;
}

#sociallogin-forgot {
    margin-bottom: 67px;
    /*margin-top: 14px;*/
}
#sociallogin-forgot {
    margin-top: 0;
}
.magestore-login-popup-button #magestore-button-sociallogin, .magestore-login-popup-button #magestore-button-sociallogin-forgot ,.magestore-create-popup-button #magestore-button-sociallogin-create {
    border: 1px solid #3cf;
    color: white;
    font-family: "dinregular";
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: block;
    padding: 8px 0;
    width: 180px;
}

.magestore-login-popup-button #magestore-button-sociallogin:hover, .magestore-login-popup-button #magestore-button-sociallogin-forgot:hover, .magestore-create-popup-button #magestore-button-sociallogin-create:hover {
    border: 1px solid #3cf;
    color: #3cf;
    background: none;
}

#magestore-sociallogin-create-new-customer, #magestore-create-back, #magestore-forgot-back {
    border: 1px solid #3cf;
    color: #3cf;
    font-family: "dinregular";
    font-size: 16px;
    margin-bottom: 10px;
    padding: 8px 0;
    text-transform: uppercase;
    width: 180px;
    display: block;
    text-align: center;
}

#magestore-sociallogin-create-new-customer:hover,  #magestore-create-back:hover, #magestore-forgot-back:hover{
    background: #3cf;
    color: white;
}
.sociallogin-other-button-popup {
    float: left;
}

#magestore-login-social .magestore-loign-h2 {
    text-align: left;
}

#sociallogin_button ul.right {
    float: right;
}

#sociallogin_button ul.left {
    float: left;
    margin-left: 18px;
}

.magestore-login-social li.button {
    background: none;
    padding: 0px 10px;
    display: block;
}
#magestore-login-social p, #magestore-create-user p, #sociallogin-forgot p {
    font-size: 14px;
}
.magestore-login-socia {
    margin: 20px;
}

/*Create account popup*/
.magestore-login-form-popup ul.form-list {
    display: inline-block;
    width: 100%;
}

.magestore-login-form-popup ul.form-list li input.input-text {
    width: 54%;
}
.name-firstname div.input-box{
    margin-top: 0;
}
/*Checkout login*/
#multilogin{
    margin-top: 10px;
}
#headerboxLink1 {
    padding: 8px 12px 8px 11px !important;
    border: 1px solid #3cf;
    color: #3cf;
    font-family: "dinregular";
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    background: none!important;

}
#headerboxLink1:hover{
    background: #3cf!important;
    color: white!important;
}
#bt-loginamazon-popup{
    display: none;
}
#magestore-create-user{
    width: 100%;
}
#magestore-login-form, #magestore-create-user{
    max-width: 364px;
}
@media (min-width: 992px) {
    #magestore-popup{
        max-width: 723px;
    }
    .magestore-login-social{
        margin-top: 15px;
    }
}
@media (min-width: 768px ) and (max-width: 991px) {
    #magestore-popup{
        max-width: 723px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .magestore-login-popup-button, .magestore-create-popup-button{
        float: none;
        display: inline-block;
    }
    .magestore-login-form-popup{
        text-align: center;
    }
    #magestore-login-form{
        float: none!important;
        display: inline-block;
    }
    #magestore-login-social{
        float: none!important;
        clear: both;
    }
    #magestore-popup{
        max-width: 404px;
    }
}
@media (min-width: 321px) and (max-width: 480px) {
    #magestore-popup{
        max-width: 320px;
        top: 15px!important;
    }
    .magestore-login-popup-button, .magestore-create-popup-button{
        float: none;
        display: inline-block;
    }
    .magestore-login-form-popup{
        text-align: center;
    }
    #magestore-login-form{
        float: none!important;
        display: inline-block;
    }
    #magestore-login-social{
        display: none!important;
    }
    .login-label, .sociallogin-field label{
        float: none;
        width: auto;
        text-align: left;
    }
    #magestore-create-user{
        width: auto;
    }
    #magestore-login-form p{
        text-align: left;
    }
    #sociallogin-forgot{
        margin-bottom: 20px;
    }
    .name-firstname div.input-box{
        margin: 0 5px;
    }
    .login-label, .sociallogin-field label{
        padding-left: 0;
    }
    .magestore-login-form-popup ul.form-list li input.input-text{
        width: 100%;
    }
    #magestore-sociallogin-form{
        margin-top: 0;
    }
    .magestore-login-popup-button, .magestore-create-popup-button{
        margin-top: 15px;
    }
}
@media (max-width: 320px) {
    #magestore-login-form p{
        text-align: left;
    }
    #magestore-popup{
        max-width: 280px;
        top: 15px!important;
    }
    #magestore-create-user{
        width: auto;
    }
    .magestore-login-popup-button, .magestore-create-popup-button{
        float: none;
        display: inline-block;
        margin: 20px 5px 5px;
    }
    .magestore-login-form-popup{
        text-align: center;
    }
    #magestore-login-form{
        float: none!important;
        display: inline-block;
    }
    #magestore-login-social{
        display: none!important;
    }
    .login-label, .sociallogin-field label{
        float: none;
        width: auto;
        text-align: left;
    }
    .magestore-login-input-box{
        margin: 0;
    }
    .magestore-login-form-popup{
        margin-top: 0;
    }
    .magestore-login-form-popup ul.form-list li input.input-text{
        width: 100%;
    }
    #sociallogin-forgot{
        margin-bottom: 0px;
    }
    .name-firstname div.input-box{
        margin: 0 5px;
    }
    .login-label, .sociallogin-field label{
        padding-left: 0;
    }
    #magestore-sociallogin-form{
        margin-top: 0;
    }
    .magestore-login-popup-button, .magestore-create-popup-button{
        margin-top: 15px;
    }
}

