<h2>Boris stà capendo</h2>
<img src="<?php echo $this->getSkinUrl('images/calendar.gif') ?>" alt="Calendar"/>
<a href="<?php echo $this->getUrl('checkout/cart')?>" title="Goto My Cart">Goto My Cart</a>