<div class="free-shipping-banner"  id="follow">
	<a style="display: none" id="free-button" href="javascript:void(0)"><img src="<?php echo $this->getSkinUrl('images/free_shipping.png'); ?>"></a>
</div>
<!--<script type="text/javascript">
jQuery.noConflict();
jQuery(document).ready(function(){
    setTimeout(function() {
        jQuery("#follow").fadeOut( "slow" );
    }, 9000);
});
</script>-->