<!-- <?php echo $this->hehe(); ?> -->
<?php $_menu = $this->getHtml( 'level-top' ) ?>
<?php if ( $_menu ): ?>
	<div class="main-navigation hidden-xxs hidden-xs">
		<ul id="nav">
			<?php echo $_menu ?>
			<li class="level0"><a class="level-top" href="<?php echo $this->getUrl() ?>new-arrivals">NEW ARRIVALS</a>
			</li>
			<?php
			$category = Mage::getModel( 'catalog/category' )->load( 453 )
			                ->getProductCollection();
			if ( $category->count() != 0 ) { ?>
				<li class="level0"><a class="level-top" style="color:#ff3366;"
				                      href="<?php echo $this->getUrl() ?>on-sale">ON SALE</a></li>
			<?php } ?>
		</ul>
	</div>
	<div class="mobile-menu visible-xxs visible-xs">
				<div id="mobile-menu-icon">
					<i class="fa fa-bars"></i>
				</div>
				<ul class="nav mobile-menu-content">
					<?php echo $_menu ?>
					<li class="level0"><a class="level-top" href="<?php echo $this->getUrl() ?>new-arrivals">NEW ARRIVALS</a>
					</li>
					<?php
					$category = Mage::getModel( 'catalog/category' )->load( 453 )
					                ->getProductCollection();
					if ( $category->count() != 0 ) { ?>
						<li class="level0"><a class="level-top" style="color:#ff3366;"
						                      href="<?php echo $this->getUrl() ?>on-sale">ON SALE</a></li>
					<?php } ?>
				</ul>
	</div>
<?php endif ?>
