<!-- <?php echo $this->hehe(); ?> -->
<?php $_menu = $this->getHtml( 'level-top' ) ?>
<?php if ( $_menu ): ?>
	<!--<div class="main-navigation hidden-xs">
		<ul id="nav">
			<?php /*echo $_menu */?>
			<li class="level0"><a class="level-top" href="<?php /*echo $this->getUrl() */?>new-arrivals">NEW ARRIVALS</a>
			</li>
			<?php
/*			$category = Mage::getModel( 'catalog/category' )->load( 453 )
			                ->getProductCollection();
			if ( $category->count() != 0 ) { */?>
				<li class="level0"><a class="level-top" style="color:#ff3366;"
				                      href="<?php /*echo $this->getUrl() */?>on-sale">ON SALE</a></li>
			<?php /*} */?>
		</ul>
	</div>-->
	<div class="mobile-nav">
		<div class="navbar">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<?php echo $_menu ?>
				</ul>
			</nav><!-- /.navbar-collapse -->
		</div>
	</div>
<?php endif ?>
