<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Out of stock Notification</title>
</head>

<body topmargin="0px" leftmargin="0px" rightmargin="0px" bottommargin="0px" style="font-family:Arial, Helvetica, sans-serif;color:#333;font-size:12px;">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="402" align="center" valign="top"><table width="600"  cellpadding="0" cellspacing="0" style="border: 2px solid #999;">
      <tr>
        <td height="398" align="left" valign="top">
        <table width="600" border="0" cellspacing="0" cellpadding="0" style="border-bottom: 2px solid #999;">
          <tr>
            <td width="25" height="92" bgcolor="#CCCCCC">&nbsp;</td>
            <td width="575" bgcolor="#CCCCCC" style="font-size:25px;color:#fff;font-weight:bold;">
            <a style="text-decoration: none;" href="{{var siteLink}}">{{var storeName}}</a> </td>
          </tr>
        </table>
        <table width="600" height="98" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="25" height="108" rowspan="3">&nbsp;</td>
            <td width="553" height="15">&nbsp;</td>
            <td width="22" rowspan="3">&nbsp;</td>
          </tr>
          <tr>
            <td height="61"><span style="font-size: 17px; color: #000; font-weight: bold">Dear Customer,<br />
              <br />
              <span style="font-size: 12.0pt; color:#0099FF">We're getting in touch as per your email notification request.<br />
              </span></span></td>
          </tr>
          <tr>
            <td height="16"><span style="font-size: 11.0pt; color: #4d4d4d">The  product <a style="text-decoration: none;" href="{{var productUrl}}">{{var productName}}</a> is back in stock. Please visit our store and complete your shopping!! </span></td>
          </tr>
        </table>
        <table width="600" height="231" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="24" rowspan="2">&nbsp;</td>
            <td width="185" align="left" valign="top">&nbsp;</td>
            <td height="15" colspan="2">&nbsp;</td>
            <td width="22" rowspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td width="185" height="216" align="left" valign="top">
            <a target="_new" href="{{var productUrl}}" >
                <img title="{{var productName}}" width="185" height="190" 	alt="{{var productName}}" src="{{var productImg}}" id="apptha_notify_outofstock_img">
            		
            </a>		
            </td>
            <td width="14">&nbsp;</td>
            <td width="355" align="left" valign="top" style="font-size: 10.0pt; color: #4d4d4d;text-align:justify;">
              <h2 style="color:#0099FF;font-size:13px;"><a style="text-decoration: none;" href="{{var productUrl}}">{{var productName}}</a></h2>
              <p style="text-align: left; ">{{var productDesc}}</p>
            </td>
          </tr>
        </table>
        <table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
