<?php $oGiftCardSession = Mage::getSingleton('giftcards/session'); ?>

<div class="discount">
    <div class="coupon-gift-container">
    <h2 style="padding-top:0"><?php echo $this->__('Gift Cards'); ?></h2>
    <p style="margin-bottom:15px">Reedem or use your gift card now:</p>
    <div class="discount-form">
        <form method="post" action="<?php echo $this->getUrl('giftcards/cart/activateGiftCard'); ?>" id="activateGiftCard">
            <div class="input-box" style="float:left">
                <input value="" name="giftcard_code" id="giftcard_code" class="input-text" style="width:210px;margin-right:10px">
            </div>
            <div class="buttons-set">
                <button style="padding: 5px 16px;" value="<?php echo $this->__('APPLY') ?>" onclick="giftCardForm.submit(true)" class="button"
                        title="APPLY" type="button"><span><span><?php echo $this->__('APPLY') ?></span></span>
                </button>
            </div>
        </form>

        <?php $currencySymbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); $temp = 0; ?>
        <?php if($oGiftCardSession->getActive())
                    foreach($oGiftCardSession->getFrontOptions() as $k => $v)
                    {
                        if($temp) {
                            echo '<br/><br/>';
                        }
                        echo '<b>'.$currencySymbol.$v['applied'].$this->__('applied from Gift Card').' **********'.$v['code'].'.</b><br/>';
                        echo $this->__('Remaining card balance').': '.$currencySymbol.$v['remaining'].'. (<a href="'.$this->getUrl("giftcards/cart/deActivateGiftCard/id/$k").'">'.$this->__('Remove').'</a>)';
                        $temp = 1;
                    }
        ?>
    </div>
    <script type="text/javascript">
        //&lt;![CDATA[
        var deActivateGiftCardForm = new VarienForm('deActivateGiftCard');
        var giftCardForm = new VarienForm('activateGiftCard');
        //]]&gt;
    </script>
    </div>
</div>
