<?php /* @var $this Mage_Catalog_Block_Product_View_Abstract */?>
<?php
$notifyMail  = Mage::getStoreConfig('Outofstocknotification/general/activate_apptha_outofstock_email');
$enableOutOfStock  = Mage::getStoreConfig('Outofstocknotification/general/activate_apptha_outofstock_enable');
$enableOutOfStock = intval($enableOutOfStock);
$notifyRequest = Mage::getStoreConfig('Outofstocknotification/general/activate_apptha_outofstock_notifymes');

$storeName = Mage::getStoreConfig("general/store_information/name");
$_product = $this->getProduct();
$productId =  $_product->getId();

$productName = $_product->getName();


$productUrl = $_product->getUrlInStore();
//echo strlen('A computer is a programmable machine designed to automatically carry out a sequence of arithmetic or logical operations. The particular sequence of operations can be changed readily, allowing the computer to solve more than one kind of problem. An important class of computer operations on some computing platforms is the accepting of input from human operators and the output of results formatted for human consumption.');
$crtlPageUrl = Mage::getBaseUrl().'/outofstocknotification/index/storeNotificationProductData';

if ($_product->isAvailable()): ?>
    <p class="availability in-stock"><span><?php echo $this->__('In stock') ?></span></p>
<?php else:
?> <p class="availability out-of-stock"><span><?php echo $this->__('Backordered') ?></span></p>
<?php
if($enableOutOfStock){
?>
<input type="hidden" value="<?php echo $ctrlPageUrl; ?>" id='ctrlUrlOfOutOfStock' name ='baseUrlOfOutOfStock' />
<input type="hidden" value="<?php echo $productId; ?>" id='productId' name ='productId' />
<input type="hidden" value="<?php echo $productName; ?>" id='productName' name ='productName' />
<input type="hidden" value="<?php echo $productUrl; ?>" id='productUrl' name ='productUrl' />

<div class="block-body apptha-outofstock-block-body line" id='responceMesPlace'>
    <span id='contentofnotification' >
	   	 <div id="notify_conform" class="notify_conform"></div>
	     <span id="notify_message"><?php echo $notifyRequest; ?></span>
      <div id="padding_div" style="margin-top: 10px;" >
	     <span id="notify_error" class="line notify_error"></span>

	     <input id="outofstock_email" placeholder="E-MAIL ADDRESS" type="text"  name="outofstock_email"  >
	     <button class="button" title="Subscribe" type="submit" onclick="return stockNotifyValidate('<?php echo $productId; ?>' , '<?php echo $productName; ?>' ,'<?php echo $productUrl; ?>' ,'<?php echo $crtlPageUrl; ?>','')" >
	     <span>Notify Me</span>
	     </button> <div id='ajaximageshowing' class="ajaxreloadimage" ></div>
	     <div style="display: none;color: red;font-size: 11px;margin-left: 43px;" id="outofstock_notify_error" >Please specify a <b>valid</b> Email Address<br></div>
	      </span>

	</div>
	</span>
</div>
<?php } //if out of stock endable

endif; ?>
<?php echo $this->getChildHtml('product_type_data_extra') ?>
<?php /**echo $this->getPriceHtml($_product)**/ ?>
