<?php
    $product = $this->getProduct();
?>

<?php if ($this->hasError()): ?>
<div class="quick-add-error">
    <div class="add-to-cart-error">
        <h2>Oops, something is missing.</h2>
        <p><?php echo $this->getError() ?></p>
        <!-- <a id="colorClose" class="close-ajax" href="#">close</a> -->
    </div>
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $("#colorClose").click(function () {
            jQuery.colorbox.close(); return false;
        });
    });
</script>
</div>
<?php else: ?>
<div class="quick-add">
    <div class="add-to-cart-done"><?php echo $this->__('Done.')?></div>
    <h1><?php echo $product->getName().'<br/>'.'is in your shopping cart.';?></h1>
    <table class="table hidden-xxs hidden-xs">
    <tbody>
        <tr class="row-with-image">
           <td class="a-center">
                <a href="#" class="product-image"><img src="<?php echo Mage::helper('catalog/image')->init($product, 'small_image')->resize(148, 148); ?>" width="148" height="148" /></a>
            </td>
            <td class="large">
                <h2 class="product-name"><?php echo $product->getName(); ?></h2>
                <dl class="item-options">
                    <dd><span>Sku:</span><?php echo $product->getSku(); ?></dd>
                    <dt></dt>
                </dl>
            </td>
            <td class="a-center quantity">
                Quantity: <?php echo $this->getQuantity() ?>
            </td>
            <td class="a-center">
                <span class="price"><?php echo $this->formatPrice($this->getQuantity() * $product->getFinalPrice()) ?></span>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="last-row">
            <td></td>
            <td><span class="there-are">There are <?php echo $this->getCartItemsCount() ?> <?php if($this->getCartItemsCount() > 1): ?>items<?php else: ?>item<?php endif; ?> in your cart</span></td>
            <td class="a-center"><span class="subtot">Subtotal</span></td>
            <td class="a-center"><span class="price"><?php echo $this->formatPrice($this->getCartSubtotal()) ?></span></td>
        </tr>
    </tfoot>
    </table>
</div>
<div class="quick-add-buttons">
    <a class="button super-button" href="<?php echo $this->getUrl('onestepcheckout', array('_secure'=>true)); ?>">Checkout</a>
    <a class="button super-button check-butt" href="<?php echo $this->getUrl('checkout/cart') ?>">View/Edit cart</a>
    <!-- <a class="close-ajax" value="Close" onClick="window.location.reload()">close</a> -->
</div>
<?php endif; ?>


