<?php $oGiftCardSession = Mage::getSingleton( 'giftcards/session' ); ?>

<!--<div class="discount">-->

<!--  <div class="op_block_title"><?php /*echo $this->__('Gift Cards') */ ?></div> -->

<div class="discount-form">
	<?php $currencySymbol = Mage::app()->getLocale()->currency( Mage::app()->getStore()->getCurrentCurrencyCode() )->getSymbol();
	$temp                 = 0; ?>
	<?php if ( $oGiftCardSession->getActive() ) {
		foreach ( $oGiftCardSession->getFrontOptions() as $k => $v ) {
			if ( $temp ) {
				echo '<br/><br/>';
			}
			echo '<strong class="onepage-giftcard-msg1">' . $currencySymbol . $v['applied'] . $this->__( ' applied from Gift Card *******' ) . ' ' . $v['code'] . '.</strong><br/>';
			echo '<span class="onepage-giftcard-msg2">' . $this->__( 'Remaining card balance' ) . ': ' . $currencySymbol . $v['remaining'] . '. (<a href="' . $this->getUrl( "giftcards/cart/deActivateCheckoutGiftCard/id/$k" ) . '">' . '</span>' . $this->__( 'Remove' ) . '</a>)';
			$temp = 1;
		}
	}
	?>
	<div class="input-box">
		<label for="giftcard_code"
		       class="label-custom"><?php echo $this->__( 'Redeem and use your Gift Card' ); ?></label></br>
		<input value="" name="giftcard_code" id="giftcard_code" class="input-text" type="text">
	</div>
	<div class="buttons-set">
		<button value="<?php echo $this->__( 'Activate' ) ?>" onclick="activateGiftCard();" class="button"
		        title="Activate" type="button"><span><span><?php echo $this->__( 'Apply' ) ?></span></span>
		</button>
	</div>
</div>
<script type="text/javascript">
	//&lt;![CDATA[
	function activateGiftCard() {
		var coupon = $('giftcard_code').getValue();
		var url = '<?php echo $this->getUrl('giftcards/cart/activateCheckoutGiftCard', array('_secure'=>true)); ?>';
		var parameters = {giftcard_code: coupon};
		if (coupon == '') {
			alert('<?php echo $this->__('Please enter a valid Gift Card code.'); ?>');
			return;
		}

		new Ajax.Request(url, {
			method: 'post',
			parameters: parameters,
			onSuccess: function (transport) {
				if (transport.status == 200) {
					window.location = '<?php echo $this->getUrl('onestepcheckout', array('_secure'=>true)); ?>';
				}
			}

		});
	}
	//]]&gt;
</script>
<!--</div>-->
