<p>
    You have 30 days to change your mind. If you decide to return your purchase within the first 15 days, you will get your money back, no questions asked. If you need a bit more time to think about it and decide to return within the 15 following days, you will be refunded with store credit (coupon) of the full amount of your purchase. <a href="<?php echo $this->helper('cms/page')->getPageUrl('return-policy') ?>">More details.</a>
</p>