<?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?>
<?php $productId=$this->getRequest()->getParams();
$model = Mage::getModel('catalog/product');
$_product = $model->load($productId["id"]);
?>
<div class="have-a-question-prod">
    <form class="account-forms" action="/prod_contact/send_email.php" id="contactForm" method="post" onsubmit="return fsubm();">
        <h2><?php echo Mage::helper('contacts')->__('I have a question about this product') ?></h2>
        <div class=" form-list">
            <div class="input-box">
                <label>Your Name*</label>
                <input name="name" id="name" title="<?php echo Mage::helper('contacts')->__('Name') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
            </div>
            <div class="input-box">
                <label>Your E-mail*</label>
                <input name="email" id="email" title="<?php echo Mage::helper('contacts')->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
            </div>
            <div class="input-box subject">
                <label>Subject</label>
                <input name="subject" id="subject" title="<?php echo Mage::helper('contacts')->__('Subject') ?>" value="Question about <?php echo $_product->getName(); ?>" class="input-text required-entry" type="text" />
            </div>
            <div class="input-box">
                <label>Your Message*</label>
                <textarea name="comments" id="comments" title="<?php echo Mage::helper('contacts')->__('Comments') ?>" class="required-entry input-text" cols="5" rows="3" required></textarea>
            </div>
            <div id="mc">
                <p>Please draw the shape in the box to submit the form:</p>
                <canvas id="mc-canvas"></canvas>
            </div>
            <div class="buttons-set">
                <input type="text" name="hideit" id="hideit" value="" style="display:none !important;" />
                <input type="submit" disabled="disabled" title="<?php echo Mage::helper('contacts')->__('Submit') ?>" class="button super-button" id="contactFormSubmit"/>
            </div>
        </div>
    </form>
    <a class="close-ajax" value="Close" onClick="window.location.reload()">close</a>
    <script type="text/javascript">
        var contactForm = new VarienForm('contactForm', true);

        function fsubm(){
            new Ajax.Updater(
            {success:'have-a-question-form'},
            '/helloworld/index/sendamessage',
            {
                method:'post',
                action:"/helloworld/index/sendamessage",
                asynchronous:true,
                evalScripts:false,
                onComplete:function(request, json){
                },
                onLoading:function(request, json){
                },
                parameters:Form.serialize($('contactForm'))
            });
            return false;
        }
    </script>
</div>
