<?php
$_product = $this->getProduct();
?>

<div class="quick-product contailner">
	<script type="text/javascript">
		//<![CDATA[
		var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
		//]]>
	</script>
	<?php
	$actualCategory = Mage::getModel('catalog/category')->load(304);
	$subCategories = explode(',', $actualCategory->getChildren());
	$manufacturerURL = '';
	foreach ($subCategories as $subCategoryId) {
		$category = Mage::getModel('catalog/category')->load($subCategoryId);
		if ($category->getIsActive() && $category->getName() == $_product->getAttributeText('manufacturer')) {
			$manufacturerURL = $category->getURL();
			$manufacturerName = $category->getName();
		}
	}
	?>
	<div class="product-shop row">
		<div class="col-xxs-7">
			<div class="product-images">
				<div class="product-image-big ">
					<a href="<?php echo $_product->getProductUrl(); ?>">
						<img class="img-responsive" src="<?php echo Mage::helper('catalog/image')->init($_product, 'image')->constrainOnly(true)->resize(530, 345); ?>"/>
					</a>
				</div>
				<p class="product-image-below"><a href="<?php echo $_product->getProductUrl(); ?>" id="show-product-gallery" style="text-decoration:none">More Info About This Product</a></p>
				<div class="media-shadow"></div>
				<?php if ($_product->getSpecialPrice() != null) { ?>
				<div class="product-page-sales">
						<img src="<?php echo $this->getSkinUrl('images/product-page-sales.png'); ?>" class="onsaleicon"/>
				</div>
				<?php } ?>
			</div>
		</div>
		<div class="col-xxs-5">
			<div class="product-right">
				<div class="product-right-bottom">
					<?php if($_product->getPreorder() == '1'):?>
						<div class="quickview-pre-order-label"><img src="<?php echo $this->getSkinUrl('images/quickview-pre-order.png'); ?>" class="pre-order-label"/></div>
					<?php endif;?>
					<form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
						<div class="product-quantity">
							<span>Quantity</span><input type="text" name="qty" id="qty" maxlength="2" value="1" title="<?php echo $this->__('Qty') ?>" class="input-text qty" <?php if(!$_product->isSaleable()) { echo 'disabled="disabled"'; } ?>>
						</div>
						<?php echo $this->getPriceHtml($_product) ?>
						<div class="product-sku">
				        <span>
					        <?php echo 'SKU: '.$_product->getSKU() ?>
				        </span>
						</div>
						<div class="product-attributes">
								<?php if ($this->hasOptions()): ?>
									<?php echo $this->getChildHtml('product_options') ?>
								<?php endif;?>
						</div>
						<div class="product-buttons">
							<?php if($_product->isSaleable()): ?>
								<?php if(!$_product->getPreorder() == '1'):?>
									<button type="submit" class="add-to-cart"><?php echo $this->__('Add To Cart')?></button>
									<?php else:?>
									<button type="submit" class="add-to-cart pre-order-button"><?php echo $this->__('Pre Order')?></button>
									<?php endif; ?>
							<?php else: ?>
								<a href="#" class="sold-out-button"><?php echo $this->__('Sold out')?></a>
							<?php endif; ?>
							<a class="button button-secondary add-to-wishlist" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"><?php echo $this->__('Add To Wishlist')?></a>
						</div>
					</form>
				</div>
				<script type="text/javascript">
					//<![CDATA[
					(function($) {
						$(document).ready(function() {
							var basePrice = <?php echo $_product->getPrice() ?>;

							var setPrice = function(newPrice) {
								$(".regular-price span").text("$" + newPrice.toFixed(2));
							};

							$(".product-attributes select").on("change", function() {
								var $selected = $(":selected", this);
								var priceDiff = parseFloat($selected.data('price'));

								if (isNaN(priceDiff)) {
									priceDiff = 0;
								}
								setPrice(basePrice + priceDiff);
							});

							$('#product_addtocart_form').on('submit', function(e) {
								var $spinner = $('.spinner', this);
								Gessato.addToCart($(this), $spinner);
								e.preventDefault();
							});
						});
					})(jQuery);
					//]]>
				</script>
			</div>
		</div>
		<div class="quick-overview">
			<div class="product-name">
				<h1><?php echo $_product->getName(); ?></h1>
			</div>
			<div class='short-description'><div class="ellipsis"><?php echo $_product->getShortDescription(); ?></div><p style="height:20px;">...</p></div>
		</div>
	</div>
	<div class="clear"></div>
</div>