
.responceMessStyle{

height: 30px;

}

.notify_error{

}
.apptha-outofstock-block-body {
background-color: #EEE;
font-size: 18px;
padding:10px 15px ;
color: black;
font-weight: bolder;
font-size: 18px;

}


.bmargin10 {
margin-bottom: 10px;
}
.tmargin10 {
margin-top: 10px;
}
.notify-button-blue {
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3881A7), to(#245A77));
background-color: #245A77;
border-bottom-left-radius: 4px 4px;
border-bottom-right-radius: 4px 4px;
border: 0px;
border-top-left-radius: 4px 4px;
border-top-right-radius: 4px 4px;
color: white !important;
cursor: pointer;
display: inline-block;
font-family: tahoma, verdana, arial, sans-serif;
font-size: 13px;
font-weight: bold;
line-height: normal !important;
padding: 5px 15px;
text-decoration: none;
text-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 1px;
zoom: 1;
}
.ajaxreloadimage{

background-image: url(http://192.168.1.26/magento_dev/magento/skin/frontend/default/default/outofstocknotification/ajax-loader.gif);
background-repeat: no-repeat;
float: right;
height: 16px;
margin-top: 4px;
width: 34px;
display: none;
}
