<div class="row">
	<div class="col-xxs-12">
		<div class="sunflower-subscribe sunflower-sub1">
			<form method="post" action="https://app.icontact.com/icp/signup.php" name="icpsignup" id="icpsignup12857"
			      accept-charset="UTF-8" onsubmit="return verifyRequired12857();">
				<input type="hidden" name="redirect" value="<?php echo Mage::getBaseUrl().'sign-up-success';?>">
				<input type="hidden" name="errorredirect" value="<?php echo Mage::getBaseUrl().'sign-up-error';?>">

				<div class="block-content"></div>
				<div id="SignUp">
					<!--<div class="form-subscribe-header">
                <label for="newsletter"><?php /*echo $this->__('Subscribe To Our Newsletter') */?></label>
            </div>-->
					<div class="input-box">
						<input id="sunflower-sub" type="text" name="fields_email" value="Get it First! New Products + Promotions" title="<?php echo $this->__('Sign up for our newsletter') ?>">
					</div>
					<input type="hidden" name="listid" value="180673">
					<input type="hidden" name="specialid:180673" value="6TUW">
					<input type="hidden" name="clientid" value="334920">
					<input type="hidden" name="formid" value="12857">
					<input type="hidden" name="reallistid" value="1">
					<input type="hidden" name="doubleopt" value="0">

					<div class="actions">
						<button type="submit" title="<?php echo $this->__('Subscribe') ?>" class="button">
							<span><span><?php echo $this->__('Subscribe') ?></span></span></button>
					</div>

				</div>
			</form>
			<script type="text/javascript">
				jQuery.noConflict();
				jQuery(document).ready(function(){
					var Input = jQuery('input[name=fields_email]');
					var default_value = Input.val();

					jQuery(Input).focus(function() {
						if(jQuery(this).val() == default_value)
						{
							jQuery(this).val("");
						}
					}).blur(function(){
						if(jQuery(this).val().length == 0) /*Small update*/
						{
							jQuery(this).val(default_value);
						}
					});
				})
			</script>
			<script type="text/javascript">
				var icpForm12857 = document.getElementById('icpsignup12857');
				if (document.location.protocol === "https:")
					icpForm12857.action = "https://app.icontact.com/icp/signup.php";
				function verifyRequired12857() {
					if (icpForm12857["fields_email"].value == "") {
						icpForm12857["fields_email"].focus();
						alert("The Email field is required.");
						return false;
					}
					return true;
				}
			</script>

		</div>
	</div>
</div>
