<?php
/**
 * @category    Fishpig
 * @package     Fishpig_iBanners
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php if ($this->hasValidGroup()): ?>
	<?php $group = $this->getGroup() ?>
	<?php $banners = $this->getBanners() ?>
		<div id="<?php echo $this->getWrapperId() ?>-wrapper" class="<?php echo $this->getWrapperClass() ?>">
				<ul class="bxslider">
					<?php foreach($banners as $banner): ?>
						<li id="ibanner-<?php echo $banner->getId() ?>" class="banner" style="width:100%;">
							<?php if ($banner->getImageUrl()): ?>
								<?php if ($banner->hasUrl()): ?>
									<a href="<?php echo $banner->getUrl() ?>" title="<?php echo $this->escapeHtml($banner->getTitle()) ?>"<?php if ($banner->getUrlTarget()): ?> target="<?php echo $banner->getUrlTarget() ?>"<?php endif; ?>>
								<?php endif; ?>
								<img class="img-responsive" src="<?php echo $banner->getImageUrl() ?>" alt="<?php echo $this->escapeHtml($banner->getAltText()) ?>" style="width:100%;"/>
								<?php if ($banner->hasUrl()): ?>
									</a>
								<?php endif; ?>
							<?php endif; ?>
							<?php if ($banner->getHtml()): ?>
								<div class="html"><?php echo $banner->getHtml() ?></div>
							<?php endif; ?>
						</li>
					<?php endforeach; ?>
				</ul>
                <div class="shad"></div>
			</div>
<?php endif; ?>
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery('.bxslider').bxSlider({
			auto: true,
			preloadImages: 'all'
		});
	});
</script>
