<?php $_products=$this->getLoadedProductCollection() ?>
<?php if ($_products->count()): ?>
<h2 class="subtitle"><?php echo $this->__('Trendsetters') ?></h2>
<?php $_columnCount = $this->getColumnCount(); ?>
    <?php $i=0; foreach ($_products->getItems() as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid row">
        <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?> col-xxs-12 col-xs-6 col-lg-3">

                <div class="image-wrapper"><!-- quick view system by boris -->
			<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img class="img-responsive" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(450, 356); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                    <a class="quick-view ajax" href="<?php echo $this->getUrl('ajax/product/quickview/id/' . $_product->getId()) ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" alt="quick view">Quick view</a>
                </div>
	            <div class="boris-product-vars">
		            <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h3>
		            <?php echo $this->getPriceHtml($_product, true, '-new') ?>


		            <!-- da qua -->
                    <span class="ajax-wishlist">
                    <?php if (Mage::helper('combo/wishlist')->productInWishlist($_product)) : ?>
	                    <a class="ajax-remove-wishlist heart added-w" href="<?php echo $this->helper('combo/wishlist')->getRemoveProductUrl($_product) ?>"></a>
                    <?php else: ?>
	                    <a class="ajax-add-wishlist heart" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"></a>
                    <?php endif; ?>
                    </span>
		            <!-- a qua -->

	            </div>
	            <div class="onsale-label"> <?php if ($_product->getSpecialPrice() != null) { ?>
			            <img src="<?php echo $this->getSkinUrl('images/sale.png');?>" class="onsaleicon-list" />
		            <?php } ?>
	            </div>
                <div class="shad"></div>
            </li>
        <?php if ($i%$_columnCount==0 || $i==count($_products)): ?>
        </ul>
        <?php endif ?>
    <?php endforeach; ?>
<?php endif; ?>
