<?php
$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$_curentCat = Mage::registry('current_category');
//echo $_curentCat->getParentId(); die;
?>
<?php if (!$_productCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
    <div class="category-products">
<!--    --><?php //echo $this->getToolbarHtml() ?>
    <?php // List mode ?>
    <?php if ($this->getMode() != 'grid'): ?>
        <?php $_iterator = 0; ?>
        <ol class="products-list row" id="products-list">
            <?php foreach ($_productCollection as $_product): ?>
                <li class="item<?php if (++$_iterator == sizeof($_productCollection)): ?> last<?php endif; ?> col-xxs-12 col-xs-6 col-lg-3">

                    <div class="commands"><?php // commands ?>
                        <?php // Product Image ?>
                        <a href="<?php echo $_product->getProductUrl() ?>"
                           title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
                           class="product-image"><img class="img-responsive"
                                src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(450, 356); ?>"

                                alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/></a>

                        <?php // product commands by boris ?>
                        <ul class="add-to-links">
                            <li class="learn-more"><a
                                    href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('Learn More') ?></a>
                            </li>
                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"
                                       class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                            <?php endif; ?>
                        </ul>
                        <?php if ($_product->isSaleable()): ?>
                            <p>
                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>"
                                        class="button btn-cart"
                                        onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                                    <span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                            </p>
                        <?php else: ?>
                            <p class="availability sold-out button"><span><?php echo $this->__('Sold Out') ?></span>
                            </p>
                        <?php endif; ?>
                        <?php // product commands by boris ?>
                    </div><?php // end commands ?>

                    <?php // Product description ?>
                    <div class="product-shop">
                        <div class="f-fix">
                            <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                            <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>"
                                                        title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?></a>
                            </h2>

                            <?php echo $this->getPriceHtml($_product, true) ?>

                            <?php if ($_product->getRatingSummary()): ?>
                                <?php echo $this->getReviewsSummaryHtml($_product) ?>
                            <?php endif; ?>

                            <div class="desc std">
                                <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                            </div>
                        </div>
                    </div>

                </li>
            <?php endforeach; ?>
        </ol>
        <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

    <?php else: ?>

    <?php // Grid Mode ?>

    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = $this->getColumnCount(); ?>
		<ul class="products-grid row">
			    <?php $i = 0;
			    foreach ($_productCollection as $_product): ?>
			<!--    --><?php //if ($i++ % $_columnCount == 0): ?>
			<!--    --><?php //endif ?>
				    <li class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?> col-xxs-12 col-xs-6 col-sm-4 col-md-3">
				    

				        <div class="image-wrapper"><!-- quick view system by boris -->
					        <a href="<?php echo $_product->getProductUrl() ?>"
					           title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
					           class="product-image"><img class="img-responsive"
					                                      src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(450, 356); ?>"
					                                      alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/></a>
					        <!-- quick view button by boris -->
					        <a class="quick-view ajax"
					           href="<?php echo $this->getUrl('ajax/product/quickview/id/' . $_product->getId()) ?>"
					           title="<?php echo $this->htmlEscape($_product->getName()) ?>" alt="quick view">Quick view</a>
				        </div>
			            <div class="boris-product-vars">
			                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>"
			                                            title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
			                </h2>
			                <?php echo $this->getPriceHtml($_product, true) ?>

			                <!-- da qua -->
			                    <span class="ajax-wishlist">
			                    <?php if (Mage::helper('combo/wishlist')->productInWishlist($_product)) : ?>
			                        <a class="ajax-remove-wishlist heart added-w"
			                           href="<?php echo $this->helper('combo/wishlist')->getRemoveProductUrl($_product) ?>"></a>
			                    <?php else: ?>
			                        <a class="ajax-add-wishlist heart"
			                           href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>"
			                           class="link-wishlist"></a>
			                    <?php endif; ?>
			                    </span>
			                <!-- a qua -->

			            </div>
					    <div class="onsale-label"> <?php if ($_product->getSpecialPrice() != null) { ?>
							    <img src="<?php echo $this->getSkinUrl('images/sale.png');?>" class="onsaleicon-list" />
						    <?php } ?>
					    </div>
			            <div class="shad"></div>
			        </li>
			<!--        --><?php //if ($i % $_columnCount == 0 || $i == $_collectionSize): ?>
			<!--    --><?php //endif ?>
			    <?php endforeach ?>
		</ul>
        <script
            type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd', 'even', 'first', 'last'])</script>
        <script type="text/javascript">

            jQuery(document).ready(function ($) {
                $(".quick-view").colorbox({transition: "fade", maxWidth: "100%", scrolling: false, opacity: 0.6, maxHeight: "100%", onComplete : function() {
	                $(this).colorbox.resize();}});
                $(".callbacks").colorbox({
                    onOpen: function () {
                        alert('onOpen: colorbox is about to open');
                    },
                    onLoad: function () {
                        alert('onLoad: colorbox has started to load the targeted content');
                    },
                    onComplete: function () {
                        alert('onComplete: colorbox has displayed the loaded content');
                    },
                    onCleanup: function () {
                        alert('onCleanup: colorbox has begun the close process');
                    },
                    onClosed: function () {
                        alert('onClosed: colorbox has completely closed');
                    }
                });
            });
        </script>
        <script type="text/javascript">
            adroll_adv_id = "7EJ2YJEVCBFSNE3VUW4P5U";
            adroll_pix_id = "GM2RX5MDR5AVDNFBU42YEO";
            (function () {
                var oldonload = window.onload;
                window.onload = function () {
                    __adroll_loaded = true;
                    var scr = document.createElement("script");
                    var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                    scr.setAttribute('async', 'true');
                    scr.type = "text/javascript";
                    scr.src = host + "/j/roundtrip.js";
                    ((document.getElementsByTagName('head') || [null])[0] ||
                        document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
                    if (oldonload) {
                        oldonload()
                    }
                };
            }());
        </script>
    <?php endif; ?>

    <div class="toolbar-bottom">
        <?php echo $this->getToolbarHtml() ?>
    </div>
    <?php if (Mage::app()->getRequest()->getRouteName() == 'catalogsearch'): ?>
    <?php else: ?>
        <?php if (!($_cat_parent_id == 304)): ?>
            <script type="text/javascript">
                jQuery.noConflict();
                jQuery(document).ready(function () {
                    jQuery('.toolbar').addClass('custom-toolbar')
                });
            </script>
        <?php endif; ?>
    <?php endif; ?>
    </div>
<?php endif; ?>
