<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('catalog/output');
?>
<h1 class="inverse" style="margin-top:0;margin-bottom:20px">Gift Cards</h1>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="category-products">
    <?php $_collectionSize = $_productCollection->count() ?>
    <?php $_columnCount = $this->getColumnCount(); ?>
    <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-gift-list row">
        <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?> col-xxs-12 col-sm-6">
                <div class="products-gift-list-content">
                    <?php if($_product->load($p)->getAttributeText('wts_gc_type') != "email"): ?>
                        <div class="gift-print">
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><img src="<?php echo $this->getSkinUrl('images/gift_print_list.jpg') ?>" alt="Gift Card Print"></a>

                            <div class="comic"></div>
                        </div>
                    <?php else: ?>
                        <div class="gift-email">
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><img src="<?php echo $this->getSkinUrl('images/gift_email_list.jpg') ?>" alt="gift Card Email"></a>

                            <div class="comic"></div>
                        </div>
                    <?php endif; ?>

                    <div class="boris-product-vars">
                        <h2 class="product-name"><a class="button super-button" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                        <div class="desc std">
                            <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                        </div>
                    </div>
                </div>
            </li>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
        <?php endif ?>
    <?php endforeach ?>
    <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    <script type="text/javascript">
        adroll_adv_id = "7EJ2YJEVCBFSNE3VUW4P5U";
        adroll_pix_id = "GM2RX5MDR5AVDNFBU42YEO";
        (function () {
        var oldonload = window.onload;
        window.onload = function(){
           __adroll_loaded=true;
           var scr = document.createElement("script");
           var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
           scr.setAttribute('async', 'true');
           scr.type = "text/javascript";
           scr.src = host + "/j/roundtrip.js";
           ((document.getElementsByTagName('head') || [null])[0] ||
            document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
           if(oldonload){oldonload()}};
        }());
    </script>
</div>
<?php endif; ?>
<div style="padding:0px 50px;" class="freq-questions">
    <h2>Frequently asked questions</h2>
    <h3>How can I use my GSelect gift card?</h3>
    <p>The GSelect gift card can be redeemed at shop.gessato.com. Look around, find something you like, and apply your gift card code during checkout.</p>

    <h3>Does GSelect offer mobile/email Virtual Gift Cards?</h3>
    <p>Yes. We now offer Virtual Gift Cards.</p>


    <h3>How quickly will I get my virtual card?</h3>
    <p>Virtual gift cards will be delivered within 5 minutes of an order. However, email carriers and other issues can delay your order. If the virtual card is not received within 4 hours please contact orders@gessato.com</p>


    <h3>When does the recipient receive the e–gift card?</h3>
    <p>When you order an e–gift card, you can select any date for delivery. The recipient will receive your virtual gift and message that morning. (P.S. It makes a good insurance policy for hard–to–remember birthdays.)</p>


    <h3>What if I don’t use up my whole gift card?</h3>
    <p>The unused portion remains on your balance and can be used toward any GSelect purchase.</p>


    <h3>Can I return a gift card?</h3>
    <p>Unfortunately, GSelect gift cards are non–refundable. If you’d like to return a purchase made with a GSelect gift card, the funds will be credited back to your gift card.</p>


    <h3>If a gift card is lost or stolen, can it be replaced?</h3>
    <p>A gift card cannot be replaced if lost or stolen. Gift cards should be treated like cash.</p>


    <h3>Do Virtual Gift Cards Expire?</h3>
    <p>No. There is no expiration date on your Virtual Gift Card.</p>


    <h3>Have other questions not answered here?</h3>
    <p>Please contact us at <a href="mailto:info@gessato.com" target="_blank" alt="ask your question via e-mail">info@gessato.com</a> or <a class="livechat" href="javascript:$zopim.livechat.window.show()" >CHAT LIVE</a>, We're happy to help!</p> 
</div>
