<?php
$_categoryId = $this->getCategoryId();

$_productCollection = Mage::getModel('catalog/category')->load($_categoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('status', 1)
    ->addAttributeToFilter('visibility', 4)
    ->setOrder('price', 'ASC');
?>
<?php foreach ($_productCollection as $_product): ?>
    <?php if(isset($_SERVER['HTTPS']) && $_SEREVER['HTTPS'] != 'off'):?>
    <?php $urlString = $this->helper('catalog/image')->init($_product, 'small_image')->resize(188, 149); ?>
       <?php $imageURL = str_replace('http://shop.gessato.com', 'https://secure.gessato.com', $urlString);
//        echo 'is secure';
        ?>
        <?php else: ?>
<!--        --><?php //echo 'non-secure'; ?>

            <?php $imageURL= $this->helper('catalog/image')->init($_product, 'small_image')->resize(188, 149);?>
        <?php endif;?>
    <div class="item">
        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img class="img-responsive" src="<?php echo $imageURL?>"  alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
        <a class="quick-view-nav ajax" href="<?php echo $this->getUrl('ajax/product/quickview/id/' . $_product->getId()) ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" alt="quick view">Quick view</a>
    </div>
<?php endforeach ?>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".quick-view-nav").colorbox({transition:"fade", maxWidth:"100%", opacity: 0.6, scrolling:false, maxHeight: "100%", onComplete : function() {
	        $(this).colorbox.resize();}});
    });
</script>


