/*breadcrumbs*/

.breadcrumbs{
	width: 930px;
	float: left;
	padding: 15px;
	padding-bottom: 0;
	text-transform: uppercase;
	font-family: 'dinregular';
	color: #aaa;
        font-size: 9pt;
        margin: 12px 0;
        font-weight: normal;
}
.breadcrumbs ul{
	margin: 0 10px;
}
.breadcrumbs ul li{
	float: left;
}
.breadcrumbs a{
	text-transform: uppercase;
	font-family: 'dinregular';
    color: inherit;
}
.breadcrumbs span{
    display: inline-block;
    margin: 0 5px;
}
