/*content*/
p a {
    text-decoration: underline;
}

h2.subtitle{
	margin: 0 10px;
}
h1{
	font-family: 'dincond-blackregular';
	font-weight: normal;
	color: #000;
	font-size: 2.6em;
	letter-spacing: -1px;
	padding: 10px 0;
	margin: 0 10px 15px 10px;
	/*border-bottom: 1px dotted #ccc;*/
	clear: both;
	overflow: hidden;
	text-transform: none;
}
.main{
	width: 960px;
	margin: auto;
	min-height: 640px;
	background: #fff url('../../images/big_shadow.png') no-repeat top center;
	font-size: 14px;
	clear: both;
	overflow: hidden;
	position: relative;
}
.cms-home .main{
	background: #fff;
}
.main-shadow{
	width: 960px;
	height: 10px;
	margin: auto;
	margin-bottom: 50px;
	background: url('../../images/big_shadow.png') no-repeat top center;
	display: block;
	clear: both;
	overflow: hidden;
}
.col-main{
	padding: 15px;
	padding-bottom: 60px;
	float: left;
}
h4,
h3,
h2{
	padding: 20px 0 10px 0;
	color: #000;
	font-family: 'dincond-boldbold';
	font-weight: normal;
	font-size: 22px;
	display: block;
	clear: both;
	overflow: hidden;
}
h2{
	text-transform: uppercase;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 16px;
}
.col1-layout .col-main{
	width: 930px;
}
.col3-layout .col-main{
	width: 460px;
	float: right;
	padding: 15px 10px;
}
.col3-layout .col-wrapper{
	width: 720px;
	float: left;
}
.col2-right-layout .col-wrapper,
.col2-right-layout .col-main{
	width: 610px;
	float: left;
}
.col2-left-layout .col-wrapper,
.col2-left-layout .col-main{
	width: 690px;
	float: right;
}
.catalog-category-view .col2-left-layout .col-main{
	width: 750px;
}
.checkout-onepage-index .col-main{
	width: 680px;
}
.col-1,
.col-2{
	width: 50%;
	float: left;
}
.content{
	padding: 10px;
}

/* Cart - Checkout - tables */

#cart-footer .input-box{
	float: left;
	margin-right: 10px
}
#cart-footer button{
	border: 1px solid #33CCFF;
}
.note-msg,
.cart-empty{
	padding: 10px;
}
.table thead{
}
.table th{
	background: #f1f1f1;
	padding: 10px;
    white-space: nowrap;
	text-transform: uppercase;
	font-size: 18px;
	margin: 0px 10px;
	color: #666;
	font-family: 'dincond-regularregular';
}
.table .large{
	min-width: 240px;
}
.table .large .item-msg{
	font-size: 10px;
}
.table dd,
.table dt{
	display: inline-block;
	font-size: 14px;
}
.table .product-name{ 
	padding: 0;
	font-size: 16px;
	font-family: 'dincond-mediumregular';
}
.table .product-name a{
	color: #333;
}
.table .product-image{
	display: block;
	height: 100px;
	width: 100px;
	border: 1px solid #ccc;
	position: relative;
	overflow: hidden;
}
.table .product-image img{
	display: block;
	width: 148px;
	height: auto;
	top: -24px;
	left: -24px;
	position: absolute;
}
.table .table-image{
	width: 102px;
	padding: 20px 10px;
	overflow: hidden;
}
.table .price{
	display: block;
	font-family: 'dincond-blackregular';
	color: #000;
}
.btn-remove,
.address-action,
.table .table-action{
	font-family: 'dinregular';
	text-transform: uppercase;
	color: #33CCFF;
	font-size: 11px;
	margin: 10px 0;
	text-decoration: none;
}
.table .table-action:hover{
	color: #ff3366
}
.table td{
	padding: 20px 15px;
	width: 115px;
        vertical-align: top;
}
.row-with-image td+td {
        padding: 50px 15px;
}
#cart-table .remove{
	margin: 5px;
}
#cart-footer{
	background: #f1f1f1;
	padding: 15px;
	height: 28px;
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0 10px;
}
#cart-footer h2{
	float: left;
	font-size: 20px;
	font-family: 'dincond-boldbold';
	text-transform: uppercase;
	padding-top: 3px;
	padding-right: 10px;
}
#discount-coupon-form button{
	background: #999;
	color: #fff;
	border: 1px solid #999;
}
#discount-coupon-form button:hover{
	background: #33CCFF;
	color: #fff;
	border: 1px solid #33CCFF;
}
#cart-total{
	float: right;
	margin-top: -58px;
	margin-bottom: 15px;
	margin-right: 10px;
}
#cart-total th,
#cart-total td{
	height: 28px;
	padding: 18px 15px 15px 15px;
	font-size: 20px;
	font-family: 'dincond-regularregular';
	text-transform: uppercase;
	color: #888;
	font-weight: normal;
}
#cart-total .price{
	font-family: 'dincond-blackregular';
	font-weight: normal;
	color: #000;
}
#cart-actions{
	display: block;
	clear: right;
	overflow: hidden;
	margin: 0 10px;
	float: right;
}
#cart-actions .button{
	float: right;
	clear: right;
	width: 280px;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #33ccff;
}
#cart-actions .button:hover{
	border: 1px solid #bbb;
	background: #fff;
	color: #777;
}
#cart-actions .continue{
	border: 1px solid #bbb;
	color: #777;
    background-color: transparent;
}
#cart-actions .continue:hover{
	border: 1px solid #33ccff;
	color: white;
	background: #33ccff;
}
.cc-list{
	float: left;
	margin-left: 10px;
	clear: left;
}
.cc-list h2{
	padding: 10px;
	color: #777;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'dincond-regularregular';
	float: left;
}
.cc-list img{
	float: left;
	clear: left;
	margin: 0 5px;
}
.table{
	width: 910px;
	margin: 10px;
	font-family: 'dincond-regularregular';
	font-size: 16px;
}
.order-details,
#my-orders-table,
#wishlist-table,
#sales_grid,
#my-orders-table,
#payments_grid,
#referer_grid,
#traffics-report{
	margin: 0;
	width: 690px;
}
#wishlist-table td{
	width: auto;
}
#cart-table .large{
	width: 240px;
}
#wishlist-table .large{
	width: 260px;
}
#my-orders-table .button,
#wishlist-table .wishlist-buttons{
	vertical-align: baseline;
}
#my-orders-table .button,
#wishlist-table .button{
	width: 120px;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 15px;
	text-transform: uppercase;
}
#my-orders-table .button:hover,
#wishlist-table .button:hover{
	background: transparent;
	border: 1px solid #ccc;
	color: #777;
	padding: 9px 14px;
}
.order-details .items-act{
	vertical-align: baseline;
}
.order-details .large {
min-width: 230px;
}
.order-details-header th,
#my-orders-table thead{
	border: none;
}
.order-details th{
	text-align: left;
}
.order-details,.order-details-header {
	display: none;
}
.reorder {
    color: #33CCFF;
    text-transform: none;
}
.paypal-or{
	display: none;
}
.checkout-types{
	float: right;
}

/* customer account */

.contacts-index-index .col-main{
	margin-top: 10px;
}
.contacts-index-index .account-forms,
.cms-contact-us .account-forms,
.customer-account-forgotpassword .account-forms{
	margin-right: 10px;
	margin-left: 10px;
	width: 442px; 
}
.account-title-container{
	padding: 0 15px; 
}
.box-head a{
	display: block;
	margin: 10px;
}
h1.inverse{
	max-width: 460px;
	padding: 12px 25px;
	margin: 30px 10px 0px 10px;
	background: #33ccff;
	font-family: 'dinregular';
	color: #fff;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: normal;
	letter-spacing: 0px;
}
.my-account .page-title{
	border-bottom: 1px solid #ccc;
}
.welcome-msg{
	margin-top: 15px;
}
.block-account .block-content{
	margin-left: 25px;
}

/* address book */

address{
	font-family: 'dincond-mediumregular';
	font-size: 16px;
	line-height: 1.3;
	color: #888;
	font-style: normal;
}
address a{
	margin-top: 10px;
	display: block;
}

/* log in or create an account */

.account-forms .form-list li strong,
label[for="primary_shipping"],
label[for="primary_billing"]{
	width: 210px;
}
li.control{
	height: 28px;
}
.account-forms{
	margin-top: 40px;
	background: #f6f6f6;
	border: 1px solid #ccc;
	position: relative;
	padding: 20px 20px 80px 20px;
}
.account-login .account-forms{
	margin: 40px 20px;
	padding: 20px;
}
.account-forms .address-select,
.account-forms .input-text{
	width: 55%;
}
#account_captcha,
.account-forms .year,
input[title="Street Address 2"],
#street_2{
	margin-left: 141px;
}
.account-forms .year{
	margin-top: 5px;
}
.account-forms [type="checkbox"],
.account-forms [type="radio"],
.account-forms .radio,
.account-forms .checkbox{
	display: inline-block;
	margin-top: 6px;
}
.account-forms .buttons-set{
	position: absolute;
	right: 40px;
	bottom: 20px;
}
.account-forms .form-list{
	margin-top: 40px;
	margin-bottom: 20px;
}
.account-forms .f-left{
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.account-forms h2{
	padding: 0;
}
.account-forms label{
	padding-right: 20px;
}
.account-forms .button{
	margin-bottom: 0;
}
.account-forms .form-list li strong{
	font-family: 'dincond-regularregular';
	text-align: right;
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	padding: 6px;
	padding-right: 20px;
	color: #888;
}
.addresses-list{
	display: block;
	clear: both;
	overflow: hidden;
}
.addresses-list li{
	list-style-type: none;
}
.addresses-additional{
	margin-top: 40px;
	margin-bottom: 40px;
	display: block;
	clear: both;
	overflow: hidden;
}
.addresses-additional .item{
	margin: 0 0 30px 0;
	width: 50%;
	float: left;
}
.addresses-additional .empty,
.addresses-list .empty{
	width: 100%;
}
.super-button,
.account-login .button,
.my-account .add-new{
	font-size: 16px;
	font-family: 'dinregular';
	text-transform: uppercase;
	color: white;
	padding: 8px 40px;
	margin-bottom: 15px;
	border: 1px solid #33ccff;
}
.super-button:hover,
.account-login .button:hover,
.my-account .add-new:hover{
	border: 1px solid #bbb;
	color: #777;
	background-color: white;
}
.account-create .account-forms{
	height: 440px;
	width: 430px;
	margin: 40px 20px;
	padding: 20px;
}
.new-users .content,
.registered-users .content{
	height: 240px;
	width: auto;
}
.customer-account-resetpassword .account-forms{
	height: 260px;
}
.customer-account-forgotpassword .account-forms{
	height: 220px;
}
.notice-msg,
.error-msg,
.success-msg{
	line-height: 1.5;
	padding: 10px;
	margin: 10px;
}
.error-msg{
	color: #ff0000;
}
.error-msg span,
.success-msg span{
	color: #888;
}
.notice-msg{
	margin: 10px 0;
	border-bottom: 1px solid #ccc;
}
.my-wishlist .success-msg{
	margin: 10px 0;
}
.validation-advice{
	position: absolute;
	right: -6px;
	top: 6px;
	height: 16px;
	width: 16px;
	background: url(../../images/check-uncheck.png) no-repeat;
	background-position: -16px 0; 
	text-indent: -9999px;
}
.my-account .pager .amount{
	float: left;
}
.my-account .pager .limiter{
	float: right;
}
.back-link{
	position: absolute;
	bottom: 20px;
	left: 40px;
	padding: 7px 20px !important;
	background: #fff;
	border: 1px solid #888;
	text-transform: uppercase;
	font-family: 'dinregular';
	margin: 10px;
}
.back-link a{
	text-decoration: none;
}
.input-text.cvv{
	width: 53px;
}

/* mini search form */

#search_mini_form{
	width: 960px;
	margin: auto;
	position: relative;
}
#search_mini_form .form-search{
	position: absolute;
	top: 120px;
	right: 0px;
	padding: 4px;
}
#search_mini_form .form-search button{
	background: transparent;
}
#search_mini_form .form-search input{
	background: #fff;
	border: 1px solid #ccc; 
	vertical-align: middle;
	width: 10px;
	opacity: 0;
	color: #888;
	-webkit-transition: all 150ms ease-in;
		-moz-transition: all 150ms ease-in;
        -ms-transition: all 150ms ease-in;
        -o-transition: all 150ms ease-in;
		transition: all 150ms ease-in;
}
#search_mini_form .form-search img{
	vertical-align: middle;
}
#search_mini_form .form-search input:focus,
#search_mini_form .form-search:hover input{
	width: 140px;
	opacity: 1;
}
#search_new_form{
	margin-top: 100px;
}
#search_new_form input,
#search_new_form button{
	float: left;
}
#search_new_form input{
	padding: 10px;
	width: 280px;
	margin-right: 30px;
}
div.note-msg{
	padding: 30px;
	background: #F6F6F6 url(../../images/noresults.png) no-repeat right;
	height: 408px;
	position: relative;
}
div.note-msg .home-button{
	position: absolute;
	bottom: 30px;
	left: 30px;
}
div.thank-you h2,
div.note-msg h2{
	color: #9b9da0;
	padding-top: 10px;
}
div.thank-you .confirm-msg,
div.note-msg .no-res-msg{
	font-size: 32px;
	color: #333;
	padding-bottom: 0;
}
.billing-container .blocker,
.shipping-container .blocker{
	float: none;
	text-align: left;
}
#billing-address-select,
#shipping-address-select{
	width: 497px;
}
#co-payment-form dt input,
#co-shipping-method-form input,
.billing-container .label-invert,
.shipping-container .label-invert{
	float: left;
	margin-left: 5px;
}
#co-payment-form dt label,
#co-shipping-method-form label{
	width: auto;
	text-align: left;
}
.check-spacer{
	width: 142px;
	float: left;
	height: 10px;
}
/* .advanced-search */

#advanced-search-list{
	margin: 30px 0;
	width: 910px;
}
.advanced-search{
	padding: 10px;
}
.advanced-search select{
	width: 310px;
}
#form-validate .buttons-set{
	padding: 10px;
}

/* about us */

.cms-about-us p{
	padding: 10px;
}

/* 404 */

.cms-no-route .col-main{
	width: 930px;
}
.ops{
	font-family: 'dincond-boldbold';
	font-size: 28px;
	color: #515153;
	text-transform: uppercase;
	margin-bottom: 60px;
	line-height: 1.2;
}
.cms-no-route .col-main p{
	text-align: center;
}

/* quick view window */

.quick-product{
	width: 842px;
	padding: 30px;
}
.quick-product .short-description div.ellipsis{
	height: 76px;
	overflow: hidden;
	margin-bottom: 5px;
	color: #888;
	line-height: 1.5;
}
.quick-product .short-description .more{
	display: block;
	float: right;
}
.quick-product .social-product .soc-right{
	margin-right: 20px;
}
.quick-product .product-price{
	margin-top: 30px;
}
.quick-product .goto-brand{
	font-size: 14px;
}
.quick-product .social-buttons{
	bottom: 30px;
}
.quick-product .product-images{
	width: 532px;
}
.quick-product .quick-overview{
	width: 832px;
	height: 70px;
	overflow: hidden;
	padding: 30px 5px;
	text-overflow: ellipsis;
	clear: both;
	display: block;
	font-size: 13px;
}
.quick-product .product-image-below{
	font-size: 14px;
}
.quick-product h1{
	font-family: 'dincond-blackregular';
	font-weight: normal;
	color: #000;
	font-size: 2em;
	padding: 0 0 20px 0;
	letter-spacing: -1px;
	margin: 0;
	clear: both;
	overflow: hidden;
	text-transform: none;
}
.last-row{
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
}
.quick-add-error{
	padding: 15px;
	width: 640px;
}
.quick-add{
	padding: 15px;
	width: 910px;
}
.quick-add .table{
	width: 890px;
}
.quick-add h1{
	font-size: 26px;
	letter-spacing: 0;
}
.quick-add .there-are{
	font-family: 'dincond-boldbold';
	font-size: 18px;
	color: #333;
	text-transform: uppercase;
}
.quick-add .subtot{
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'dincond-mediumregular';
	color: #888;
}
.quick-add-buttons{
	float: right;
	margin: 10px;
	padding: 15px;
}
.quick-add-buttons .button{
	float: right;
}
.quick-add-buttons .check-butt{
	border: 1px solid #888;
	color: #888;
	background: #fff;
	margin-right: 15px;
}
.add-to-cart-error p{
	margin: 10px;
}
.add-to-cart-error h2{
	font-size: 32px;
	margin: 0 10px;
}
.add-to-cart-error .select-error{
	height: 254px;
	width: 240px;
	background: url(../../images/select-error.jpg) no-repeat;
}

/* Checkout */

#checkoutSteps{
	position: relative;
}
#checkoutSteps .please-wait{
	position: absolute;
	top: 10px;
	right: 40px;
	font-family: 'dincond-boldbold';
}
#checkoutSteps .please-wait img{
	vertical-align: middle;
}
.affiliateplus-account-login .col-1,
#checkoutSteps .col-1{
	width: 60%;
}
.affiliateplus-account-login .col-2,
#checkoutSteps .col-2{
	width: 40%;
}
.affiliateplus-account-login .account-forms,
#checkoutSteps .account-forms{
	width: auto;
	height: auto;
	margin: 10px;
}
#checkoutSteps .account-forms h3,
#checkoutSteps .account-forms h4{
	padding: 5px 0;
}
#checkoutSteps .account-forms h2{
	padding: 0 0 10px 0;
}
#checkoutSteps p{
	padding-bottom: 10px;
}
.affiliateplus-account-login .account-forms .form-list,
#checkoutSteps .account-forms .form-list{
	margin: 10px 0 30px 0;
}
#checkoutSteps .account-forms .ul{
	margin: 10px 0;
}
#checkoutSteps .account-forms .ul li{
	padding: 3px 0;
	color: #333;
	font-size: 12px;
}
#checkoutSteps .step-title{
	display: none;
}
#checkoutSteps .account-forms dt{
	font-size: 16px;
	font-family: 'dincond-boldbold';
	color: #888;
	display: inline-block;
	width: 100%;
	padding: 10px 0 5px 0;
}
#checkoutSteps #co-shipping-method-form dt{
	display: none;
}
#checkoutSteps .cvv-what-is-this{
	float: left;
	position: absolute;
	top: 6px;
	left: 228px;
	text-indent: -9999px;
	display: block;
	width: 16px;
	height: 16px;
	background: url(../../images/question.png) no-repeat;
}
#checkoutSteps .tool-tip img{
	display: block;
	margin: 20px auto;
}
#checkoutSteps .tool-tip .btn-close a{
	text-indent: -9999px;
	background: url(../../images/colorbox/controls.png) no-repeat -50px -25px;;
	height: 20px;
	width: 20px;
	opacity: 0.3;
	float: right;
	margin-right: 30px;
}
#checkoutSteps .tool-tip .btn-close a:hover{
	opacity: 0.6;
}
#checkoutSteps .account-forms .back-link{
	display: none;
}
.affiliateplus-account-login .col-1 input,
#checkout-step-login .col-1 input[type="text"],
#checkout-step-login .col-1 input[type="password"]{
	width: 50%;
}
.affiliateplus-account-login .buttons-set,
#checkout-step-login .buttons-set{
	right: 32px;
}
#checkout-step-login div.center{
	left: 20px;
	right: 20px;
}
#checkout-step-login .buttons-set .center{
	width: 212px;
	padding: 8px 0;
	text-align: center;
}
.affiliateplus-account-login .col-1 .account-forms,
.affiliateplus-account-login .col-2 .account-forms,
#checkout-step-login .col-1 .account-forms,
#checkout-step-login .col-2 .account-forms{
	height: 170px;
}
#checkout-step-login .col-2 .buttons-set{
	right: 16px;
}
.payment-container label{
	width: 160px;
}
.payment-container label[for="p_method_paypal_express"]{
	height: 34px;
}
.payment-container .year{
	margin-left: 181px;
}
#payment_form_paypal_express{
	text-align: center;
	color: #888;
}
#checkout-step-review .table{
	width: 610px;
	margin: 0;
}
#checkout-step-review .table td{
	padding: 10px;
}
#checkout-step-review .table tfoot .first td{
	padding-top: 40px;
}
#checkout-step-review .table th{
	background: transparent;
}
#checkout-step-review .table .product-name{
	padding: 0;
}
#checkout-step-review .large .item-options{
	padding: 3px 15px;
}
.thank-you{
	padding: 30px;
	height: 400px;
	background: #F6F6F6 url(../../images/confirm.png) no-repeat;
	position: relative;
}
.thank-you .super-button{
	float: right;
	margin-top: 15px;
	position: absolute;
	right: 30px;
	bottom: 30px;
}
.thank-you p,
.thank-you h2{
	padding-left: 240px;
}
.cms-new-arrivals h2.subtitle{
	display: none;
}
.contacts-index-index .col-main,
.cms-contact-us .col-main{
	background: url(../../images/contact-us.jpg) no-repeat top right;
}
.customer-account-forgotpassword .account-forms,
.contacts-index-index .account-forms,
.cms-contact-us .account-forms{
	margin-left: 35px;
}
.contacts-index-index a.button,
.cms-contact-us a.button{
	padding: 10px 40px
}
.free-shipping-banner{
	width: 100px;
	height: 100px;
}
#follow{
	position: absolute;
	top: 170px;
	left: -160px;
	z-index: 100;
}
#free-shipping-txt{
	background: #33ccff;
	height: 0px;
	width: 0px;
	opacity: 0;
	margin-top: -60px;
	overflow: hidden;
	-webkit-transition: all 150ms ease-in;
		-moz-transition: all 150ms ease-in;
        -ms-transition: all 150ms ease-in;
        -o-transition: all 150ms ease-in;
		transition: all 150ms ease-in;
	/*-webkit-box-shadow:  1px 1px 10px 0px #333;
    box-shadow:  1px 1px 10px 0px #333;*/
}
.free-shipping-banner:hover #free-shipping-txt{
	height: 156px;
	width: 362px;
	margin-left: 175px;
	opacity: 1;
}
.fix-width{
	width: 362px;
}
#free-shipping-txt p{
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 10px;
}
#free-shipping-txt h2{
	color: #fff;
	line-height: 1.2;
}
#free-shipping-txt h2 span{
	border-radius: 3px;
	background: #f15922;
	padding: 0 5px;
}
.cms-page-view .inverse{
	margin-top: 0;
}
.cms-page-view ol{
	list-style-type: decimal;
	padding: 30px;
}
.cms-page-view ol li{
	padding: 5px;
	color: #888;
	font-style: italic; 
	line-height: 1.5;
}
.cms-contents{
	margin: 20px 35px;
}
.ordering-and-payments{
	font-size: 10px;
	width: 188px;
	text-align: center;
	margin-top: 10px;
}
.order-review.account-forms{
	padding-bottom: 150px;
}
#mc-canvas{
	border: 3px solid #ccc;
	float: right;
	margin: 10px 0;
}
#mc-canvas.mc-valid{
	border: 3px solid #33ccff;
}
#mc{
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0 20px;
}
#mc p{
	text-align: right;
	font-size: 13px;
}
#contactForm .input-text,
#contactForm textarea{
	width: 255px;
}
#have-a-question-form #contactForm .input-text,
#have-a-question-form #contactForm textarea{
	width: 277px;
}
.account-forms.mc-active{
	border: none;
}

/* affiliates */

div.affiliates-cont{
	margin-right: 10px;
}
div.affiliates-cont h3{
	color: #999;
}
div.affiliate-buttons{
	margin-top: 34px;
	margin-bottom: 24px;
	text-align: center;
}
div.affiliate-buttons .button{
	margin: 10px;
}
#account_captcha{
	width: 77px;
}
#affiliate-captcha-link{
	text-indent: -9999px;
	display: inline-block;
	height: 20px;
	width: 20px;
	background: url(../../images/refresh.png) no-repeat center center;
	position: absolute;
	top: 4px;
}
.affiliateplus-account-login .account-forms p{
	line-height: 1.3;
	margin-top: 5px
}
.affiliateplus_form_request{
	display: block;
	clear: both;
	overflow: hidden;
}
.affiliateplus_form_request .right{
	float: right;
}
.affiliateplus_form_request button.right{
	float: left;
	/*border: 1px solid #33ccff;*/
	margin-right: 10px;
}
.affiliateplus_form_request #request_amount{
	padding: 4px 11px;
}
.affiliateplus_form_request .left{
	float: left;
}
.affiliateplus_form_request label.left{
	display: none;
}
#payments_grid input,
#payments_grid select,
#sales_grid input,
#sales_grid select{
	padding: 3px;
}
#traffics-report th,
.affiliateplus-grid-title th{
	font-size: 13px;
	font-weight: normal;
	vertical-align: middle;
	border-bottom: 1px solid #ccc;
}
#traffics-report .price{
	text-align: center;
}
#sales_grid-order_item_names{
	width: 80px;
}
#payments_grid-status{
	width: auto;
}
#sales_grid-status{
	width: 54px;
}
.range-container input{
	width: 50px;
}
.range-container .label{
	width: 30px;
	font-size: 13px;
	display: inline-block;
	font-weight: normal;
}
#affiliateplus_payment_request_miniform{
	border-top: 1px solid #ccc;
	padding-top: 15px;
}
.affiliateplus-search-button{
	display: block;
	clear: both;
	overflow: hidden;
	padding: 10px 0;
	margin-bottom: 15px;
	border-bottom: 1px solid #ccc;
	text-align: right;
}
.affiliateplus-index-referrers .pager,
.affiliateplus-index-payments .pager,
.affiliateplus-index-listtransaction .pager{
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	display: block;
	clear: both;
	overflow: hidden;
}
.affiliateplus-index-referrers .limiter,
.affiliateplus-index-payments .limiter,
.affiliateplus-index-listtransaction .limiter{
	float: left;
}
.affiliateplus-index-referrers .amount,
.affiliateplus-index-payments .amount,
.affiliateplus-index-listtransaction .amount{
	float: right;
	padding-right: 10px;
}

/* affiliates calendar */

div.calendar{
	padding: 10px;
	background: #fff;
	border: 1px solid #ccc;
	font-size: 13px;
	position: relative;
}
div.calendar .button{
	display: table-cell;
	text-align: center;
	padding: 10px;
	border: 1px solid #fff;
}
div.calendar .button:hover{
	background: #ff3366;
}
div.calendar .today{
	font-weight: bold;
	color: #ff3366;
}
div.calendar .selected{
	font-weight: bold;
}
div.calendar .title{
	text-align: center;
	text-transform: uppercase;
	font-family: 'dincond-boldbold'
}
div.calendar tbody td{
	padding: 10px;
	width: 20px
	border-collapse:separate; 
	border-spacing:5em;
	cursor: pointer;
}
div.calendar .day{
	text-align: center;
}
div.calendar .daynames{
	text-align: center;
	font-weight: bold;
}
div.calendar .daynames td{
	padding: 10px 5px;
}
div.calendar .wn{
	padding: 10px 15px 10px 5px;
}
div.calendar td:hover{
	background: #ededed;
}
div.calendar td.emptycell:hover{
	background: #fff;
	cursor: default;
}
div.calendar td.weekend{
	color: #ff3366
}
div.calendar .ttip{
	padding: 10px;
	text-align: center;
	font-family: 'dincond-boldbold';
	font-size: 14px;
}
div.calendar .combo{
	position: absolute;
	top: 80px;
	background: #ededed;
	width: 60px;
	cursor: pointer;
}
div.calendar .combo .label{
	text-align: center;
}
div.calendar .combo .hilite{
	background: #f1f1f1;
}

/* end cal */

.banner-share textarea.banner-share-url{
	width: 585px;
}
.content-affiliates label{
	width: auto;
	padding-left: 0;
}
.content-affiliates .form-list .input-box{
	margin: 10px 0;
	clear: both;
	display: block;
	overflow: hidden;
}
.content-affiliates .form-list .input-box textarea{
	width: 625px;
	min-height: 160px
}
.affiliateplus-refer-index .col-main{
	padding-left: 0;
}
.affiliateplus-banner-list .account-forms,
.affiliateplus-refer-index .account-forms{
	margin-top: 20px;
}
.affiliate-get-link .form-list,
.affiliateplus-refer-index .form-list{
	margin: 10px 0;
}
.affiliateplus-opc li{
	position: relative;
	display: block;
	clear: left;
}
.affiliateplus-opc .logo{
	display: block;
	height: 64px;
	width: 64px;
	background: url(../../images/sprite-socials-new.jpg);
	cursor: pointer;
	margin: 10px;
}
.affiliateplus-opc h2{
	display: none;
}
.content-affiliates{
	font-family: 'museo300'
}
.content-affiliates li{
	color: #888;
	line-height: 1.3;
}
.content-affiliates strong:first-child{
	font-weight: normal;
	color: #888;
}
.affiliateplus-opc .email-logo{ background: url(../../images/email-icon.jpg);}
.affiliateplus-opc .google-logo{background-position: -64px 0}
.affiliateplus-opc .facebook-logo{background-position: -128px 0}
.affiliateplus-opc .twitter-logo{background-position: -192px 0}
#affiliate-opc-personal-url li label{
	display: block;
}
.affiliateplus-refer-index h2{
	margin: 20px 0 10px 0;
}
.affiliate-get-link label{
	width: 80px;
}
.affiliate-get-link .wide p{
	margin-bottom: 20px;
}

.banner-view-item{
	padding: 0 20px;
}
.banner-text-title strong,
.banner-flash-title strong,
.banner-image-title strong{
	line-height: 1.3;
	font-family: 'dinregular';
	text-transform: uppercase;
	font-weight: normal;
	color: #888;
}
.banner-text-title span,
.banner-flash-title span,
.banner-image-title span{
	text-transform: none;
}
.banner-text-title,
.banner-flash-title,
.banner-image-title{
	margin: 15px 0;
}
.banner-text-title strong a,
.banner-flash-title strong a,
.banner-image-title strong a{
	text-transform: none;
	font-family: 'dinregular';
	font-size: 13px;
}
.banner-share .social-banner{
	padding: 2px 10px;
}
.banner-share .social-banner .share{
	vertical-align: middle;
	display: inline-block;
}
.banner-share .social-banner .share_facebook{
	padding-right: 20px;
}

/* gift cards */

.prod-img-gift-cards,
.prod-shop-gift-cards{
	width: 452px;
	padding: 20px;
}
.prod-shop-gift-cards .add-to-box{
	margin: 0px 5px;
}
.prod-shop-gift-cards{
	float: right;
	width: 520px;
}
.prod-img-gift-cards{
	float: left;
	width: 306px;
}
.account-forms.prod-gift{
	padding: 0px;
	margin-top: 0px;
	display: block;
	clear: both;
	overflow: hidden;
}
.giftcard-fieldset select{
	width: 362px;
}
.giftcard-fieldset textarea,
.giftcard-fieldset .input-text{
	width: 340px;
}
.giftcard-fieldset .validate-date{
	width: 309px;
}
.giftcard-fieldset .preview-gift{
	font-family: 'dincond-regularregular';
	text-transform: uppercase;
	text-align: right;
	display: block;
	padding-right: 5px;
}
.prod-gift .input-text.qty{
	width: 20px;
	text-align: center;
	margin-right: 10px;
	height: 16px;
}
.prod-gift .add-to-cart{
	float: left;
}
.prod-gift .add-to-cart .button{
	margin-right: 10px;
	border: 1px solid #33ccff;
}
.prod-gift .button{
	text-transform: uppercase;
	width: 139px;
	height: 28px;
	padding: 0;
}
.prod-gift a.button{
	padding: 6px;
	background: #fff;
	border: 1px solid #ccc;
	color: #777;
	width: 143px;
	text-align: center;
	height: 14px;
}
.prod-gift .button:hover{
	background: #fff;
	border: 1px solid #ccc;
	color: #777;
}
.prod-gift a.button:hover{
	background: #33ccff;
	border: 1px solid #33ccff;
	color: #fff;
}
.prod-gift .short-description{
	padding: 20px 0;
}
.prod-gift .description{
	padding: 20px;
}
.prod-gift .std{
	margin: 15px 0;
	font-family: 'museo300';
	color: #888;
}
.cart .discount{
	width: 320px;
	padding: 20px;
	background: #f1f1f1;
	border: 1px solid #ccc;
	height: 118px;
	margin: -61px 24px 50px 10px;
	float: right;
}
.coupon-gift-container{
	display: inline-block;
}
.products-gift-list{
	display: block;
	clear: both;
	overflow: hidden;
	padding-bottom: 50px;
}
.products-gift-list .item{
	position: relative;
	width: 405px;
	height: 405px;
	float: left;
	margin: 10px;
	background: #efeff0;
	padding: 20px;
}
.products-gift-list .item .product-name{
	text-align: center;
	margin-bottom: 20px;
}
.products-gift-list .item .product-name a{
	font-size: 20px;
	padding: 12px 48px;
	border: 1px solid #33ccff;
	-webkit-transition: background 150ms ease-in;
		-moz-transition: background 150ms ease-in;
        -ms-transition: background 150ms ease-in;
        -o-transition: background 150ms ease-in;
		transition: background 150ms ease-in;
}
.products-gift-list .item .product-name a:hover{
	border: 1px solid #ccc;
	background: #fff;
	color: #777;
}
.products-gift-list .item .desc{
	text-align: justify;
	font-size: 16px;
}
.gift-email,
.gift-print{
	height: 186px;
	width: 405px;
}
.gift-email .comic,
.gift-print .comic{
	position: absolute;
	height: 44px;
	width: 33px;
	bottom: -44px;
}
.gift-print .comic{
	background: url(../../images/gift_comic.png);
	left: 36px;
}
.gift-email .comic{
	background: url(../../images/gift_comic_email.png);
	right: 36px;
}
.gift-print .heart{
	left: 20px;
	bottom: 20px;
}
.gift-email .heart{
	right: 20px;
	bottom: 20px;
}
.product-view-gift{
	margin: 0px 10px;
}
.freq-questions{
	margin: 10px
}
.freq-questions h3{
	color: #777;
}
#giftcard-section .discount{
	display: block;
	clear: both;
	overflow: hidden;
	padding: 20px 0px;
	/*background: #fff;*/
}
#checkout-payment-method-load label{
	position: relative;
}
#p_method_paypal_express{
	margin-top: 13px;
}
.schipping-method-container .sp-methods{
	margin-top: 20px;
}
.sp-methods .method-box{
	display: block;
	overflow: hidden;
	clear: both;
	position: relative;
}
#giftcard-section .sp-methods label,
.sp-methods .method-box label{
	height: auto;
}
#co-payment-form dt label,
.sp-methods .method-box label{
	font-family: 'dincond-boldbold';
	text-transform: none;
	color: #000;
	font-size: 20px;
	padding-bottom: 20px;
	
}
.sp-methods .method-box label[for="s_method_premiumrate_Expedite"]{
	background: url(../../images/3to5.jpg) no-repeat 6px 30px;
}
.sp-methods .method-box label[for="s_method_premiumrate_Regular_Ground"]{
	background: url(../../images/5to7.jpg) no-repeat 6px 30px;
}
.sp-methods .method-box label[for="s_method_premiumrate_Expedite"],
.sp-methods .method-box label[for="s_method_premiumrate_Regular_Ground"]{
	background-position: 6px 30px;
}
#co-payment-form dt input,
.sp-methods .method-box input{
	margin-top: 10px;
	margin-right: 15px;
	margin-left: 40px !important;
}
.sp-methods .method-box .price{
	font-family: 'dincond-regularregular';
	color: #888;
	margin-left: 20px;
	position: absolute;
	left: 240px;
	top: 6px;
}
#activateGiftCard{
	position: relative;
	margin-bottom: 15px;
	display: block;
	clear: both;
}
#activateGiftCard .buttons-set{
	top: 0;
	right: 20px;
	float: left;
}
#activateGiftCard .buttons-set button{
	text-transform: uppercase;
	padding: 5px 20px;
	border: 1px solid #33ccff;
}
#activateGiftCard .buttons-set button:hover{
	border: 1px solid #bbb;
	background: #fff;
	color: #777;
}
#activateGiftCard .input-text{
	width: 300px;
}
.update-cart{
	float: right;
	margin-right: 11px;
	border: 1px solid #bbb;
	background: #fff;
	color: #777;
}
.update-cart:hover{
	border: 1px solid #33CCFF;
	background: #33CCFF;
	color: #fff;
}
dd.complete{
	line-height: 1.5;
	font-family: 'museo300';
}
.cms-page-view #contactForm{
	border: 1px solid #ccc;
}

/* cart-box */

.cart-box{
	position: absolute;
	top: 15px;
	right: -10px;
	z-index: 300;
	height: 50px;
	width: 60px;
	overflow: hidden;
	-webkit-transition: all 150ms ease-in;
		-moz-transition: all 150ms ease-in;
        -ms-transition: all 150ms ease-in;
        -o-transition: all 150ms ease-in;
		transition: all 150ms ease-in;
}
.cart-box:hover{
	width: 364px;
	height: auto;
	padding-top: 75px;
}
.cart-box .block-cart{
	opacity: 0;
	background: #fff;
	border: 2px solid #ccc;
	width: 320px;
	position: relative;
	padding: 10px 20px;
	-webkit-transition: all 150ms ease-in;
		-moz-transition: all 150ms ease-in;
        -ms-transition: all 150ms ease-in;
        -o-transition: all 150ms ease-in;
		transition: all 150ms ease-in;
}
.cart-box:hover .block-cart{
	opacity: 1;
}
.quick-access .block-cart .product-image{
	float: left;
	margin-right: 5px;
}
.quick-access .block-cart li a{
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	font-family: 'dincond-regularregular';
	color: #333;
	text-align: left;
	text-decoration: none;
}
.quick-access .block-cart .item{
	width: 320px;
	min-height: 64px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #ccc; 
}
.quick-access .block-cart img{
	border: 2px solid #ccc;
}
.quick-access .block-cart span{
	font-family: 'dincond-regularregular';
}
.quick-access .block-cart .subtotal{
	text-align: right;
}
.quick-access .block-cart .price{
	font-family: 'din_blackregular';
	color: #000;
	font-size: 15px;
	margin-left: 10px;
}
.quick-access .block-cart .product-details .price{
	float: right;
}
.quick-access .block-cart .actions,
.quick-access .block-cart .subtotal{
	display: block;
	clear: both;
	margin-bottom: 10px;
}
.quick-access .block-cart .actions{
	text-align: right;
}
.quick-access .block-cart a.btn-remove{
	font-family: 'dinregular';
	color: #33CCFF;
	font-size: 11px;
}
.quick-access .block-cart .empty,
.quick-access .block-cart .amount{
	font-size: 12px;
	margin-bottom: 10px;
	position: absolute;
	top: 20px;
	right: 20px;
}
.quick-access .block-cart .button span{
	font-family: 'dinregular';
	text-transform: uppercase;
}
.quick-access .block-cart .button{
	border: 1px solid #33CCFF;
}
.quick-access .block-cart .button:hover{
	background: #fff;
	border: 1px solid #ccc;
}
.quick-access .block-cart .button:hover span{
	color: #777;
}
.quick-access .block-cart .button.cart{
	background: #fff;
	border: 1px solid #ccc;
}
.quick-access .block-cart .button.cart span{
	color: #777;
}
.quick-access .block-cart .button.cart:hover span{
	color: #fff;
}
.quick-access .block-cart .button.cart:hover{
	border: 1px solid #33CCFF;
	background: #33CCFF;
}
.ajax-add-to-cart #cboxClose{
	display: none !important;
}
.ajax-add-to-cart .close-ajax{
	position: absolute;
	top: 5px;
	right: 5px;
	text-indent: -9999px;
	display: block;
	height: 20px;
	width: 20px;
	background: url(../../images/colorbox/controls.png) no-repeat;
	background-position: -50px 0px;
	cursor: pointer;
}
.ajax-add-to-cart .close-ajax:hover{
	background-position: -50px -25px;
}