/* FF_Din */

@font-face {
    font-family: 'din_blackregular';
    src: url('../../fonts/ff_din_black-webfont.eot');
    src: url('../../fonts/ff_din_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ff_din_black-webfont.woff') format('woff'),
         url('../../fonts/ff_din_black-webfont.ttf') format('truetype'),
         url('../../fonts/ff_din_black-webfont.svg#din_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dincond-blackregular';
    src: url('../../fonts/ff_din_condensed_black-webfont.eot');
    src: url('../../fonts/ff_din_condensed_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ff_din_condensed_black-webfont.woff') format('woff'),
         url('../../fonts/ff_din_condensed_black-webfont.ttf') format('truetype'),
         url('../../fonts/ff_din_condensed_black-webfont.svg#dincond-blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dinbold';
    src: url('../../fonts/ff_din_bold-webfont.eot');
    src: url('../../fonts/ff_din_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ff_din_bold-webfont.woff') format('woff'),
         url('../../fonts/ff_din_bold-webfont.ttf') format('truetype'),
         url('../../fonts/ff_din_bold-webfont.svg#dinbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dincond-boldbold';
    src: url('../../fonts/ff_din_condensed_bold-webfont.eot');
    src: url('../../fonts/ff_din_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ff_din_condensed_bold-webfont.woff') format('woff'),
         url('../../fonts/ff_din_condensed_bold-webfont.ttf') format('truetype'),
         url('../../fonts/ff_din_condensed_bold-webfont.svg#dincond-boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dincond-lightregular';
    src: url('../../fonts/ff_din_condensed_light-webfont.eot');
    src: url('../../fonts/ff_din_condensed_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ff_din_condensed_light-webfont.woff') format('woff'),
         url('../../fonts/ff_din_condensed_light-webfont.ttf') format('truetype'),
         url('../../fonts/ff_din_condensed_light-webfont.svg#dincond-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dincond-mediumregular';
    src: url('../../fonts/ff_din_condensed_medium-webfont.eot');
    src: url('../../fonts/ff_dcondensed_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ff_din_condensed_medium-webfont.woff') format('woff'),
         url('../../fonts/ff_din_condensed_medium-webfont.ttf') format('truetype'),
         url('../../fonts/ff_din_condensed_medium-webfont.svg#dincond-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dincond-regularregular';
    src: url('../../fonts/ff_din_condensed_regular-webfont.eot');
    src: url('../../fonts/ff_din_condensed_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ff_din_condensed_regular-webfont.woff') format('woff'),
         url('../../fonts/ff_din_condensed_regular-webfont.ttf') format('truetype'),
         url('../../fonts/ff_din_condensed_regular-webfont.svg#dincond-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'din_lightregular';
    src: url('../../fonts/ff_din_light-webfont.eot');
    src: url('../../fonts/ff_din_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ff_din_light-webfont.woff') format('woff'),
         url('../../fonts/ff_din_light-webfont.ttf') format('truetype'),
         url('../../fonts/ff_din_light-webfont.svg#din_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dinregular';
    src: url('../../fonts/ff_din_medium-webfont.eot');
    src: url('../../fonts/ff_din_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ff_din_medium-webfont.woff') format('woff'),
         url('../../fonts/ff_din_medium-webfont.ttf') format('truetype'),
         url('../../fonts/ff_din_medium-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dinregular';
    src: url('../../fonts/ff_din_regular-webfont.eot');
    src: url('../../fonts/ff_din_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ff_din_regular-webfont.woff') format('woff'),
         url('../../fonts/ff_din_regular-webfont.ttf') format('truetype'),
         url('../../fonts/ff_din_regular-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo300';
    src: url('../../fonts/museo300-regular-webfont-webfont.eot');
    src: url('../../fonts/museo300-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/museo300-regular-webfont-webfont.woff') format('woff'),
         url('../../fonts/museo300-regular-webfont-webfont.ttf') format('truetype'),
         url('../../fonts/museo300-regular-webfont-webfont.svg#museo300') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Din Pro */
/*
@font-face {
    font-family: 'DINPro-Regular';
    src: url('../../fonts/dinproregular.eot');
    src: url('../../fonts/dinproregular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/dinproregular.woff') format('woff'),
         url('../../fonts/dinproregular.ttf') format('truetype'),
         url('../../fonts/dinproregular.svg#dinproregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Light';
    src: url('../../fonts/dinprolight.eot');
    src: url('../../fonts/dinprolight.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/dinprolight.woff') format('woff'),
         url('../../fonts/dinprolight.ttf') format('truetype'),
         url('../../fonts/dinprolight.svg#dinprolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Bold';
    src: url('../../fonts/dinprobold.eot');
    src: url('../../fonts/dinprobold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/dinprobold.woff') format('woff'),
         url('../../fonts/dinprobold.ttf') format('truetype'),
         url('../../fonts/dinprobold.svg#dinprobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
/* Modern pictograms */

@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('../../fonts/modernpics-webfont.eot');
    src: url('../../fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/modernpics-webfont.woff') format('woff'),
         url('../../fonts/modernpics-webfont.ttf') format('truetype'),
         url('../../fonts/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}