
/*footer*/
.subfooter-container,
.footer-container{
	width: 100%;
	background: #c8cacb;
	float: left;
}
.subfooter-container{
	background: #333;
}
.subfooter,
.footer{
	width: 960px;
	margin: auto;
}
.footer .seals{
	float: left;
	width: 140px;
	padding: 10px 10px;
}
.footer-link-group{
	float: left;
	width: 180px;
	padding: 10px;
	margin-bottom: 30px;
}
.footer-link-group a{
	color: white;
	font-family: 'dincond-boldbold';
	line-height: 1.3;
	font-size: 18px;
}
.footer-link-group a:hover{
	color: #666;
}
.footer .seals li{
	margin-top: 25px;
}
.AuthorizeNetSeal{
	width: 90px;
	margin: auto;
}
.footer .seals .comodo{
	background: url(../../images/comodo.png) no-repeat center center;
}
.subfooter{
	padding: 30px;
	width: 750px;
	display: block;
	overflow: hidden;
	clear: both;
}
.subfooter button{
	text-transform: uppercase;
	background: #999;
	padding: 6px 20px;
	margin-left: 5px;
}
.subfooter button:hover{
	background: #33ccff;
}
/*.subfooter a{
	display: block;
	float: left;
	text-indent: -9999px;
	margin: 0px 3px;
	margin-top: -3px;
}*/
.subfooter form label{
	font-size: 24px;
	display: block;
	margin: 0 15px 0 20px;
	float: left;
	font-family: 'dincond-blackregular';
	color: #ccc;
	width: 280px;
	text-align: center;
	vertical-align: middle;
}
.subfooter form input{
	width: 170px;
}
.subfooter .icon-google-plus,
.subfooter .icon-facebook,
.subfooter .icon-twitter,
.subfooter .icon-feed,
.subfooter .icon-skype,
.subfooter .icon-pinterest,
.subfooter .icon-search {
background-image: url(../../images/sprites_ccc.png);
float: left;
margin: -3px 3px 0 3px;
}
.subfooter .icon-google-plus:hover,
.subfooter .icon-facebook:hover,
.subfooter .icon-twitter:hover,
.subfooter .icon-feed:hover,
.subfooter .icon-skype:hover,
.subfooter .icon-pinterest:hover,
.subfooter .icon-search:hover {
background-image: url(../../images/sprites_hover.png);
}

#newsletter-validate-detail .input-box{
	float: left;
}
#newsletter-validate-detail .actions{
	float: right;
}
.subfooter .icon-facebook a,
.subfooter .icon-twitter a,
.subfooter .icon-pinterest a{
	background: transparent !important; 
	height: 32px !important;
	width: 32px !important;
	display: block;
}
