/*gallery*/

#ibanners-homegallery-wrapper{
	background: transparent;	
}
#ibanners-homegallery{
	position: relative;
	height: 428px;
	width: 960px;
	margin: auto;
	overflow: hidden;
	background: #fff;
}
/*#ibanners-homegallery ul{
	position: absolute;
	top: 0;
	left: 0;
}*/
#ibanners-homegallery .banner{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#ibanners-homegallery .banner img{
	display: block; 
}
#ibanners-homegallery .active{
	display: block;
}
.ibanners-dots{
	position: absolute;
	bottom: 15px;
	right: 15px;
	z-index: 10;
}
.ibanners-dots div{
	background: url('../../images/slideshow-dot-inactive.png') no-repeat;
	height: 16px;
	width: 16px;
	margin: 2px;
	cursor: pointer;
	float: left;
}
.ibanners-dots .active{
	background: url('../../images/slideshow-dot-active.png') no-repeat;
}
.ibanners .ibanners-arrow{
	position: absolute;
	display: block;
	height: 68px;
	width: 34px;
	top: 50%;
	margin-top: -34px;
	z-index: 10;
	-webkit-transition: all 250ms ;
	-moz-transition: all 250ms ;
	-ms-transition: all 250ms ;
	-o-transition: all 250ms ;
	transition: all 250ms ;
	opacity: 0;
	background: url('../../images/gallery_arrows.png') no-repeat;
}
.ibanners .prev{
	left: -34px;
}
.ibanners .next{
	right: -34px;
	background-position: -34px 0;
}
.ibanners:hover .next{
	right: 15px;
	opacity: 0.7;	
}
.ibanners:hover .prev{
	left: 15px;
	opacity: 0.7;
}
.ibanners .shad{
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
	width: 960px;
	background: url(../../images/big_shadow.png) no-repeat top center;
}