*{
	margin: 0;
	padding: 0;
}
body{
	background: #eaeaea url('../../images/background.jpg') center center;
	background-attachment:fixed;
	font-family: 'dinregular';
}
a{
	text-decoration: none;
	color: #666
}
a:hover{
	color: #ff3366
}
p{
	line-height: 1.5em;
	font-family: 'museo300';
	color: #888;
	text-align: justify;
}

button::-moz-focus-inner { margin: -1px;}

.button,
button{
	padding: 5px 10px;
	border: none;
	color: #fff;
	background: #33ccff;
	cursor: pointer;
	font-family: 'dinregular';
        display: inline-block;
}
.button:hover{
	color: white;
}
.button-secondary{
	background-color: #f1f1f1;
	border: 1px solid #fff;
	color: #333;
}
.v-middle{
	vertical-align: middle;
}
select,
input{
	padding: 5px 10px;
	border: 1px solid #ccc;
	font-family: 'dinregular';
}
textarea{
	padding: 10px;
	border: 1px solid #ccc;
}
table input {
    margin-top: -5px;
}
option{
	padding: 0 10px;
}
#ibanners-homegallery-wrapper,
.header-container,
.nav-container{
	width: 100%;
	background: #fafbfb;
	float: left;
}
.a-left{text-align: left;}
.a-right{text-align: right;}
.a-center{text-align: center;}
.a-justify{text-align: justify;}
.hidden{display: none;}
.search{
	float: right;
}
.search-icon{
	text-indent: -9999px;
	height: 20px;
	width: 20px;
	display: block;
	margin: 15px;
	background: url(../../images/search-icon.png) no-repeat center center;
}
#have-a-question-form label,
.col-main label{
	width: 120px;
	text-align: right;
	display: block;
	float: left;
	color: #888;
	font-family: 'dincond-regularregular';
	font-size: 16px;
	height: 16px;
	padding: 6px;
	text-transform: uppercase;
}
.giftcard-fieldset .field,
.form-list .input-box{
	margin: 10px 5px;
	position: relative;
}
.nav-container{
	height: 65px;
}
.header-container{
	height: 100px;
}
.desc,
.std{
	font-family: 'museo300';
	color: #888;
	line-height: 1.5;
}