/*header*/

.header .logo{
	float: left;
}
.header{
    position: relative;
	width: 960px;
	margin: auto;
	padding-top: 24px;
}
.header .quick-access{
	float: right;
}
.links li{
	float: left;
	margin-left: 20px;
    font-size: 12px;
    color: #666;
    text-transform: uppercase;
}
.links a{
	font-family: 'dinregular';
	font-size: 12px;
	color: #666;
	text-transform: uppercase;
}
.links a:hover {
	color: #333;
}
.header{
	width: 960px;
	margin: auto;
}

.live-chat-top a {
    color: #e33;
}

.cart-top {
    height: 48px;
    width: 48px;
    display: inline-block;
    position: relative;

}
.cart-top img {
    z-index: 10;
    position: absolute;
}
#cart-count {
    position: absolute;
    top: -10px; left: 15px;

    background-color: #32c6f4;
    z-index: 5;
    padding: 3px 8px;
    border-radius: 20px;

    color: #fff;
    font-weight: bold;
    font-size: 16px;
    
}
    

