/*navbar*/
.nav-container .shad{
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -480px;
	height: 10px;
	width: 960px;
	background: url(../../images/big_shadow.png) no-repeat top center;
	display: none;
}
#nav{
	width: 900px;
	margin: auto;
	display: block;
	position: relative;
	background: #fafbfb;
	margin-top: 15px;
	height: 50px;
	padding: 0 30px;
}
#nav .level-top>a{
	font-size: 16px;
	text-transform: uppercase;
	color: #666;
	display: block;
	text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
    -webkit-transition: all 250ms ;
	-moz-transition: all 250ms ;
	-ms-transition: all 250ms ;
	-o-transition: all 250ms ;
	transition: all 250ms ;
}
#nav .level-top>a span{
	font-family: 'dinregular';
}
#nav .level-top:hover>a{
	color: #ff3366;
}
#nav .active>a span{
	font-family: 'dinregular';
	color: #ff3366;
}
#nav>li{
	float: left;
	height: 18px;
	padding: 16px 10px;
	-webkit-transition: all 250ms ;
	-moz-transition: all 250ms ;
	-ms-transition: all 250ms ;
	-o-transition: all 250ms ;
	transition: all 250ms ;
}
#nav>li .level0{
	overflow: hidden;
	position: absolute;
	top: 50px;
	left: 0;
	background: #fff;
	width: 958px;
	z-index: 100;
	border: 1px solid #ccc;
	padding: 0 0;
	opacity: 0;
	height: 0;
}
#nav>li:hover .level0{
	display: block !important;
}
#nav>li>ul a{
	font-size: 14px;
	font-family: 'dinregular';
	color: #666;
	text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
}
#nav>li .level0 li{
	display: block;
	padding: 0 15px 5px 15px;
	width: 142px;
	text-transform: uppercase;
}
#nav>li .level0 .active a span,
#nav>li .level0 .over a span{
	color: #ff3366;
}
.what-s-hot h2,
.cat-nav h2{
	padding-top: 0; 
}

/* sidebar nav left */

.block{
	padding: 10px;
}
.block li{
	padding: 5px 0 0 0;
}
.block li,
.block li a{
	font-size: 11px;
	font-family: 'dinregular';
	color: #666;
	text-transform: uppercase;
	line-height: 1.5;
	text-shadow: 1px 1px 0px #f1f1f1;
    filter: dropshadow(color=#f1f1f1, offx=1, offy=1)
}
.block li,
.block li a{
	font-size: 14px;
}
.block li a{
	display: block;
	white-space: nowrap;
}
.block li a:hover,
.block li a:hover span{
	color: #ff3366;
}
.block .block-subtitle,
.block label,
.block dt{
	font-size: 12px;
	font-family: 'dinbold';
	padding-bottom: 5px;
	/*font-style: italic;*/
}
.block .block-subtitle{
	display: none;
}
.block span.label{
	display: block;
}
.block dt{
	font-size: 16px;
	padding-top: 20px;
	color: #333;
	text-transform: uppercase;
}
.block .current{
	color: #333;
}
.advanced-search-amount,
.advanced-search-summary{
	padding: 5px 15px;
}
.advanced-search-summary{
	margin-bottom: 30px;
}
.advanced-search-summary li{
	padding: 8px 0;
	color: #888;
	font-size: 13px;
}
#narrow-by-list2 a{
	white-space: normal;
}