.gessato-tabs ul.tabs li {
    display: inline-block;
}
.gessato-tabs ul.tabs {
    font-family: 'dinbold';
    font-size: 20px;
    margin-bottom: 12px;
}
.gessato-tabs ul.tabs a {
    color: #bbb;
    display: block;
    padding: 6px;
}
.gessato-tabs ul.tabs a:hover{
    color: #33ccff;
}
.gessato-tabs ul.tabs a.active {
    background-color: #33ccff;
    color: #fff;
    position: relative;
}
.gessato-tabs ul.tabs a.active:hover{
    color: #fff;
}
.gessato-tabs ul.tabs a.active:after {
    content: " ";
    position: absolute;
    height: 0;
    width: 0;
    border: 8px solid rgba(255,255,255,0);
    border-top-color: #33ccff;
    top: 100%;
    left: 12px;
}
   
