/* List */

.products-list .item{
	margin: 10px 10px 20px 10px;
	background: #fff;
	width: 728px;
	float: left;
	border: 1px solid #ccc;
	position: relative;
	-webkit-transition: all 250ms ;
	-moz-transition: all 250ms ;
	-ms-transition: all 250ms ;
	-o-transition: all 250ms ;
	transition: all 250ms ;
}
.col1-layout .products-list .item{
	width: 906px;
}
.products-list .item .std{
	padding: 0
}
.products-list .item:hover{
	-webkit-box-shadow:  0px 5px 10px 0px #ccc;
	box-shadow:  0px 5px 10px 0px #ccc;
	background: #fff;
}
.col3-layout .products-list .item{
	width: 438px;
}
.products-list .product-shop{
	padding: 15px;
	width: 528px;
	float: left;
}
.col3-layout .products-list .product-shop{
	width: 241px;
}
.products-list .commands{
	width: 137px;
	padding: 15px;
	float: left;
}
.products-list .item .product-image{
	display: block;
	float: left;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
	height: 135px;
	width: 135px;
}
.products-list .item .product-image img{
	display: block;
	position: absolute;
	height: 200px;
	width: auto;
	top: -33px;
	left: -33px;
}
.products-list .product-name{
	padding-top: 0;
	width: 420px;
}
.products-list .product-name a{
	text-shadow: 1px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=1);
	color: #000;
	font-family: 'dincond-blackregular';
	font-weight: normal;
	font-size: 26px;
	display: block;
	line-height: 1.5;
	text-transform: none;
}
.products-list .product-name a:hover{
	color: #ff3366;
}
.products-list .price-box{
	position: absolute;
	top: 22px;
	right: 20px;
	font-family: 'dincond-blackregular';
	float: right;
	color: #000;
	font-size: 26px;
}
.products-list .add-to-links{
	display: block;
	clear: both;
	overflow: hidden;
}
.products-list button,
.products-list .add-to-links li{
	background: #fff;
	border: 1px solid #ccc;
	color: #666;
	text-transform: uppercase;
	font-family: 'dinregular';
}
.products-list .add-to-links li a{
	color: #666;
}
.products-list .add-to-links .learn-more{
	background: #f6f6f6;
}
.products-list .btn-cart:hover{
	background: #fff;
	color: #666;
	border: 1px solid #ccc;
}
.products-list .btn-cart{
	background: #33ccff;
	color: #fff;
	border: 1px solid #33ccff;
}
.products-list .availability{
	width: 135px;
	border: 1px solid red;
	background: red;
	padding: 4px 0;
	color: #fff;
	text-align: center; 
	text-transform: uppercase;
	font-family: 'dinregular';
	font-size: 12px;
}
.products-list button{
	width: 100%;
	font-family: 'dinregular';
	text-transform: uppercase;
	font-size: 12px;
}
.products-list .add-to-links li{
	text-align: center;
	padding: 6px 0;
	margin-bottom: 5px; 
}
.products-list .add-to-links a{
	color: #333;
	font-family: 'dinregular';
	font-size: 12px;
}
.products-list button:hover,
.products-list .add-to-links li:hover{
	background: #33ccff;
	color: #fff;
	border: 1px solid #33ccff;
}
.products-list .add-to-links li:hover a{
	color: #fff
}
.products-list .desc{
	text-align: justify;
}
.col1-layout .products-list .desc{
	width: 702px;	
}

/* Grid */

.products-grid .item{
	margin: 10px 10px 30px 10px;
	background: #fff;
	width: 290px;
	height: 300px;
	float: left;
	position: relative;
}
.products-grid .image-wrapper{
	position: relative;
	clear: both;
	display: block;
	overflow: hidden;
	height: 298px;
	border: 1px solid #ccc;
}
.products-grid .boris-product-vars{
	position: absolute;
	bottom: 0;
	left: 0;
	background: #f1f1f1;
	z-index: 90;
	width: 290px;
	height: 62px;
}
.col1-layout .products-grid .shad{
	background: url(../../images/1col_item_shad.jpg) no-repeat;
	width: 290px;
	height: 10px;
	position: absolute;
	bottom: -11px;
	left: 0;
	opacity: 1;
}
.col2-left-layout .products-grid .shad{
	background: url(../../images/2col_item_shad.jpg) no-repeat;
	width: 230px;
	height: 10px;
	position: absolute;
	bottom: -11px;
	left: 0;
	opacity: 1;
}
.col2-left-layout .products-grid .image-wrapper{
	height: 228px;
}
.col2-left-layout .category-products .products-grid .item{
	width: 230px;
	height: 258px;
}
.col2-left-layout .products-grid .boris-product-vars{
	width: 230px;
	height: 62px;
} 
.products-grid .item img{
	height: auto;
	-webkit-transition: all 250ms ;
	-moz-transition: all 250ms ;
	-ms-transition: all 250ms ;
	-o-transition: all 250ms ;
	transition: all 250ms ;
}
.products-grid .boris-product-vars .product-name,
.products-grid .boris-product-vars .rating,
.products-grid .boris-product-vars .amount,
.products-grid .boris-product-vars .price-box{
	display: block;
}
.products-grid .boris-product-vars .product-name{
	padding: 12px 15px 4px 15px;
}
.products-grid .boris-product-vars .price-box{
	padding: 4px 15px 12px 15px;
}
.products-grid .boris-product-vars .product-name a{
	font-family: 'dinregular';
	font-size: 11px;
	line-height: 1.2;
	font-weight: normal;
	color: #666;
    text-transform: uppercase;
}
.products-grid .boris-product-vars .product-name{
	font-family: 'dinregular';
	color: #666;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: normal;
}
.products-grid .price-box{
	font-family: 'dincond-blackregular';
	color: #333;
}
.products-grid .price{
	font-size: 11px;
	font-family: 'dinregular';
	color: #333;
}
.products-grid .product-image{
	position: absolute;
	top: 0;
	left: -30px;
}
.col2-left-layout .products-grid .product-image{
	left: -30px;
}
.quick-view-nav,
.products-grid .quick-view{
	position: absolute;
	margin: auto;
	top: 40%;
	left: 50%;
	width: 134px;
	margin-left: -77px;
	opacity: 0;
	text-transform: uppercase;
	display: block;
	font-size: 14px;
	padding: 10px 0px 10px 20px;
	text-align: center;
	font-family: 'dinregular';
	background: #33ccff url(../../images/search-icon-white.png) no-repeat 20px center;
	color: #fff;
	-webkit-transition: all 250ms ;
	-moz-transition: all 250ms ;
	-ms-transition: all 250ms ;
	-o-transition: all 250ms ;
	transition: all 250ms ;
}
.what-s-hot .item:hover .quick-view-nav,
.products-grid .item .image-wrapper:hover .quick-view{
	opacity: 1;
}
.col2-left-layout .products-grid .item .image-wrapper img{
	width: 288px;
}
.products-grid .item .image-wrapper:hover img{
	opacity: 0.5;
}
.category-description{
	line-height: 1.5;
	margin: 10px 10px 15px 10px;
	padding: 15px 15px 30px 15px;
	color: #fff;
	background: #33ccff url(../../images/cat_desc_arr.png) no-repeat bottom center;
	width: 560px;
	min-height: 156px;
	float: left;
	font-family: 'museo300';
	text-align: justify;
}
.category-image{
	float: left;
	display: inline-block;
	margin: 10px;
}
.heart{
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	right: 10px;
	bottom: 13px;
	background: url(../../images/heart_little.png) no-repeat -16px 0;
}
.added-w,
.heart:hover{
	background-position: 0 0;
}

/* whatshot */

.what-s-hot{
	position: absolute;
	top: 60px;
	left: 172px;
	width: 758px;
	height: 240px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.what-s-hot h2{
	padding: 0 15px 15px 15px;
}
.slider-products{
	width: 100%;
	height: 180px;
	position: relative;
}
.slider-products .item{
	position: relative;
	float: left;
	width: 252.66666667px;
	height: auto;
	margin: 0;
	padding: 0;
}
.slider-products .product-image{
	display: block;
	width: 220.66666667px;
	border: 1px solid #ccc;
	margin: 15px;
}
.slider-products .item img{
	width: 220.66666667px;
	height: 149px;
	display: block;
}
.slider-products .item:hover img{
	opacity: 0.5;
}
.slider-products .quick-view-nav{
	color: #fff !important;
	text-shadow: none !important;
}

/* Brands */
.cms-as-seen-on .col1-layout .col-main,
.cms-brands .col1-layout .col-main{
	width: 926px;
	padding: 17px;
	padding-bottom: 60px;
}
.cms-as-seen-on .inverse,
.cms-brands .inverse{
	margin-left: 0;
	margin-bottom: 30px;
}
.cms-as-seen-on .as-seen-on .item img,
.cms-brands #brand-list .item img{
	width: 164px;
	height: 109px;
}
.cms-as-seen-on .as-seen-on .item,
.cms-brands #brand-list .item{
	padding: 10px;
	float: left;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.cms-home .brand-container{
	clear: both;
	overflow: hidden;
	display: block;
	padding: 40px 15px 0 15px;
}
.cms-brands .brand-head{
	display: none;
}
.as-seen-on,
.brands-page{
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	display: block;
	clear: both;
	overflow: hidden;
}
.brand-head{
	display: block;
	clear: both;
	overflow: hidden;
}
.cms-home #brand-list
{
	width:100%;
	height: 141px;
	position: relative;
}

/* Replace the last selector for the type of element you have in
   your scroller. If you have div's use #makeMeScrollable div.scrollableArea div,
   if you have links use #makeMeScrollable div.scrollableArea a and so on. */
.cms-home #brand-list div.scrollableArea .item
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	/* If you don't want the images in the scroller to be selectable, try the following
	   block of code. It's just a nice feature that prevent the images from
	   accidentally becoming selected/inverted when the user interacts with the scroller. */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#brand-list div.scrollableArea .item img{
	margin: 10px;
	width: 212px;
	height: auto;
}
.price-box .old-price .price-label,
.price-box .special-price .price-label{
	display: none;
}
.price-box .old-price,
.price-box .special-price{
	float: left;
}
.price-box .special-price{
	margin-left: 10px;
}
.price-box .special-price span{
	color: #ff3366;
}
.price-box .old-price span{
	text-decoration: line-through;
}
.products-list .price-box .old-price span,
.products-list .price-box .special-price span{
	font-family: 'dincond-blackregular';
}
.products-list .price-box .old-price span{
	color: #000;
}
.products-list .price-box p{
	line-height: 29px;
}
.brand-head h2 a{
	color: #aaa;
}
.brand-head h2 a:hover{
	color: #ff3366;
}