.product-view{
	width: 910px;
	padding: 10px;
}
.product-images{
	width: 598px;
	margin: 0 10px 10px 0;
	float: left;
}
.product-image-below {
	margin: auto;
	text-align: center;
	font-family: 'din_blackregular';
	background: #f1f1f1;
	color: #777;
	width: 532px;
	padding: 22px 0 51px 0;
	vertical-align: middle;
}
.product-images .media-shadow{
	margin: auto;
	width: 532px;
	height: 22px;
	background: url(../../images/prod_media_shadow.jpg) no-repeat center center;
}
.product-images .lente{
	padding-right: 5px;
	padding-bottom: 3px;
	vertical-align: middle;
}
.product-images,
.product-right {
    height: 440px;
}
.product-right{
	color: #777;
	float: right;
	width: 288px;
	border: 1px solid #e2e2e2;
	margin: 0 0 10px 10px;
	background: #fcfcfc;
	text-align: center;
	position: relative;
}
.product-right .availability{
	display: none;
}
.have-question{
	height: auto;
	background: #ededed;
	margin-top: 48px;
}
.have-question h2{
	font-size: 18px;
}
.have-question p{
	font-size: 13px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
}
.have-question .question-links{
	font-size: 11px;
}
.have-question a{
	font-family: 'dinbold';
	color: #000;
	text-decoration: none;
}
.shipping-worldwide {
    text-transform: uppercase;
    font-size: smaller;
}
.shipping-worldwide img{
	vertical-align: middle;
	margin-top: -3px;
	margin-right: 5px;
}
.product-view h1{
	padding: 0 0 10px 0;
	margin: 0 0 15px 0;
	color: #000;
}
.product-image-big{
	position: relative;
	overflow: hidden;
}
.product-image-big img{
	display: block;
	margin: auto;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.product-description{
	clear: left;
    min-height: 150px;
    color: #888;
    float: left;
    width: 600px;
    margin: 50px 10px 10px 0;
    padding-top: 15px;
    border-top: 1px dotted #ccc;
}
.product-buttons{
	position: absolute;
	bottom: 35px;
	left: 0;
	right: 0;
}
.product-buttons .add-to-wishlist,
.product-buttons .sold-out-button,
.product-buttons button{
	display: block;
	width: 202px;
	font-size: 18px;
	padding: 10px;
	margin: 10px auto;
	cursor: pointer;
	text-transform: uppercase;
	position: relative;
	font-family: 'dinregular';
	-webkit-transition: background 150ms ease-in;
	-moz-transition: background 150ms ease-in;
    -ms-transition: background 150ms ease-in;
    -o-transition: background 150ms ease-in;
	transition: background 150ms ease-in;
}
.product-buttons .sold-out-button,
.product-buttons .add-to-cart,
.product-buttons .add-to-wishlist{
	border: 1px solid #bbb;
	color: #777;
    background-color: transparent;
}
.product-buttons .sold-out-button{
	padding: 12px 0;
	background: #ff0000;
	color: white;
	width: 200px;
    border-color: #ff0000;
}
.product-buttons .add-to-wishlist{
	padding: 12px 0;
	width: 200px
}
.product-buttons .add-to-cart{
	background: #33ccff;
	color: #fff;
	border: 1px solid #33CCFF;
}
.spinner{
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -16px;
	right: 10px;
}
.product-buttons .add-to-cart:hover{
	border: 1px solid #bbb;
	color: #777;
    background-color: transparent;
}
.product-buttons .add-to-wishlist:hover{
	background: #33ccff;
	color: #fff;
	border: 1px solid #33CCFF;
}
.product-quantity{
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
}
.product-quantity span{
	vertical-align: middle;
	display: inline-block;
	padding-bottom: 2px;
}
.product-quantity input{
	width: 20px;
	border: 1px solid #ccc;
	margin-left: 10px;
	text-align: center;
	padding: 5px 12px 5px 10px
}
.product-attributes select{
	display: block;
	margin: auto;
	background: #fff;
	height: 30px;
	width: 202px;
	border: 1px solid #ccc;
	font-family: 'dinregular';
	text-transform: uppercase;
	color: #888;
	padding: 5px;
}
.product-attributes select option:first{
	color: #ccc;
}
.product-attributes select option{
	color: #888;
}
.product-sku{
	font-size: 11px;
	padding: 10px;
}
.quick-product .price-box .price,
.catalog-product-view .price-box .price{
	font-family: 'din_blackregular';
	font-size: 32px;
	letter-spacing: -1px;
	color: #000;
	margin-top: 10px;
}
.product-quantity,
.product-attributes{
	margin-top: 30px; 
}
.shipping-worldwide{
	padding: 15px;
}
.shipping-worldwide p{
	text-align: center;
	font-size: 12px;
	font-family: 'dinregular';
}
.social-buttons{
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	font-size: 36px;
}
.social-buttons a{
	color: #777;
	-webkit-transition: background 250ms ease-in;
	-moz-transition: background 250ms ease-in;
    -ms-transition: background 250ms ease-in;
    -o-transition: background 250ms ease-in;
	transition: background 250ms ease-in;
}
.icon-google-plus,
.icon-facebook,
.icon-twitter,
.icon-feed,
.icon-skype,
.icon-pinterest,
.icon-mail {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(../../images/sprites.png);
	background-repeat: no-repeat;
}
.icon-google-plus {
	background-position: 0 0;
}
.icon-facebook {
	background-position: -64px 0;
}
.icon-twitter {
	background-position: -128px 0;
}
.icon-feed {
	background-position: -192px 0;
}
.icon-skype {
	background-position: -256px 0;
}
.icon-pinterest {
	background-position: -320px 0;
}
.icon-mail {
	background-position: -384px 0;
}
.icon-google-plus:hover,
.icon-facebook:hover,
.icon-twitter:hover,
.icon-feed:hover,
.icon-skype:hover,
.icon-pinterest:hover,
.icon-mail:hover {
	background-image: url(../../images/sprites_hover.png);
}
.social-product{
	position: absolute;
	top: -346px;
	left: 0;
	width: 100%;
	opacity: 0;
	-webkit-transition: all 150ms ease-in;
	-moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
	transition: all 150ms ease-in;
}
.social-product .soc-right{
	float: right;
	margin-right: 50px;
}
.social-product .soc-left{
	float: left;
	margin-left: 50px;
}
.icon-product{
	background: url(../../images/sprite-socials-new.jpg) no-repeat;
}
.social-product .icon-product{
	float: none;
	margin: 10px;
	opacity: 0.7;
	-webkit-transition: all 150ms ease-in;
	-moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
	transition: all 150ms ease-in;
}
.social-product a{
	display: block;
	height: 64px;
	width: 64px;
}
.social-product .facebook{
	background-position: -128px 0;
}
.social-product .pinterest{
	background-position: 0 0;
}
.social-product .twitter{
	background-position: -192px 0;
}
.social-product .google-plus{
	background-position: -64px 0;
}
.social-product .mail{
	background: #000;
	width: 96px;
	color: #fff;
	text-align: center;
	font-family: 'dinbold';
	height: auto;
	padding: 15px 0;
	line-height: 1.3;
}
.product-image-big:hover .social-product{
	opacity: 1;
	top: 15px;
}
.social-product .icon-product:hover{
	opacity: 1;
}
#custom-tweet-button a,
.icon-product.pinterest a{
	background: transparent !important;
	height: 64px !important;
	width: 64px !important;
	display: block;
}

/* Related block */

.block-related{
	display: block;
	clear: both;
	overflow: hidden;
	padding: 10px 0;
}
.block-related h2{
	padding-left: 10px;
	padding-right: 10px;
}
.block-related .item{
	width: 210px;
	height: 144px;
	margin: 10px;
	float: left;
	padding: 0;
	position: relative;
	overflow: hidden;
	border: 1px solid #ccc;
}
.block-related .item .product-details{
	height: 55px;
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	opacity: 0;
}
.block-related .item input{
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 100;
	opacity: 0;
}
.block-related .item .image-overlay{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	height: 144px;
	width: 211px;
	background: url(../../images/related_hover_old.png) no-repeat center center;
	-webkit-transition: all 150ms ease-in;
	-moz-transition: all 150ms ease-in;
    -ms-transition: all 150ms ease-in;
    -o-transition: all 150ms ease-in;
	transition: all 150ms ease-in;
}
.block-related .item:hover .image-overlay{
	opacity: 0.7;
}
.block-related .product-details .product-name{
	color: #666;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: normal;
}
.block-related .item:hover .product-name a,
.block-related .item:hover .product-name{
	color: #333;
	text-shadow: none;
}
.block-related .price-box{
	font-family: 'dinbold';
	color: #333;
	text-shadow: none;
}
.block-related .link-wishlist{
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: url(../../images/heart_related.png) no-repeat -16px 0;
	text-indent: -9999px;
	z-index: 100;
	opacity: 0;
}
.block-related .link-wishlist:hover{
	background-position: 0 0;
}
.block-related .product-image{
	height: 100%;
	width: auto;
	display: block;
}
.goto-brand{
	margin-top: -58px;
}
.goto-brand a{
	display: block;
	text-align: center;
	font-family: 'dinregular';
	color: #666;
	text-transform: uppercase;
}
.goto-brand a:hover{
	color: #ff3366;
}
#tab-reviews h2{
	text-align: center;
	font-family: 'dinregular';
	color: #888;
	font-size: 18px;
}
.have-a-question-prod{
	width: 500px;
	position: relative;
}
.have-a-question-prod .account-forms{
	margin-top: 0
}
.have-a-question-prod .input-text{
	width: 280px;
}
.have-a-question-prod textarea.input-text{
	height: 200px;
}

#tab-description,
#tab-info,
#tab-reviews,
#tab-return{
	padding: 0 10px;
}
#tab-description h3{
	color: #777;
	text-transform: uppercase;
}
.billmelater{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 36px;

}
.billmelater:hover .billme-info{
	height: 100px;
	opacity: 1;
	bottom: -110px;
}
.billme-info{
	z-index: 100;
	position: absolute;
	overflow: visible;
	left: 50%;
	bottom: 0px;
	margin-left: -160px;
	width: 320px;
	height: 0;
	opacity: 0;
	background: #fff;
	border: 2px solid #ccc;
	-webkit-transition: all 150ms ease-in;
		-moz-transition: all 150ms ease-in;
        -ms-transition: all 150ms ease-in;
        -o-transition: all 150ms ease-in;
		transition: all 150ms ease-in;
}
.billme-info .bill-title{
	padding: 15px;
	text-transform: uppercase;
}
.billme-info .bill-txt{
	padding: 0 20px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
.billme-info img{
	margin-top: -17px;
	margin-left: 151px;
	display: block;
}
.thankyou-msg{
	height: 90px;
	width: 320px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -160px;
	margin-top: -90px;
}
.thankyou-msg h2{
	text-align: center;
	font-size: 42px;
}
.thankyou-msg p{
	text-align: center;
}