/*sidebar*/

.col-left{
	padding: 15px 0 15px 15px;
	width: 210px;
	float: left;
}
.col-right{
	padding: 15px;
	padding-left: 0;
	width: 288px;
	float: right;
}
.col3-layout .col-right{
	width: 210px;
}
.block-title span{
	font-family: 'dinregular';
	color: #333;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	display: block;
	text-transform: uppercase;
	font-weight: bold;
}
.catalog-category-view .col-left{
	width: 165px;
}
.checkout-onepage-index .col-right{
	width: 220px;
}

.block .btn-remove{
	font-family: 'dinregular';
	text-transform: uppercase;
	color: #33CCFF;
	font-size: 11px;
	margin: 10px 0;
	text-decoration: none;
	display: block;
	clear: both;
}

/* checkout block progress */

.checkout-onepage-index .block-progress .title{
	font-size: 18px;
	font-family: 'dincond-boldbold';
	color: #ccc;
	text-transform: none;
	position: relative;
	padding-left: 30px;
	padding-top: 10px;
}
.checkout-onepage-index .block-progress .title.complete{
	color: #333;
}
.checkout-onepage-index .block-progress dt.complete img{
	position: absolute;
	left: 7px;
	top: 7px;
}
.checkout-onepage-index .block-progress dd{
	font-family: 'museo300';
	color: #888;
	font-size: 14px;
	margin-bottom: 10px;
	padding-left: 30px;
	line-height: 1.5;
}
.checkout-onepage-index .block-progress address{
	font-family: 'museo300';
	font-size: 14px;
	margin-bottom: 10px;
	color: #888;
}
.checkout-onepage-index .block-progress h2{
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
.checkout-onepage-index .block-progress .address-action{
	padding-left: 30px;
	margin-bottom: 15px;
	display: block;
}
.col-left.sidebar img{
	padding: 10px;
	max-width: 145px;
	height: auto;
}