/*toolbar*/

.toolbar{
	display: block;
	float: left;
	width: 910px;
	height: 34px;
	-webkit-transition: all 250ms ;
	-moz-transition: all 250ms ;
	-ms-transition: all 250ms ;
	-o-transition: all 250ms ;
	transition: all 250ms ;
	position: relative;
	margin: 0 10px;
	/*padding: 0px 5px;*/
	position: relative;
}
.toolbar .sorter{
	float: right;
}
.toolbar .pager{
	float: left;
}
.toolbar .sorter .view-mode .grid,
.toolbar .sorter .view-mode .list{
	height: 26px;
	width: 26px;
	display: block;
	float: right;
	margin: 0 2px;
	background: url('../../images/grid-list-blue.png');
}
.toolbar .sorter .view-mode a.grid,
.toolbar .sorter .view-mode a.list{
	background: url('../../images/grid-list-gray.png');
}
.toolbar .sorter .view-mode a:hover{
	background: url('../../images/grid-list-blue.png');
}
.toolbar .sorter .view-mode a.list,
.toolbar .sorter .view-mode .list{
	background-position: -26px 0;
}
.col2-left-layout .toolbar{
	width: 730px;
}
.toolbar-bottom{
	display: block;
	/*overflow: hidden;*/
	clear: both;
}
.toolbar-bottom .toolbar{
	margin-top: 15px;
}
.page-list{
}
.page-list,
.page-list ol,
.page-list li{
	display: inline-block;
}
.page-list li{
	padding: 2px 2px;
}
.page-list .previous,
.page-list .next{
	padding: 0 2px;
}
.limiter span{
	color: #888;
	font-family: 'dinregular';
	font-size: 15px;
	height: 16px;
	padding: 6px;
	text-transform: uppercase;
}
.toolbar select{
	padding: 0;
}
.toolbar-bottom .view-mode{
	display: none;
}
.pager li.current{
	color: #33ccff;
}